<dl-table-full *ngIf="(rows$ | async) as rows; else noData" [searchPlaceholder]="searchPlaceholder" [searchSubject]="searchSubject" [IDKey]="IDKey" [title]="title" [columns]="columns" [rows]="rows" [heading_phrase]="heading_phrase" [addButtonTitle]="addButtonTitle" [editModalComponent]="editModalComponent" [deleteModalComponent]="deleteModalComponent" [updateSuccessMessage]="updateSuccessMessage" [updateFailureMessage]="updateFailureMessage" [deleteSuccessMessage]="deleteSuccessMessage" [deleteFailureMessage]="deleteFailureMessage" [addModalComponent]="addModalComponent" [addSuccessMessage]="addSuccessMessage" [addFailureMessage]="addFailureMessage"></dl-table-full>
<ng-template #noData>
  <p class="mt-2 text-sm text-gray-700">No data available.</p>
</ng-template>
