<div
  class="relative flex max-h-dl-21 w-full transform flex-col items-center rounded-dl-3 bg-dl-tan-9 px-dl-4 pb-dl-4 pt-dl-3 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isAdding()"></mat-spinner>
  <div class="mb-dl-4 text-center">
    <p
      class="leading-dl-4 font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
    >
      Ingredients
    </p>
  </div>
  <div
    *ngIf="!isAdding()"
    class="flex h-full w-full flex-grow flex-col overflow-y-auto"
  >
    <!--List of Recipe Ingredients-->
    <div class="mb-dl-5 flex w-full flex-grow flex-col overflow-y-auto px-dl-3">
      <p
        *ngIf="displayNeedsReview().length"
        class="font-body text-dl-4 font-dl-3 text-dl-yellow-4 dark:text-dl-yellow-7"
      >
        AI Created Ingredients, Need Review
      </p>
      <!-- Show Ingredients that need reviewing -->
      <ng-container *ngFor="let ingredient of displayNeedsReview()">
        <div
          class="mb-dl-4 flex w-full flex-grow items-center justify-between rounded-dl-1 border-2 border-dl-yellow-8 bg-dl-yellow-10 px-dl-3 py-dl-2 text-dl-4 text-dl-tan-4 dark:border-dl-yellow-3 dark:bg-dl-yellow-1 dark:text-dl-tan-9"
        >
          <div
            (click)="onIngredientClick(ingredient)"
            class="flex-grow flex-wrap"
          >
            <span class="font-body font-dl-3"
              >{{ ingredient.name }}&nbsp;&nbsp;&nbsp;</span
            >
            <span class="font-body font-dl-2">
              {{ ingredient.measurement }}&nbsp;{{
                ingredient.measurementUnit
              }}</span
            >
            <span
              *ngIf="ingredient.toAdd"
              class="font-body font-dl-2 italic text-dl-tan-5 dark:text-dl-tan-6"
              >&nbsp;&nbsp;&nbsp;draft&nbsp;&nbsp;</span
            >
          </div>
          <button
            type="button"
            class="ml-dl-2 rounded-dl-2 bg-dl-yellow-10 font-serif text-dl-tan-3 dark:bg-dl-yellow-1 dark:text-dl-tan-8"
            (click)="
              onDeleteClick(
                ingredient.recipeIngredientID,
                ingredient.ingredientID
              )
            "
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="-8 -3 30 30"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </ng-container>
      <!-- Show Ingredients that don't need reviewing -->
      <ng-container *ngFor="let ingredient of displayNoReview()">
        <div
          class="mb-dl-4 flex w-full flex-grow items-center justify-between rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 text-dl-4 text-dl-tan-4 dark:bg-dl-tan-2 dark:text-dl-tan-9"
        >
          <div (click)="onIngredientClick(ingredient)">
            <span class="font-body font-dl-3"
              >{{ ingredient.name }}&nbsp;&nbsp;&nbsp;</span
            >
            <span class="font-body font-dl-2">
              {{ ingredient.measurement }}&nbsp;{{
                ingredient.measurementUnit
              }}</span
            >
            <span
              *ngIf="ingredient.toAdd"
              class="font-body font-dl-2 italic text-dl-tan-5 dark:text-dl-tan-6"
              >&nbsp;&nbsp;&nbsp;draft&nbsp;&nbsp;</span
            >
          </div>
          <button
            type="button"
            class="ml-dl-2 rounded-dl-2 bg-dl-tan-10 font-serif text-dl-tan-3 hover:bg-dl-tan-9 focus:outline-none dark:bg-dl-tan-2 dark:text-dl-tan-8 dark:hover:bg-dl-tan-3"
            (click)="
              onDeleteClick(
                ingredient.recipeIngredientID,
                ingredient.ingredientID
              )
            "
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="-8 -3 30 30"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </ng-container>
    </div>
    <button
      type="button"
      class="relative mx-dl-1 flex items-center justify-center rounded-dl-1 bg-dl-tan-10 py-dl-2 text-dl-2 transition-all duration-150 hover:bg-dl-tan-9 focus:outline-none focus:ring-2 focus:ring-dl-tan-7 dark:border dark:border-dl-tan-4 dark:bg-dl-tan-2 dark:hover:bg-dl-tan-3"
      (click)="onAddClick()"
      id="addRecipeIngredientButton"
    >
      <span class="sr-only">Add Recipe Ingredient</span>
      <svg
        class="text-dl-tan-2 dark:text-dl-tan-9"
        width="22"
        height="22"
        viewBox="0 0 15 15"
        fill="none"
      >
        <path
          d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <!-- Cancel, Submit Buttons-->
    <div class="mx-dl-1 mb-dl-1 mt-dl-3 sm:mt-dl-4 sm:flex sm:flex-row-reverse">
      <button
        type="button"
        class="shadow-s w-full justify-center rounded-dl-1 px-dl-1 py-dl-1 font-serif text-dl-5 font-dl-3 text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
        [ngClass]="{
          'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
            ingredientsToAdd().length > 0,
          'bg-dl-tan-7': ingredientsToAdd().length === 0
        }"
        [disabled]="ingredientsToAdd().length === 0"
        (click)="onSubmit()"
      >
        Submit Additions
      </button>
      <button
        type="button"
        class="mt-dl-3 w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-1 py-dl-1 font-serif text-dl-5 font-dl-3 text-dl-tan-2 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-9 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
