<p>ingredient-edit works!</p>
{{ editIngredientForm.value | json }}
{{ editIngredientForm.pristine }}
{{ editIngredientForm.dirty }}

<form
  class="m-dl-2 bg-dl-gray-1 text-dl-gray-10 "
  [formGroup]="editIngredientForm"
>
  <label class="flex items-center justify-between">
    Name:
    <input
      type="text"
      formControlName="name"
    />
  </label>
  <label class="flex items-center justify-between">
    Brand:
    <input
      type="text"
      formControlName="brand"
    />
  </label>
  <label class="flex items-center justify-between">
    Lifespan Days:
    <input
      type="number"
      formControlName="lifespanDays"
    />
  </label>
  <label class="flex items-center justify-between">
    Purchase Unit:
    <input
      type="text"
      formControlName="purchaseUnit"
    />
  </label>
  <label class="flex items-center justify-between">
    Gram Ratio:
    <input
      type="number"
      formControlName="gramRatio"
    />
  </label>
</form>
