<div
  class="relative flex h-full w-full flex-col overflow-y-auto overflow-x-hidden"
>
  <!-- Header with Profile Photo and name-->
  <div
    *ngIf="!expanded"
    class="relative mx-dl-5 mt-dl-3 flex h-dl-9 items-center border-b-2 border-dl-grey-9 pb-dl-5"
  >
    <!-- Profile Icon -->
    <button
      type="button"
      class="flex shrink-0 rounded-full bg-dl-grey-10 text-sm focus:outline-none focus:ring-2 focus:ring-dl-blue-6 focus:ring-offset-2"
      id="user-profile-image"
      aria-expanded="false"
      aria-haspopup="true"
    >
      <span class="sr-only">Expand Profile Image</span>
      <img
        *ngIf="profileImageLink"
        (click)="toggleExpand()"
        class="h-dl-7 w-dl-7 rounded-full"
        [src]="profileImageLink"
        alt="profile image"
      />
      <span
        class="inline-flex h-dl-7 w-dl-7 items-center justify-center rounded-full bg-dl-grey-9"
        *ngIf="!profileImageLink && initials"
        (click)="updatePhoto()"
      >
        <span class="text-dl-7 font-dl-3 leading-none text-dl-grey-7">{{
          initials
        }}</span>
      </span>
      <span
        *ngIf="!profileImageLink && !initials"
        class="inline-block h-dl-7 w-dl-7 overflow-hidden rounded-full bg-dl-grey-9"
        (click)="updatePhoto()"
      >
        <svg
          class="h-full w-full text-dl-grey-7"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
          />
        </svg>
      </span>
    </button>
    <!-- Name -->
    <div
      *ngIf="profile.name_first || profile.name_last"
      class="ml-dl-5 flex shrink-0 flex-col"
    >
      <span class="text-dl-7 font-dl-3 text-dl-grey-2">
        {{ profile.name_first }} {{ profile.name_last }}
      </span>
      <span *ngIf="profile.joined_at" class="text-dl-6 font-dl-1 text-dl-grey-4"
        >joined {{ profile.joined_at | date : "MMM y" }}</span
      >
    </div>
    <!-- Photo Selection -->
    <div
      id="photo-profile"
      class="border-1 absolute -bottom-8 right-3 h-dl-6 w-dl-6 rounded-full bg-dl-grey-9"
      (click)="updatePhoto()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-1 -2 24 30"
        height="59px"
        width="59px"
      >
        <path
          fill="#394D60"
          d="M20,10.5a1,1,0,0,0-1,1v7a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1H6a1,1,0,0,0,1-.68l.54-1.64a1,1,0,0,1,.95-.68H14a1,1,0,0,0,0-2H8.44A3,3,0,0,0,5.6,6.55l-.32,1H4a3,3,0,0,0-3,3v8a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3v-7A1,1,0,0,0,20,10.5Zm-9-1a4,4,0,1,0,4,4A4,4,0,0,0,11,9.5Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,11,15.5Zm11-11H21v-1a1,1,0,0,0-2,0v1H18a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0v-1h1a1,1,0,0,0,0-2Z"
        />
      </svg>
    </div>
  </div>

  <!-- Expanded View-->
  <div class="relative" *ngIf="expanded">
    <img
      *ngIf="profileImageLink"
      class="w-full object-cover"
      [src]="profileImageLink"
      alt="profile image"
      (click)="toggleExpand()"
    />
    <!-- Name -->
    <div
      *ngIf="profile.name_first || profile.name_last"
      class="z-15 absolute left-1/2 flex h-dl-4 w-3/4 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full border-2 bg-white"
    >
      <span class="ml-dl-6 text-dl-5 font-dl-3 text-dl-grey-2">
        {{ profile.name_first }} {{ profile.name_last }}
      </span>
    </div>
  </div>

  <!-- Account Details inc username, email, city, state-->
  <div class="items-left mt-dl-3 flex flex-col bg-white pb-dl-3">
    <span class="ml-dl-5 mt-dl-5 text-dl-7 font-dl-2 text-dl-blue-5"
      >Account</span
    >

    <!--Email-->
    <div *ngIf="profile.email" class="ml-dl-5 mt-dl-4 flex flex-col">
      <span class="p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2">{{
        profile.email
      }}</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">Email</span>
    </div>
    <div *ngIf="!profile.email" class="ml-dl-5 mt-dl-4 flex flex-col">
      <span class="text-dl-6 font-dl-2 text-dl-grey-6">Email</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add Email</span
      >
    </div>

    <!--Username-->
    <div *ngIf="profile.username" class="ml-dl-5 mt-dl-4 flex flex-col">
      <span class="p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2">{{
        profile.username
      }}</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">Username</span>
    </div>
    <div *ngIf="!profile.username" class="ml-dl-5 mt-dl-4 flex flex-col">
      <span class="text-dl-6 font-dl-2 text-dl-grey-6">Username</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add Username</span
      >
    </div>

    <!--First Name-->
    <div
      (click)="updateProfile('name_first')"
      *ngIf="profile.name_first"
      class="ml-dl-5 mt-dl-1 flex flex-col"
    >
      <span
        class="w-dl-13 bg-dl-grey-10 p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2"
        >{{ profile.name_first }}</span
      >
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">First Name</span>
    </div>
    <div
      (click)="updateProfile('name_first')"
      *ngIf="!profile.name_first"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span class="text-dl-6 font-dl-2 text-dl-grey-6">First Name</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add First Name</span
      >
    </div>

    <!--Last Name-->
    <div
      (click)="updateProfile('name_last')"
      *ngIf="profile.name_last"
      class="ml-dl-5 mt-dl-4 flex flex-col rounded-dl-3"
    >
      <span
        class="w-dl-13 bg-dl-grey-10 p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2"
        >{{ profile.name_last }}</span
      >
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">Last Name</span>
    </div>
    <div
      (click)="updateProfile('name_last')"
      *ngIf="!profile.name_last"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span class="p-dl-1 text-dl-6 font-dl-2 text-dl-grey-6">Last Name</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add Last Name</span
      >
    </div>

    <!--City-->
    <div
      (click)="updateProfile('city')"
      *ngIf="profile.city"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span
        class="w-dl-13 bg-dl-grey-10 p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2"
        >{{ profile.city }}</span
      >
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">City</span>
    </div>
    <div
      (click)="updateProfile('city')"
      *ngIf="!profile.city"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span class="text-dl-6 font-dl-2 text-dl-grey-6">City</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add City</span
      >
    </div>

    <!--State-->
    <div
      (click)="updateProfile('state')"
      *ngIf="profile.state"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span
        class="w-dl-6 bg-dl-grey-10 p-dl-1 text-dl-6 font-dl-2 text-dl-grey-2"
        >{{ profile.state }}</span
      >
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7">State</span>
    </div>
    <div
      (click)="updateProfile('state')"
      *ngIf="!profile.state"
      class="ml-dl-5 mt-dl-4 flex flex-col"
    >
      <span class="text-dl-6 font-dl-2 text-dl-grey-6">State</span>
      <span class="mt-dl-1 text-dl-5 font-dl-1 text-dl-grey-7"
        >Tap to add State</span
      >
    </div>
  </div>
  <!-- Links for Privacy, Help, etc -->
  <div class="items-left mt-dl-3 flex flex-col bg-white pb-dl-3">
    <span class="ml-dl-5 mt-dl-5 text-dl-7 font-dl-2 text-dl-blue-5"
      >Links</span
    >
    <!--Privacy-->
    <div (click)="onPrivacyClick()" class="ml-dl-5 flex flex-col">
      <span class="mt-dl-1 text-dl-5 font-dl-3 text-dl-grey-2"
        >Privacy Policy</span
      >
    </div>
    <!--Delete Account Data-->
    <div (click)="onDeleteAccountClick()" class="ml-dl-5 flex flex-col">
      <span class="mt-dl-1 text-dl-5 font-dl-3 text-dl-grey-2"
        >Delete Account and Data</span
      >
    </div>
  </div>
  <!-- Spacer Div-->
  <div class="flex-grow"></div>

  <!-- Display Permission Tags
  <div class="sticky bottom-3 right-2 flex flex-col">
    <div
      class="mb-dl-3 flex w-dl-10 items-center rounded-dl-3 bg-dl-teal-7 px-dl-0 py-dl-2"
    >
      <span
        class="mt-dl-1 w-full text-center text-dl-3 font-dl-3 text-dl-grey-2"
        >Data Backups: {{ profile.permDataBackupDaily6MonthRetention }}</span
      >
    </div>

    <div
      class="mb-dl-3 flex w-dl-10 items-center rounded-dl-3 bg-dl-teal-7 px-dl-2 py-dl-2"
    >
      <span
        class="mt-dl-1 w-full text-center text-dl-3 font-dl-3 text-dl-grey-2"
        >Sub No Limits: {{ profile.permRecipeSubscribeUnlimited }}</span
      >
    </div>

    <div
      class="mb-dl-3 flex w-dl-10 items-center rounded-dl-3 bg-dl-teal-7 px-dl-2 py-dl-2"
    >
      <span
        class="mt-dl-1 w-full text-center text-dl-3 font-dl-3 text-dl-grey-2"
        >Create No Limits: {{ profile.permRecipeCreateUnlimited }}</span
      >
    </div>
  </div> -->
</div>
