<div
  class="relative max-h-dl-21 w-dl-14 transform overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isAdding"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isAdding">
    <div class="flex w-full flex-col">
      <div class="mt-dl-2 space-x-1 whitespace-nowrap text-center">
        <span class="text-dl-6 text-dl-grey-5 dark:text-dl-grey-6"> Add</span
        ><span class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">{{
          (tool$ | async)!.name
        }}</span
        ><span class="text-dl-6 text-dl-grey-5 dark:text-dl-grey-6">Stock</span>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-toolID" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
            >Tool</label
          >
          <mat-form-field>
            <mat-select formControlName="toolID">
              <mat-option
                *ngFor="let tool of tools$ | async"
                [value]="tool.toolID"
              >
                {{ tool.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div id="form-quantity">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
            >Quantity</label
          >
          <mat-form-field class="w-full">
            <input matInput formControlName="quantity" />
          </mat-form-field>
        </div>
      </div>
      <!---->

      <div class="mt-dl-3">
        <button
          type="button"
          class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5 dark:bg-dl-blue-7 hover:dark:bg-dl-blue-6':
              form.valid && (!form.pristine || data.toolID),
            'bg-dl-grey-7': !form.valid || (!data.toolID && form.pristine)
          }"
          [disabled]="!form.valid || (!data.toolID && form.pristine)"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="sm:mt-0 sm:w-auto mt-dl-3 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
