<div class="relative flex h-full w-full flex-col px-dl-4">
  <!-- header -->
  <div class="mt-dl-4 flex items-center justify-between">
    <div class="ml-dl-2 flex flex-col">
      <p class="font-sans text-dl-5 font-dl-2 text-dl-tan-4 dark:text-dl-tan-7">
        {{ totalInStock$ | async }} of {{ (tools$ | async)?.length }} In Stock
      </p>
    </div>

    <!-- Add Button -->
    <button
      id="test-button"
      type="button"
      class="block min-w-dl-9 whitespace-nowrap rounded-dl-1 bg-dl-pinknew-4 px-dl-4 py-dl-1 text-center font-serif text-dl-5 font-dl-3 text-dl-tan-10 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pinknew-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pinknew-6 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 hover:dark:bg-dl-pinknew-6"
      (click)="onAddTool()"
    >
      Add Tool
    </button>
  </div>

  <!-- Search -->
  <div class="flex flex-col items-center">
    <!-- Search Bar -->
    <div class="mb-dl-4 mt-dl-5 flex">
      <svg
        width="35"
        height="35"
        viewBox="0 0 15 15"
        class="pt-dl-1 text-dl-tan-3 dark:text-dl-tan-8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        #searchInput
        type="text"
        class="ml-dl-2 w-dl-13 rounded-dl-2 border-none bg-dl-tan-10 pt-dl-2 font-body text-dl-4 text-dl-tan-4 placeholder-dl-tan-4 focus:ring-transparent dark:bg-dl-tan-2 dark:text-dl-tan-7 dark:placeholder-dl-tan-7"
        [placeholder]="
          !searchFilters.length ? 'Filter by Tool' : searchFilters[0].operand1
        "
        (input)="updateSearchFilter(searchInput.value)"
      />
    </div>
  </div>

  <!-- Tool Rows -->
  <div
    #recipeContainer
    class="tool-container mb-dl-2 flex w-full flex-grow flex-col items-center overflow-y-auto overflow-x-hidden scroll-smooth"
    (scroll)="checkToolScroll($event.target)"
  >
    <!-- Tool Card -->
    <div class="grid w-full grid-cols-2 gap-3">
      <div
        *ngFor="let tool of displayTools$ | async; let i = index"
        class="tool-card relative flex h-dl-7 flex-col justify-between rounded-dl-1 px-dl-3 py-dl-2 shadow-md"
        [ngClass]="{
          'bg-dl-tan-10 dark:bg-dl-tan-3': tool.totalStock === 0,
          'bg-dl-teal-10 dark:bg-dl-teal-2': tool.totalStock > 0
        }"
        (click)="toolCardClick(tool)"
        (touchstart)="toolCardTouchStart(tool.toolID)"
        (touchend)="toolCardTouchEnd()"
      >
        <p
          class="font-body text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
        >
          {{ tool.name }}
        </p>
        <p
          *ngIf="tool.totalStock > 0"
          class="font-body text-dl-5 font-dl-2 text-dl-tan-2 dark:text-dl-tan-9"
        >
          {{ tool.totalStock }} {{ tool.purchaseUnit }}
        </p>
        <p
          *ngIf="tool.totalStock === 0"
          class="font-body text-dl-4 font-dl-2 italic text-dl-tan-1 dark:text-dl-tan-10"
        >
          Out of Stock
        </p>
      </div>
    </div>
  </div>
</div>
