<div
  class="relative flex h-dl-21 w-full transform flex-col bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="mb-dl-3 text-center">
    <h3
      class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
    >
      Add Recipe Ingredient
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isAdding$ | async"
  ></mat-spinner>
  <div
    *ngIf="(isAdding$ | async) === false"
    class="w-full flex-grow overflow-y-auto"
  >
    <form class="h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-6 flex-grow overflow-y-auto">
          <!-- Component -->
          <div id="form-component" class="relative flex flex-col">
            <dl-text-input
              label="Recipe Component (opt)"
              formControlName="component"
              [hasError]="
                form.get('component')?.hasError('moreThan20Chars') || false
              "
              errorMessage="Must be less than 20 characters"
            ></dl-text-input>
          </div>
          <!-- Name -->
          <div id="form-ingredientName" class="relative flex flex-col">
            <dl-select-input
              label="Ingredient"
              formControlName="ingredientID"
              [options]="ingredients()"
              optionDisplayProperty="name"
              optionValueProperty="ingredientID"
              additionalOptionName="New Ingredient"
              (newOptionSelected)="onAddNewIngredient()"
            ></dl-select-input>
          </div>

          <div id="form-measurementUnit" class="relative flex flex-col">
            <dl-select-input
              label="Measurement Unit"
              formControlName="measurementUnit"
              [options]="purchaseUnits"
            ></dl-select-input>
          </div>

          <!-- Preparation -->
          <div id="form-preparation" class="relative flex flex-col">
            <dl-text-input
              label="Notes"
              formControlName="preparation"
              placeholder="ex: peeled and diced"
              [hasError]="
                form.get('preparation')?.hasError('moreThan40Chars') || false
              "
              errorMessage="Must be less than 40 characters"
            ></dl-text-input>
          </div>

          <!-- Measurement -->
          <div id="form-measurement">
            <dl-text-input
              label="Measurement"
              formControlName="measurement"
              placeholder="ex: 2.5"
              [hasError]="
                form.get('measurement')?.hasError('notPositiveFloat') || false
              "
              errorMessage="Must be a positive number"
              appValueSync
            ></dl-text-input>
          </div>

          <div id="form-purchaseUnitRatio" class="relative flex flex-col">
            <dl-text-input
              label={{purLabel()}}
              formControlName="purchaseUnitRatio"
              [hasError]="
                form.get('purchaseUnitRatio')?.hasError('notPositiveFloat') ||
                false
              "
              errorMessage="Must be a positive number"
              appValueSync
            ></dl-text-input>
            <div
              *ngIf="gettingUnitRatio()"
              class="absolute -bottom-1 left-3 flex"
            >
              <mat-spinner
                [diameter]="18"
                class="my-app-custom-spinner"
              ></mat-spinner>
              <p
                class="ml-dl-3 text-dl-4 font-dl-2 italic text-dl-grey-3 dark:text-dl-grey-8"
              >
                Getting Suggested Ratio...
              </p>
            </div>
            <p
              *ngIf="
                purchaseUnitRatioSuggestion() ===
                form.get('purchaseUnitRatio')?.value
              "
              class="absolute -bottom-1 ml-dl-3 text-dl-4 font-dl-2 italic text-dl-grey-3 dark:text-dl-grey-8"
            >
              Suggested Ratio
            </p>
          </div>
        </div>
        <!---->

        <div class="mt-dl-4">
          <button
            type="button"
            class="shadow-s sm:ml-dl-4 h-dl-5 w-full rounded-dl-1 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pink-4 dark:bg-dl-pink-7':
                form.valid && !form.pristine,
              'bg-dl-grey-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="sm:mt-0 sm:w-auto mt-dl-3 h-dl-5 w-full rounded-dl-1 bg-white px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 hover:dark:bg-dl-grey-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
