<div
  class="sm:my-dl-3 sm:w-full sm:max-w-lg sm:p-dl-6 relative transform overflow-hidden rounded-dl-3 bg-white px-dl-4 pb-dl-3 pt-dl-2 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <form [formGroup]="form" (ngSubmit)="onConfirm()">
    <div class="relative flex w-dl-13 max-w-full flex-col">
      <div class="sm:ml-dl-1 sm:mt-dl-0 sm:text-left mt-dl-1 text-center">
        <h3
          class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
          id="purchaseIngredientsModal"
        >
          Add Ingredient Inventory
        </h3>
        <div class="mt-dl-2 space-x-1 whitespace-nowrap">
          <span class="text-dl-4 text-dl-grey-5 dark:text-dl-grey-6"
            >To mark these Shopping List items as purchased, and add them to
            your kitchen inventory, specify the store you purchased them
            at.</span
          >
        </div>
      </div>
      <div class="sm:block absolute right-0 top-0 hidden pr-dl-2 pt-dl-2">
        <button
          type="button"
          class="rounded-dl-2 bg-white text-dl-grey-6 hover:text-dl-grey-5 focus:outline-none dark:bg-dl-grey-1 dark:text-dl-grey-5 dark:hover:text-dl-grey-6"
          (click)="onCancel()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-store">
          <dl-text-input label="Store" formControlName="store"></dl-text-input>
        </div>
      </div>
      <!---->

      <div class="sm:mt-dl-4 sm:flex sm:flex-row-reverse mt-dl-3">
        <button
          type="button"
          class="mb-dl-2 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 border px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out dark:text-dl-grey-1"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'bg-dl-pink-4 dark:border-dl-pink-7 dark:bg-dl-pink-7':
              form.valid && !form.pristine,
            'bg-dl-grey-7 dark:border-dl-grey-3 dark:bg-dl-grey-3':
              !form.valid || form.pristine
          }"
          [disabled]="!form.valid || form.pristine"
          (click)="onConfirm()"
        >
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
