<div
  class="h-dl-8 w-10/12 rounded-dl-4 p-dl-1"
  [ngStyle]="
    isSelected
      ? { transform: 'scale(1.1)', transition: 'transform 0.3s ease-in-out' }
      : { transform: 'scale(1)', transition: 'transform 0.3s ease-in-out' }
  "
  [ngClass]="{
    'bg-gradient-to-br from-dl-pinknew-3 to-dl-pinknew-6': isSelected,
    'bg-dl-tan-9': !isSelected
  }"
>
  <div
    class="relative flex h-full w-full items-center justify-between rounded-dl-4 px-dl-4 pb-dl-4"
    [ngClass]="{
      'bg-dl-tan-10 shadow-xl': isSelected,
      'bg-dl-tan-9 shadow-md': !isSelected
    }"
  >
    <!-- Most Popular -->
    <div
      *ngIf="package.identifier === '$rc_six_month'"
      class="absolute left-0 top-0 flex w-dl-9 flex-col items-center rounded-br-xl rounded-tl-md py-dl-1.5"
      [ngClass]="{
        'bg-dl-tan-9': !isSelected,
        'bg-gradient-to-r from-dl-pinknew-3 to-dl-pinknew-4': isSelected
      }"
    >
      <span
        class="text-center font-sans text-dl-4 font-dl-4 text-dl-tan-10"
        [ngClass]="{
          'text-dl-pinknew-6': !isSelected,
          'text-dl-tan-10': isSelected
        }"
        >MOST POPULAR</span
      >
    </div>

    <!-- Title/Period/Price -->
    <div
      class="flex flex-col"
      [ngClass]="{
      'mt-dl-7': package.identifier === '$rc_six_month',
    }"
    >
      <p
        class="whitespace-nowrap font-sans text-dl-5 font-dl-3 text-dl-pinknew-1"
      >
        {{ getTitleString(package.identifier) }}
      </p>
      <span
        class="whitespace-nowrap font-sans text-dl-4 font-dl-2 text-dl-pinknew-1"
      >
        {{
          getMonthlyPrice(
            package.product.price,
            package.product.subscriptionPeriod
          )
            | number : "1.0-2"
            | currency : package.product.currencyCode
        }}
        / MO</span
      >
    </div>

    <!-- Monthly Rate -->
    <span
      class="whitespace-nowrap text-center font-sans text-dl-5 font-dl-3 text-dl-pinknew-1"
      [ngClass]="{
        'mt-dl-5': package.identifier === '$rc_six_month',
      }"
      >{{ getPeriodString(package.product.subscriptionPeriod) }} -
      {{
        package.product.price
          | number : "1.0-2"
          | currency : package.product.currencyCode
      }}</span
    >
  </div>
</div>
