<div class="w-full">
  <div *ngIf="displayRecipe$ | async">
    <img
      *ngIf="(displayRecipe$ | async).photo"
      [src]="(displayRecipe$ | async).photo"
      alt="Recipe Image"
      class="w-full object-cover"
    />
    <!-- Overview -->
    <div class="mx-dl-5 mt-dl-4 flex justify-between">
      <h1 class="ml-dl-6 text-dl-8 font-dl-3 leading-dl-2 text-dl-grey-2">
        {{ (displayRecipe$ | async).title }}
      </h1>
      <div>
        <p class="mt-dl-5 text-dl-5 italic text-dl-teal-7">Ready to Make!</p>
      </div>
    </div>
    <div class="mx-dl-5 mt-dl-1 flex justify-between">
      <p class="ml-dl-6 text-dl-6 font-dl-2 leading-dl-2 text-dl-grey-6">
        {{ (recipeCategory$ | async)?.name }}
      </p>
      <span class="ml-dl-6 text-dl-6 font-dl-3 text-dl-grey-6"
        >Servings: {{ (displayRecipe$ | async).servings }}</span
      >
    </div>

    <!--Times -->
    <div
      class="mx-dl-5 mt-dl-7 flex items-center justify-between border-b border-dl-grey-6 px-dl-1 pb-dl-5 pt-dl-1"
    >
      <svg
        class="ml-dl-6 text-dl-grey-4"
        width="22"
        height="22"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.50009 0.877014C3.84241 0.877014 0.877258 3.84216 0.877258 7.49984C0.877258 11.1575 3.8424 14.1227 7.50009 14.1227C11.1578 14.1227 14.1229 11.1575 14.1229 7.49984C14.1229 3.84216 11.1577 0.877014 7.50009 0.877014ZM1.82726 7.49984C1.82726 4.36683 4.36708 1.82701 7.50009 1.82701C10.6331 1.82701 13.1729 4.36683 13.1729 7.49984C13.1729 10.6328 10.6331 13.1727 7.50009 13.1727C4.36708 13.1727 1.82726 10.6328 1.82726 7.49984ZM8 4.50001C8 4.22387 7.77614 4.00001 7.5 4.00001C7.22386 4.00001 7 4.22387 7 4.50001V7.50001C7 7.63262 7.05268 7.7598 7.14645 7.85357L9.14645 9.85357C9.34171 10.0488 9.65829 10.0488 9.85355 9.85357C10.0488 9.65831 10.0488 9.34172 9.85355 9.14646L8 7.29291V4.50001Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <p
        *ngIf="(displayRecipe$ | async).timePrep"
        class="text-dl-5 font-dl-2 text-dl-grey-4"
      >
        Prep: {{ timeString((displayRecipe$ | async).timePrep) }}
      </p>
      <p
        *ngIf="(displayRecipe$ | async).timeBake"
        class="text-dl-5 font-dl-2 text-dl-grey-4"
      >
        Bake: {{ timeString((displayRecipe$ | async).timeBake) }}
      </p>
      <p
        *ngIf="(displayRecipe$ | async).timeBake"
        class="text-dl-6 font-dl-3 text-dl-grey-3"
      >
        Total:
        {{
          timeString(
            (displayRecipe$ | async).timeBake +
              (displayRecipe$ | async).timePrep
          )
        }}
      </p>
    </div>

    <!-- Ingredients -->
    <div
      class="mx-dl-5 mt-dl-5 flex flex-col border-b border-dl-grey-6 pb-dl-5"
    >
      <div class="flex justify-between">
        <p class="mb-dl-3 text-dl-6 font-dl-3 text-dl-grey-2">Ingredients</p>
        <button
          id="edit-recipe-ingredients-button"
          type="button"
          class="mr-dl-7 block w-dl-6 whitespace-nowrap rounded-dl-1 border border-dl-pink-4 bg-white px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3 text-dl-pink-4 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-grey-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
          (click)="editReciptIngredients()"
        >
          Edit
        </button>
      </div>
      <div
        *ngFor="let ingredient of displayIngredients$ | async"
        class="mt-dl-2 flex"
      >
        <span class="text-dl-5 font-dl-2 text-dl-grey-3">
          {{ ingredient.name }}
        </span>
        <span class="ml-dl-3 text-dl-5 font-dl-2 text-dl-blue-3">
          {{ ingredient.measurement }} {{ ingredient.measurementUnit }}
        </span>
      </div>
    </div>

    <!-- Tools -->
    <div
      *ngIf="displayTools$ | async"
      class="mx-dl-5 mt-dl-5 flex flex-col border-b border-dl-grey-6 pb-dl-5"
    >
      <div class="flex justify-between">
        <p class="mb-dl-3 text-dl-6 font-dl-3 text-dl-grey-2">Tools</p>
        <button
          id="edit-recipe-tools-button"
          type="button"
          class="mr-dl-7 block w-dl-6 whitespace-nowrap rounded-dl-1 border border-dl-pink-4 bg-white px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3 text-dl-pink-4 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-grey-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
          (click)="editRecipeTools()"
        >
          Edit
        </button>
      </div>
      <div *ngFor="let tool of displayTools$ | async" class="mt-dl-2 flex">
        <span class="text-dl-5 font-dl-2 text-dl-grey-3">
          {{ tool.name }}
        </span>
        <span
          *ngIf="tool.quantity > 0"
          class="ml-dl-3 text-dl-5 font-dl-2 text-dl-blue-3"
        >
          {{ tool.quantity }}
        </span>
      </div>
    </div>

    <!-- Steps -->
    <div
      *ngIf="displayStepsWithPhoto$ | async"
      class="mx-dl-5 mt-dl-5 flex flex-col items-center border-b border-dl-grey-6 pb-dl-5"
    >
      <div class="mb-dl-6 flex w-full justify-between">
        <p class="mb-dl-3 text-dl-6 font-dl-3 text-dl-grey-2">Steps</p>
        <button
          id="edit-recipe-tools-button"
          type="button"
          class="mr-dl-7 block w-dl-6 whitespace-nowrap rounded-dl-1 border border-dl-pink-4 bg-white px-dl-1 text-center text-dl-4 font-dl-3 text-dl-pink-4 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-grey-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
          (click)="editRecipeTools()"
        >
          Edit
        </button>
      </div>
      <div
        *ngFor="let step of displayStepsWithPhoto$ | async; let i = index"
        class="mb-dl-6 flex w-full flex-col items-center justify-center"
      >
        <div class="flex w-full mb-dl-2 items-start">
          <!-- Step number with consistent width and padding -->
          <div class="text-dl-5 w-dl-4 ml-dl-3 text-dl-grey-2 mr-dl-1 px-dl-3">{{ i + 1 }}.</div>
          <!-- Description taking the remaining width -->
          <div class="flex-1">
            <p class="whitespace-normal mr-dl-6 text-dl-5 font-dl-2 text-dl-grey-2">
              {{ step.description }}
            </p>
          </div>
        </div>
        <!-- Step photo -->
        <img
          *ngIf="step.photo"
          [src]="step.photo"
          class="mt-dl-2 w-4/5 object-cover"
        />
      </div>
    </div>
  </div>
</div>
