<div
  class="flex h-full w-full flex-col items-center bg-dl-tan-9 px-dl-2 py-dl-8 dark:bg-dl-tan-1 sm:px-dl-6 lg:px-dl-8"
>
  <mat-spinner
    class="my-app-custom-spinner w-full"
    [diameter]="84"
    *ngIf="isLoading()"
  ></mat-spinner>
  <div *ngIf="!isLoading()">
    <div class="flex flex-grow"></div>
    <div class="mt-dl-3 w-full items-center justify-center">
      <img
        class="mx-auto h-12 w-auto"
        src="/assets/icons/logo-text-only-dark.svg"
        alt="doughleap logo"
      />
    </div>

    <!--main card-->
    <form
      [formGroup]="password_reset_form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center"
    >
      <div class="relative mb-dl-5 flex flex-col">
        <div class="mt-dl-4 text-center">
          <!-- <h3 class="leading-dl-4 text-dl-5 font-dl-3 text-dl-tan-3 dark:text-dl-tan-8">Sign In</h3> -->
        </div>
      </div>
      <!--FORM FIELDS-->
      <div id="form-newPassword">
        <div class="relative flex flex-col">
          <label
            class="mb-dl-1 ml-dl-1 font-sans text-dl-4 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
            for="newPassword"
            >New Password</label
          >
          <div class="w-dl-15">
            <input
              type="password"
              formControlName="newPassword"
              class="w-dl-15 rounded-md border-0 p-dl-2 font-sans text-dl-tan-2 ring-1 ring-inset ring-dl-tan-7 placeholder:text-dl-tan-6 focus:ring-2 focus:ring-inset focus:ring-dl-green-5 dark:text-dl-tan-9"
            />

            <div
              [ngClass]="{
                invisible: !newPasswordErrorMessage()
              }"
              class="mt-dl-1 font-body text-dl-4 font-dl-2 text-dl-red-5 dark:text-dl-red-6"
            >
              {{ newPasswordErrorMessage() }}
            </div>
          </div>
        </div>
      </div>

      <div id="form-confirmPassword">
        <div class="relative flex flex-col">
          <label
            class="mb-dl-1 ml-dl-1 font-sans text-dl-4 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
            for="confirmPassword"
            >Confirm Password</label
          >
          <div class="w-dl-15">
            <input
              type="password"
              formControlName="confirmPassword"
              class="w-dl-15 rounded-md border-0 p-dl-2 font-sans text-dl-tan-2 ring-1 ring-inset ring-dl-tan-7 placeholder:text-dl-tan-6 focus:ring-2 focus:ring-inset focus:ring-dl-green-5 dark:text-dl-tan-9"
            />

            <div
              [ngClass]="{
                invisible: !confirmPasswordErrorMessage()
              }"
              class="mt-dl-1 font-body text-dl-4 font-dl-2 text-dl-red-5 dark:text-dl-red-6"
            >
              {{ confirmPasswordErrorMessage() }}
            </div>
          </div>
        </div>
      </div>
      <!---->
      <button
        type="submit"
        [disabled]="
          password_reset_form.invalid ||
          password_reset_form.get('newPassword')!.touched === false ||
          password_reset_form.get('confirmPassword')!.touched === false
        "
        style="height: 40px; width: 296px"
        class="shadow-s mt-dl-5 inline-flex items-center justify-center rounded-dl-1 font-sans text-dl-5 font-dl-2 text-dl-tan-10 dark:text-dl-tan-1"
        [ngClass]="{
          'cursor-pointer bg-dl-green-4 hover:bg-dl-green-5 dark:bg-dl-green-7 hover:dark:bg-dl-green-6':
            password_reset_form.invalid === false &&
            password_reset_form.get('newPassword')!.touched &&
            password_reset_form.get('confirmPassword')!.touched,
          'bg-dl-tan-7':
            password_reset_form.invalid ||
            password_reset_form.get('newPassword')!.touched === false ||
            password_reset_form.get('confirmPassword')!.touched === false
        }"
      >
        Save New Password
      </button>
    </form>

    <!-- Space Div -->
    <div class="flex flex-grow"></div>
    <p
      *ngIf="failureMessage()"
      class="mt-dl-4 text-center font-body text-dl-4 text-dl-red-5 dark:text-dl-red-6"
    >
      {{ failureMessage() }}
    </p>
    <p
      *ngIf="successMessage()"
      class="mt-dl-4 text-center font-body text-dl-4 text-dl-teal-4 dark:text-dl-teal-7"
    >
      {{ successMessage() }}
    </p>
    <p
      class="mt-dl-4 text-center font-sans text-dl-4 text-dl-tan-4 dark:text-dl-tan-7"
    >
      New here?
      <a
        class="ml-dl-2 cursor-pointer font-serif text-dl-5 font-dl-3 leading-dl-2 text-dl-green-5 dark:text-dl-green-8"
        routerLink="/register"
        >Create an account</a
      >
    </p>
  </div>
</div>
