{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 300,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": true
      }
    }
  ]
}
