<div
  class="relative flex h-dl-21 transform flex-col items-center bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="mb-dl-3 text-center">
    <div class="mt-dl-2 space-x-1 whitespace-normal">
      <span class="text-dl-6 font-dl-2 text-dl-grey-5 dark:text-dl-grey-6"
        >Edit
        <span class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">{{
          recipeIngredient().ingredient
        }}</span
        ><span
          *ngIf="recipe()"
          class="text-dl-6 font-dl-3 text-dl-grey-5 dark:text-dl-grey-6"
        >
          in </span
        ><span
          *ngIf="recipe()"
          class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
          >{{ recipe().title }}</span
        ></span
      >
    </div>
  </div>
  <p
    *ngIf="recipeIngredient().RIneedsReview"
    class="mb-dl-3 text-dl-5 font-dl-3 text-dl-pink-4 dark:text-dl-pink-7"
  >
    Confirm existing or Edit details
  </p>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isUpdating"></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="!isUpdating"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-4 flex-grow overflow-y-auto">
          <!-- Measurement -->
          <div id="form-measurement" class="relative flex flex-col">
            <dl-text-input
              label="Measurement"
              formControlName="measurement"
              placeholder="ex: 2.5"
              [hasError]="
                form.get('measurement')?.hasError('notPositiveFloat') || false
              "
              errorMessage="Must be a positive number"
              appValueSync
            ></dl-text-input>
          </div>
          <div id="form-measurementUnit" class="relative flex flex-col">
            <dl-select-input
              label="Unit (curr:
              {{ recipeIngredient().measurementUnit }})"
              formControlName="measurementUnit"
              [options]="unitOptions"
            ></dl-select-input>
          </div>
          <!-- Component -->
          <div id="form-component" class="relative flex flex-col">
            <dl-text-input
              label="Component"
              placeholder="ex: filling"
              formControlName="component"
              [hasError]="
                form.get('component')?.hasError('moreThan20Chars') || false
              "
              errorMessage="Must be less than 20 characters"
            ></dl-text-input>
          </div>
          <!-- Preparation -->
          <div id="form-preparation" class="relative flex flex-col">
            <dl-text-input
              label="Notes"
              formControlName="preparation"
              placeholder="ex: peeled and diced"
              [hasError]="
                form.get('preparation')?.hasError('moreThan40Chars') || false
              "
              errorMessage="Must be less than 40 characters"
            ></dl-text-input>
          </div>

          <div id="form-purchaseUnitRatio" class="relative flex flex-col">
            <dl-text-input
              label="{{ purLabel() }}"
              formControlName="purchaseUnitRatio"
              [hasError]="
                form.get('purchaseUnitRatio')?.hasError('notPositiveFloat') ||
                false
              "
              errorMessage="Must be a positive number"
              appValueSync
            ></dl-text-input>
            <div
              *ngIf="gettingUnitRatio()"
              class="absolute -bottom-1 left-3 flex"
            >
              <mat-spinner
                [diameter]="18"
                class="my-app-custom-spinner"
              ></mat-spinner>
              <p
                class="ml-dl-3 text-dl-4 font-dl-2 italic text-dl-grey-3 dark:text-dl-grey-8"
              >
                Getting Suggested Ratio...
              </p>
            </div>
            <p
              *ngIf="
                purchaseUnitRatioSuggestion() ===
                form.get('purchaseUnitRatio')?.value
              "
              class="absolute -bottom-1 ml-dl-3 text-dl-4 font-dl-2 italic text-dl-grey-3 dark:text-dl-grey-8"
            >
              Suggested Ratio
            </p>
          </div>
        </div>
        <!---->

        <div class="mt-dl-3">
          <button
            type="button"
            *ngIf="recipeIngredient().RIneedsReview && form.pristine"
            class="mb-dl-3 h-dl-5 w-full justify-center rounded-dl-1 border-2 bg-dl-pink-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white shadow-sm dark:border-dl-pink-7 dark:bg-dl-pink-7 dark:text-dl-grey-1"
            (click)="onConfirm()"
          >
            Confirm
          </button>
          <button
            type="button"
            class="shadow-s h-dl-5 w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 transition-all duration-200 ease-in-out"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'bg-dl-pink-4 text-white dark:border-dl-pink-7 dark:bg-dl-pink-7 dark:text-dl-grey-1':
                form.valid && !form.pristine,
              'bg-dl-grey-9 text-dl-grey-4 dark:bg-dl-grey-2 dark:text-dl-grey-7':
                !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="mt-dl-3 h-dl-5 w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 dark:bg-dl-grey-1 dark:text-dl-grey-10"
            (click)="onCancel()"
          >
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
