<div class="flex h-full flex-col items-center">
  <!-- Title and Edit Icon-->
  <div class="mb-dl-6 flex w-full justify-between px-dl-5">
    <p class="mb-dl-3 mt-dl-6 text-dl-7 font-dl-3 text-dl-grey-2">
      Shopping In Progress
    </p>
    <svg
      class="mt-dl-4"
      width="50"
      height="50"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      (click)="toggleMenu($event)"
    >
      <path
        d="M3.625 7.5C3.625 8.12132 3.12132 8.625 2.5 8.625C1.87868 8.625 1.375 8.12132 1.375 7.5C1.375 6.87868 1.87868 6.375 2.5 6.375C3.12132 6.375 3.625 6.87868 3.625 7.5ZM8.625 7.5C8.625 8.12132 8.12132 8.625 7.5 8.625C6.87868 8.625 6.375 8.12132 6.375 7.5C6.375 6.87868 6.87868 6.375 7.5 6.375C8.12132 6.375 8.625 6.87868 8.625 7.5ZM12.5 8.625C13.1213 8.625 13.625 8.12132 13.625 7.5C13.625 6.87868 13.1213 6.375 12.5 6.375C11.8787 6.375 11.375 6.87868 11.375 7.5C11.375 8.12132 11.8787 8.625 12.5 8.625Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"
      ></path>
    </svg>
    <div
      #menu
      *ngIf="menuOpen"
      class="focus:outling-none absolute right-16 top-2 z-10 flex flex-col rounded-dl-1 bg-white shadow-md ring-1 ring-dl-grey-1 ring-opacity-5 ease-out"
    >
      <button
        (click)="onDeleteClick()"
        type="button"
        class="block cursor-pointer px-dl-3 py-dl-2 text-dl-5 text-dl-grey-3 hover:bg-dl-grey-10"
      >
        Delete List
      </button>
    </div>
  </div>

  <!-- Header Row -->
  <div class="mb-dl-5 flex w-full justify-between px-dl-5">
    <p class="mb-dl-3 ml-dl-9 mt-dl-5 text-dl-6 font-dl-3 text-dl-grey-2">
      Item
    </p>
    <p class="mb-dl-3 mr-dl-5 mt-dl-5 text-dl-6 font-dl-3 text-dl-grey-2">
      Purchased Amount
    </p>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isLoading() === true"
  ></mat-spinner>
  <!-- List -->
  <div
    *ngIf="!isLoading()"
    class="relative mb-dl-2 flex max-h-dl-18 w-11/12 flex-col items-center overflow-y-auto"
  >
    <div
      class="relative mb-dl-3 flex w-full items-center justify-between rounded-dl-2 bg-dl-grey-10 px-dl-5 py-dl-1"
      *ngFor="let item of displaySLIngr().items"
    >
      <div
        class="mx-dl-2 flex h-dl-4 items-center justify-between rounded-dl-2 px-3"
      >
        <!-- Green Checkbox (only if item is already purchased and saved)-->
        <svg
          *ngIf="item.store"
          xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
          xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
          xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          height="25"
          width="25"
          viewBox="-949 951 110 105"
        >
          <switch>
            <g i:extraneous="self">
              <g>
                <path
                  [attr.fill]="'hsl(160, 51%, 49%)'"
                  d="M-873.7,953.5h-50.5c-12.3,0-22.2,10-22.2,22.2v50.5c0,12.3,10,22.2,22.2,22.2h50.5c12.3,0,22.2-10,22.2-22.2v-50.5     C-851.5,963.5-861.5,953.5-873.7,953.5z M-874.1,995.8l-24.5,24.5c-1.5,1.5-3.5,2.3-5.5,2.3s-4.1-0.8-5.5-2.3l-14.1-14.1     c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0l8.6,8.6l19-19c3.1-3.1,8-3.1,11.1,0C-871.1,987.8-871.1,992.8-874.1,995.8z"
                />
              </g>
            </g>
          </switch>
        </svg>
        <!-- Grey Checkbox (only if item 'purchasedMeasurement' is not present)-->
        <svg
          *ngIf="!item.purchasedMeasurement && !item.store"
          xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
          xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
          xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          height="25"
          width="25"
          viewBox="-949 951 110 105"
        >
          <switch>
            <g i:extraneous="self">
              <g>
                <path
                  [attr.fill]="'hsl(216, 33%, 97%)'"
                  d="M-873.7,953.5h-50.5c-12.3,0-22.2,10-22.2,22.2v50.5c0,12.3,10,22.2,22.2,22.2h50.5c12.3,0,22.2-10,22.2-22.2v-50.5     C-851.5,963.5-861.5,953.5-873.7,953.5z M-874.1,995.8l-24.5,24.5c-1.5,1.5-3.5,2.3-5.5,2.3s-4.1-0.8-5.5-2.3l-14.1-14.1     c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0l8.6,8.6l19-19c3.1-3.1,8-3.1,11.1,0C-871.1,987.8-871.1,992.8-874.1,995.8z"
                />
              </g>
            </g>
          </switch>
        </svg>
        <!-- Pink Checkbox (only if item 'purchasedMeasurement' is present but not yet saved)-->
        <svg
          *ngIf="!item.store && item.purchasedMeasurement"
          xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
          xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
          xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          height="25"
          width="25"
          viewBox="-949 951 110 105"
        >
          <switch>
            <g i:extraneous="self">
              <g>
                <path
                  [attr.fill]="'hsl(334, 86%, 67%)'"
                  d="M-873.7,953.5h-50.5c-12.3,0-22.2,10-22.2,22.2v50.5c0,12.3,10,22.2,22.2,22.2h50.5c12.3,0,22.2-10,22.2-22.2v-50.5     C-851.5,963.5-861.5,953.5-873.7,953.5z M-874.1,995.8l-24.5,24.5c-1.5,1.5-3.5,2.3-5.5,2.3s-4.1-0.8-5.5-2.3l-14.1-14.1     c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0l8.6,8.6l19-19c3.1-3.1,8-3.1,11.1,0C-871.1,987.8-871.1,992.8-874.1,995.8z"
                />
              </g>
            </g>
          </switch>
        </svg>
        <!-- Box to cover Checkmark (only if item 'purchasedMeasurement' is present but not yet saved)-->
        <div
          *ngIf="!item.store && item.purchasedMeasurement"
          class="absolute left-12 top-4 z-20 h-4 w-4 bg-dl-pink-7"
        ></div>

        <span class="ml-dl-2 text-dl-5 font-dl-3 text-dl-grey-1">
          {{ item.name }}
          <span class="text-dl-5 font-dl-2 text-dl-grey-3">
            {{ Math.ceil(item.needMeasurement) }} {{ item.needUnit }}
          </span>
        </span>
      </div>
      <div class="flex justify-between items-center">
        <p class="text-dl-4 mr-dl-2 font-dl-2 italic text-dl-grey-4">
          {{ item.needUnit }}s
        </p>
        <input
          class="rounded-dl-1 border-0"
          type="number"
          min="0"
          max="999"
          placeholder="0"
          [(ngModel)]="item.purchasedAmount"
          (ngModelChange)="
            onPurchasedAmountChange(item.ingredientID, item.purchasedAmount)
          "
        />
      </div>
    </div>
  </div>

  <!-- Spacer div -->
  <div class="flex-grow"></div>

  <!-- Save Button -->
  <button
    type="button"
    *ngIf="isLoading() === false && displaySLIngr().itemsToSave.length"
    class="mb-dl-2 block h-dl-4 w-dl-16 whitespace-nowrap rounded-dl-1 border bg-dl-pink-4 px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out"
    (click)="onSaveClick()"
  >
    {{ saveButtonText }}
  </button>
</div>
