<div class="flex h-full flex-col items-center">
  <div class="flex h-full flex-col items-center" *ngIf="!this.isDeleting()">
    <!-- Title and Edit Icon-->
    <div
      class="mb-dl-6 mt-dl-2 flex w-full items-center justify-between px-dl-2"
    >
      <span
        *ngIf="listShares().length === 0"
        class="mb-dl-3 w-full pt-dl-3 font-sans text-dl-5 font-dl-3 italic text-dl-tan-2 dark:text-dl-tan-9"
      >
        List not shared
      </span>
      <span
        *ngIf="listShares().length > 0"
        class="mb-dl-3 w-full pt-dl-3 font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
      >
        List Shared with
        <span
          (click)="onViewListShares()"
          class="font-sans text-dl-green-3 dark:text-dl-green-8"
          >{{ friendsShared().length }}
          {{ friendsShared().length > 1 ? "people" : "person" }}</span
        >
      </span>
      <!-- Add Button -->
      <button
        id="add-button"
        type="button"
        class="block min-w-dl-8 whitespace-nowrap rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-2 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-10 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pinknew-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pinknew-6 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 hover:dark:bg-dl-pinknew-6"
        [ngClass]="{
          invisible: friendsNotShared().length === 0
        }"
        (click)="onShareClick()"
      >
        Share List
      </button>
    </div>

    <!-- Header Row -->
    <div class="mb-dl-5 flex w-full justify-between px-dl-5">
      <p
        class="mb-dl-3 mt-dl-5 pl-dl-7 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
      >
        Item
      </p>
      <p
        class="mb-dl-3 mt-dl-5 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
      >
        Purchased Amount
      </p>
    </div>
    <!-- List -->
    <div
      *ngIf="!isLoading()"
      class="relative mb-dl-2 flex w-dl-16 flex-grow flex-col items-center overflow-y-auto"
    >
      <div
        class="relative mb-dl-3 flex min-h-dl-6 w-full items-center justify-between rounded-dl-2 bg-dl-tan-10 px-dl-5 py-dl-2 dark:bg-dl-tan-2"
        *ngFor="let item of displaySLIngr().items"
      >
        <div
          class="mr-dl-2 flex h-dl-4 items-center justify-between rounded-dl-2 pr-3"
        >
          <img
            *ngIf="item.store"
            [src]="checkmark()"
            alt="Checkmark Icon"
            class="h-7 w-7"
          />
          <img
            *ngIf="
              (!item.store && !item.purchasedMeasurement) ||
              item.purchasedMeasurement < item.needMeasurement
            "
            (click)="onDeleteItemClick(item.shoppingListIngredientID)"
            [src]="trash()"
            alt="Trash Icon"
            class="h-7 w-7"
          />
          <img
            *ngIf="!item.store && item.purchasedMeasurement && item.valueValid"
            [src]="draftIcon()"
            alt="Draft Icon"
            class="h-7 w-7"
          />

          <div class="ml-dl-4 flex flex-col">
            <span
              class="font-body text-dl-4 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
            >
              {{
                displayIngredientName(
                  item.name,
                  item.needMeasurement,
                  item.needUnit
                )
              }}
            </span>
            <div class="flex items-center">
              <span
                class="mr-dl-2 font-body text-dl-4 font-dl-2 text-dl-tan-3 dark:text-dl-tan-8"
              >
                min. {{ Math.ceil(item.needMeasurement) }}
                {{
                  displayMeasurementUnit(item.needUnit, item.needMeasurement)
                }}
              </span>
              <p
                *ngIf="!item.valueValid"
                class="mr-dl-2 font-body text-dl-4 font-dl-3 text-dl-red-4 dark:text-dl-red-7"
              >
                buy more
              </p>
            </div>
          </div>
        </div>
        <div class="relative flex items-center justify-between">
          <input
            class="w-full rounded-md border-0 bg-dl-tan-10 px-dl-4 py-dl-4 text-dl-5 text-dl-tan-1 outline-none ring-2 ring-inset ring-dl-tan-8 transition-all duration-200 ease-in-out placeholder:text-dl-tan-2 focus:bg-dl-tan-10 focus:shadow-md focus:shadow-dl-green-5/20 focus:ring-2 focus:ring-inset focus:ring-dl-green-5 dark:bg-dl-tan-3 dark:text-dl-tan-9 dark:ring-dl-tan-1 placeholder:dark:text-dl-tan-9 dark:focus:bg-dl-tan-4"
            type="number"
            [min]="item.needMeasurement"
            max="999"
            placeholder="0"
            [(ngModel)]="item.purchasedAmount"
            [ngClass]="{
              hidden: item.store
            }"
            (blur)="
              onPurchasedAmountChange(item.ingredientID, item.purchasedAmount)
            "
          />
          <div
            class="mr-dl-3 flex w-dl-6 flex-col items-center"
            *ngIf="item.store"
            [hidden]="!item.store"
          >
            <p
              class="font-body text-dl-4 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
            >
              {{ Math.ceil(item.purchasedMeasurement) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Spacer div -->
    <div class="flex-grow"></div>

    <!-- Save Button -->
    <button
      type="button"
      *ngIf="isLoading() === false && displaySLIngr().itemsToSave.length"
      class="mb-dl-2 block h-dl-5 w-dl-16 whitespace-nowrap rounded-dl-1 bg-dl-pinknew-4 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-10 shadow-lg transition-all duration-200 ease-in-out dark:border dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 dark:text-dl-tan-1"
      (click)="onSaveClick()"
    >
      {{ saveButtonText }}
    </button>
  </div>
  <div
    *ngIf="isDeleting() === true || isLoading() === true"
    class="flex h-full w-full items-center justify-center"
  >
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>
</div>
