<div class="flex h-full flex-col items-center">
  <div class="flex h-full flex-col items-center">
    <!-- Title and Edit Icon-->
    <div
      class="mb-dl-6 mt-dl-2 flex w-full items-center justify-between px-dl-2"
    >
      <span
        *ngIf="listShares().length === 0"
        class="mb-dl-3 w-full pt-dl-3 italic text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
      >
        List not shared
      </span>
      <span
        *ngIf="listShares().length > 0"
        class="mb-dl-3 w-full pt-dl-3 text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
      >
        Shared with
        <span
          (click)="onViewListShares()"
          class="text-dl-blue-3 dark:text-dl-blue-8"
          >{{ friendsShared().length }}
          {{ friendsShared().length > 1 ? "people" : "person" }}</span
        >
      </span>
      <!-- Add Button -->
      <button
        id="add-button"
        type="button"
        class="h-dl-4.5 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-4 py-dl-2 text-center text-dl-5 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pink-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6 dark:bg-dl-pink-7 dark:text-dl-grey-1 hover:dark:bg-dl-pink-6"
        [ngClass]="{
          invisible: friendsNotShared().length === 0
        }"
        (click)="onShareClick()"
      >
        Share
      </button>
    </div>

    <!-- Header Row -->
    <div class="mb-dl-5 flex w-full justify-between px-dl-5">
      <p
        class="mb-dl-3 mt-dl-5 pl-dl-7 text-center text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
      >
        Item
      </p>
      <p
        class="mb-dl-3 mt-dl-5 text-center text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
      >
        Purchased Amount
      </p>
    </div>
    <!-- List -->
    <div
      *ngIf="!isLoading()"
      class="relative mb-dl-2 flex w-dl-16 flex-grow flex-col items-center overflow-y-auto"
    >
      <div
        class="relative mb-dl-3 flex min-h-dl-6 w-full items-center justify-between rounded-dl-2 bg-dl-grey-10 px-dl-5 py-dl-2 dark:bg-dl-grey-2"
        *ngFor="let item of displaySLIngr().items"
      >
        <div
          class="mr-dl-2 flex h-dl-4 items-center justify-between rounded-dl-2 pr-3"
        >
          <!-- Green Checkbox (only if item is already purchased and saved)-->
          <svg
            *ngIf="item.store"
            version="1.1"
            height="22"
            width="22"
            viewBox="-949 951 110 105"
          >
            <switch>
              <g i:extraneous="self">
                <g>
                  <path
                    [attr.fill]="this.extraStuffService.getFillColor(7)"
                    d="M-873.7,953.5h-50.5c-12.3,0-22.2,10-22.2,22.2v50.5c0,12.3,10,22.2,22.2,22.2h50.5c12.3,0,22.2-10,22.2-22.2v-50.5     C-851.5,963.5-861.5,953.5-873.7,953.5z M-874.1,995.8l-24.5,24.5c-1.5,1.5-3.5,2.3-5.5,2.3s-4.1-0.8-5.5-2.3l-14.1-14.1     c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0l8.6,8.6l19-19c3.1-3.1,8-3.1,11.1,0C-871.1,987.8-871.1,992.8-874.1,995.8z"
                  />
                </g>
              </g>
            </switch>
          </svg>
          <!-- Grey Trashcan (only if item 'purchasedMeasurement' is not present)-->
          <svg
            *ngIf="
              (!item.store && !item.purchasedMeasurement) ||
              item.purchasedMeasurement < item.needMeasurement
            "
            data-name="Layer 1"
            viewBox="20 20 70 75"
            height="22"
            width="22"
            (click)="onDeleteItemClick(item.shoppingListIngredientID)"
          >
            <path
              [attr.fill]="this.extraStuffService.getFillColor(4)"
              d="M22,41h4.94l.12,1L30.84,73.2A10,10,0,0,0,40.77,82H59.23a10,10,0,0,0,9.93-8.8L72.94,42l.12-1H78a4,4,0,0,0,4-4.39A4.12,4.12,0,0,0,77.83,33H22.17A4.12,4.12,0,0,0,18,36.61,4,4,0,0,0,22,41Zm43,0L61.21,72.24a2,2,0,0,1-2,1.76H40.77a2,2,0,0,1-2-1.76L35,41Z"
            />
            <path
              [attr.fill]="this.extraStuffService.getFillColor(4)"
              d="M44,18a4,4,0,0,0,0,8H56a4,4,0,0,0,0-8Z"
            />
          </svg>
          <!-- Pink Checkbox (only if item 'purchasedMeasurement' is present but not yet saved)-->
          <svg
            *ngIf="!item.store && item.purchasedMeasurement && item.valueValid"
            version="1.1"
            height="22"
            width="22"
            viewBox="-949 951 110 105"
          >
            <switch>
              <g i:extraneous="self">
                <g>
                  <path
                    [attr.fill]="this.extraStuffService.getFillColor(8)"
                    d="M-873.7,953.5h-50.5c-12.3,0-22.2,10-22.2,22.2v50.5c0,12.3,10,22.2,22.2,22.2h50.5c12.3,0,22.2-10,22.2-22.2v-50.5     C-851.5,963.5-861.5,953.5-873.7,953.5z M-874.1,995.8l-24.5,24.5c-1.5,1.5-3.5,2.3-5.5,2.3s-4.1-0.8-5.5-2.3l-14.1-14.1     c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0l8.6,8.6l19-19c3.1-3.1,8-3.1,11.1,0C-871.1,987.8-871.1,992.8-874.1,995.8z"
                  />
                </g>
              </g>
            </switch>
          </svg>
          <!-- Box to cover Checkmark (only if item 'purchasedMeasurement' is present but not yet saved)-->
          <div
            *ngIf="!item.store && item.purchasedMeasurement && item.valueValid"
            class="absolute left-5 top-6 z-20 h-3 w-4 bg-dl-pink-7 dark:bg-dl-pink-4"
          ></div>

          <div class="ml-dl-4 flex flex-col">
            <span
              class="text-dl-5 font-dl-3 text-dl-grey-1 dark:text-dl-grey-10"
            >
              {{ item.name }}
            </span>
            <div class="flex items-center">
              <span
                class="mr-dl-2 text-dl-5 font-dl-2 text-dl-grey-3 dark:text-dl-grey-8"
              >
                min. {{ Math.ceil(item.needMeasurement) }}
                {{
                  Math.ceil(item.needMeasurement) <= 1
                    ? unitService.singular(item.needUnit)
                    : unitService.plural(item.needUnit)
                }}
              </span>
              <p
                *ngIf="!item.valueValid"
                class="mr-dl-2 text-dl-4 font-dl-3 text-dl-red-4 dark:text-dl-red-7"
              >
                buy more
              </p>
            </div>
          </div>
        </div>
        <div class="relative flex items-center justify-between">
          <input
            class="w-full rounded-md border-0 bg-dl-grey-10 px-dl-4 py-dl-4 text-dl-6 text-dl-grey-1 outline-none ring-2 ring-inset ring-dl-grey-8 transition-all duration-200 ease-in-out placeholder:text-dl-grey-2 focus:bg-white focus:shadow-md focus:shadow-dl-blue-5/20 focus:ring-2 focus:ring-inset focus:ring-dl-blue-5 dark:bg-dl-grey-3 dark:text-dl-grey-9 dark:ring-dl-grey-1 placeholder:dark:text-dl-grey-9 dark:focus:bg-dl-grey-4"
            *ngIf="!item.store"
            type="number"
            [min]="item.needMeasurement"
            max="999"
            placeholder="0"
            [(ngModel)]="item.purchasedAmount"
            [ngClass]="{
              invisible: item.store
            }"
            (ngModelChange)="
              onPurchasedAmountChange(item.ingredientID, item.purchasedAmount)
            "
          />
          <div
            class="mr-dl-3 flex w-dl-6 flex-col items-center"
            *ngIf="item.store"
          >
            <p class="text-dl-5 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">
              {{ Math.ceil(item.purchasedMeasurement) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Spacer div -->
    <div class="flex-grow"></div>

    <!-- Save Button -->
    <button
      type="button"
      *ngIf="isLoading() === false && displaySLIngr().itemsToSave.length"
      class="mb-dl-2 block h-dl-5 w-dl-16 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out dark:border dark:border-dl-pink-7 dark:bg-dl-pink-7 dark:text-dl-grey-1"
      (click)="onSaveClick()"
    >
      {{ saveButtonText }}
    </button>
  </div>
  <div
    *ngIf="isDeleting() === true || isLoading() === true"
    class="flex h-full w-full items-center justify-center"
  >
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>
</div>
