<div
  class="relative flex transform flex-col items-center overflow-hidden rounded-dl-3 bg-dl-tan-9 px-dl-4 pb-dl-3 pt-dl-2 text-left transition-all dark:border-dl-tan-4 dark:bg-dl-tan-1 sm:my-dl-3 sm:w-full sm:max-w-dl-13 sm:p-dl-6"
>
  <h3
    class="leading-dl-4 font-sans text-dl-5 font-dl-3 text-dl-tan-3 dark:text-dl-tan-8"
  >
    Friend Requests
  </h3>
  <div class="flex max-h-dl-21 w-full flex-col items-center">
    <dl-request-card
      *ngFor="let request of friendRequests(); let i = index"
      class="h-dl-8 w-full border-dl-tan-9 py-dl-3 dark:border-dl-tan-3"
      [ngClass]="{ 'border-b-2': i !== friendRequests().length - 1 }"
      [friendRequest]="request"
      (click)="onFriendCardClicked($event, request)"
    ></dl-request-card>
  </div>
</div>
