<div
  class="relative flex w-full flex-col transition-all duration-200 ease-in-out"
>
  <!-- List View Header -->
  <div
    class="sticky -top-1 z-10 mb-dl-1 mt-dl-4 flex w-full bg-white px-dl-6 pb-dl-2"
  >
    <span
      class="ml-dl-2 inline-flex items-center border-b-4 border-transparent px-dl-1 py-dl-1 text-dl-6 font-dl-3 text-dl-grey-2 transition-all duration-100 ease-in-out"
    >
      Throughout the Day
    </span>
  </div>

  <!-- Day Category List -->
  <div
    class="relative mb-dl-3 flex w-full flex-col items-center overflow-y-auto"
    #dayCategoryListContainer
  >
    <div
      class="flex w-full flex-col items-center"
      *ngFor="let category of dayCategories(); let i = index"
      (click)="scroll(target)"
      #target
    >
      <dl-recipe-category-card
        *ngIf="
          category.recipeCategoryID !== selectedCategory()?.recipeCategoryID
        "
        (click)="categoryCardClick(category)"
        [category]="category"
      ></dl-recipe-category-card>
      <div
        *ngIf="
          category.recipeCategoryID === selectedCategory()?.recipeCategoryID
        "
        class="relative mb-dl-7 mt-dl-3 flex max-h-dl-20 w-full flex-col items-center overflow-y-auto overflow-x-hidden transition-all duration-200 ease-in-out"
        (click)="categoryCardClick(category)"
      >
        <!-- Header -->
        <div
          class="relative mx-dl-6 mb-dl-4 flex w-dl-16 items-baseline justify-between border-b-2 border-dl-blue-9 px-dl-3 pb-dl-1 pt-dl-2"
        >
          <span class="text-dl-6 font-dl-3 text-dl-blue-2">{{
            category.name
          }}</span>
          <div>
            <span class="text-dl-5 font-dl-2 text-dl-blue-3"
              >{{ category.recipes?.length }} recipe</span
            ><span
              class="text-dl-5 font-dl-2 text-dl-blue-3"
              *ngIf="category.recipes && category.recipes.length > 1"
              >s</span
            >
          </div>
          <div
            class="absolute -bottom-2 left-0 h-dl-2 w-dl-16 border-x-2 border-dl-blue-9"
          ></div>
        </div>

        <!-- Recipes -->
        <div class="flex flex-col overflow-y-auto">
          <dl-recipe-card
            *ngFor="let recipe of category.recipes"
            (click)="onRecipeCardClick(recipe.recipeID)"
            [recipe]="recipe"
            [fromMyRecipes]="false"
            [inModal]="false"
          ></dl-recipe-card>
        </div>
        <div class="relative mt-dl-5 w-dl-16 border-b-2 border-dl-blue-9">
          <div
            class="absolute -top-2 h-dl-2 w-dl-16 border-x-2 border-dl-blue-9"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- List View Header -->
  <div
    class="sticky -top-1 z-10 mb-dl-1 mt-dl-4 flex w-full bg-white px-dl-6 pb-dl-2"
  >
    <span
      class="ml-dl-2 inline-flex items-center border-b-4 border-transparent px-dl-1 py-dl-1 text-dl-6 font-dl-3 text-dl-grey-2 transition-all duration-100 ease-in-out"
    >
      Around the World
    </span>
  </div>

  <!-- World Category List -->
  <div
    class="relative mb-dl-3 flex w-full flex-col items-center overflow-y-auto"
    #worldCategoryListContainer
  >
    <div
      class="flex w-full flex-col items-center"
      *ngFor="let category of worldCategories(); let i = index"
      (click)="scroll(target)"
      #target
    >
      <dl-recipe-category-card
        *ngIf="
          category.recipeCategoryID !== selectedCategory()?.recipeCategoryID
        "
        (click)="categoryCardClick(category)"
        [category]="category"
      ></dl-recipe-category-card>
      <div
        *ngIf="
          category.recipeCategoryID === selectedCategory()?.recipeCategoryID
        "
        class="relative mb-dl-7 mt-dl-3 flex max-h-dl-20 w-full flex-col items-center overflow-y-auto overflow-x-hidden transition-all duration-200 ease-in-out"
        (click)="categoryCardClick(category)"
      >
        <!-- Header -->
        <div
          class="relative mx-dl-6 mb-dl-4 flex w-dl-16 items-baseline justify-between border-b-2 border-dl-blue-9 px-dl-3 pb-dl-1 pt-dl-2"
        >
          <span class="text-dl-6 font-dl-3 text-dl-blue-2">{{
            category.name
          }}</span>
          <div>
            <span class="text-dl-5 font-dl-2 text-dl-blue-3"
              >{{ category.recipes?.length }} recipe</span
            ><span
              class="text-dl-5 font-dl-2 text-dl-blue-3"
              *ngIf="category.recipes && category.recipes.length > 1"
              >s</span
            >
          </div>
          <div
            class="absolute -bottom-2 left-0 h-dl-2 w-dl-16 border-x-2 border-dl-blue-9"
          ></div>
        </div>

        <!-- Recipes -->
        <div class="flex flex-col overflow-y-auto">
          <dl-recipe-card
            *ngFor="let recipe of category.recipes"
            (click)="onRecipeCardClick(recipe.recipeID)"
            [recipe]="recipe"
            [fromMyRecipes]="false"
            [inModal]="false"
          ></dl-recipe-card>
        </div>
        <div class="relative mt-dl-5 w-dl-16 border-b-2 border-dl-blue-9">
          <div
            class="absolute -top-2 h-dl-2 w-dl-16 border-x-2 border-dl-blue-9"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
