<div class="flex flex-col items-center px-dl-5 pb-dl-3 pt-dl-4">
  <h3 class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-3">Find People</h3>
  <!-- Search Bar-->
  <div class="mb-dl-3 mt-dl-5 flex w-full items-center justify-around">
    <div class="flex items-center">
      <svg
        width="35"
        height="35"
        viewBox="0 0 15 15"
        class="pt-dl-1 text-dl-grey-3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        #searchInput
        type="text"
        class="ml-dl-2 w-dl-10 border-none pt-dl-2 text-dl-4 text-dl-grey-4 placeholder-dl-grey-4 focus:ring-transparent"
        [placeholder]="!searchFilter() ? 'Name or Username' : searchFilter()"
        (input)="searchFilter.set(searchInput.value)"
      />
    </div>
    <button
      type="button"
      [disabled]="searchedQuery() === searchFilter()"
      class="block whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out"
      [ngClass]="{ invisible: searchedQuery() === searchFilter() }"
      (click)="onSearch()"
    >
      Search
    </button>
  </div>
  <mat-spinner
    class="my-app-custom-spinner mb-dl-5"
    *ngIf="isLoading()"
  ></mat-spinner>

  <!-- Profile List -->
  <div *ngIf="searchResults() && !isLoading()" class="w-full">
    <div class="max-h-dl-18 overflow-auto pb-dl-5">
      <dl-profile-card
        *ngFor="let profile of searchResults(); let i = index"
        class="h-dl-9 w-full border-dl-grey-9 py-dl-3"
        (click)="onCardClick(i)"
        [ngClass]="{
          'bg-dl-blue-10': selectedCard() === i,
          'bg-white': selectedCard() !== i
        }"
        [profile]="profile"
        [index]="i"
        [selectedIndex]="selectedCard()"
        (friendshipLoaded)="onFriendshipLoaded(i, $event)"
        (followshipLoaded)="onFollowshipLoaded(i, $event)"
      ></dl-profile-card>
    </div>
    <!-- Buttons -->
    <div class="mt-dl-3 flex w-full justify-between pb-dl-3">
      <button
        type="button"
        class="block w-dl-9 whitespace-nowrap rounded-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out"
        [ngClass]="{
          'bg-dl-pink-4 text-white':
            buttonTexts()[selectedCard()].followButton === 'Follow',
          'border-2 border-dl-pink-4 bg-white text-dl-pink-4':
            buttonTexts()[selectedCard()].followButton === 'Unfollow'
        }"
        (click)="onFollowButtonClick()"
        *ngIf="searchResults().length > 0 && buttonTexts()[selectedCard()]"
      >
        {{ buttonTexts()[selectedCard()].followButton }}
      </button>
      <button
        type="button"
        class="block w-dl-9 whitespace-nowrap rounded-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 shadow-sm"
        (click)="onFriendButtonClick()"
        [ngClass]="{
          'bg-dl-pink-4 text-white':
            buttonTexts()[selectedCard()].friendButton === 'Add Friend' ||
            buttonTexts()[selectedCard()].friendButton === 'Accept Request',
          '  bg-white text-dl-blue-4':
            buttonTexts()[selectedCard()].friendButton === 'Cancel Request',
          'border-2 border-dl-pink-4 bg-white text-dl-pink-4':
            buttonTexts()[selectedCard()].friendButton === 'Unfriend'
        }"
        *ngIf="searchResults().length > 0 && buttonTexts()[selectedCard()]"
      >
        {{ buttonTexts()[selectedCard()].friendButton }}
      </button>
    </div>
  </div>
</div>
