<div class="relative flex h-full w-full flex-col px-dl-4 pt-dl-6">
  <!-- Overview -->
  <div
    *ngIf="view() === 'overview'"
    class="flex h-full w-full flex-col items-center overflow-y-auto"
  >
    <span
      class="mx-dl-7 items-center text-center text-dl-7 font-dl-3 text-dl-grey-10 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.subscribeOverviewBenefit1of2
      }}<span
        class="items-center text-dl-7 font-dl-4 text-dl-pink-7 transition-all duration-100 ease-in-out"
        >{{
          stringsService.productStrings.subscribeOverviewBenefitmultiplier
        }} </span
      ><span
        class="items-center text-dl-7 font-dl-3 text-dl-grey-10 transition-all duration-100 ease-in-out"
        >{{ stringsService.productStrings.subscribeOverviewBenefit2of2 }}</span
      ></span
    >
    <dl-benefits-overview class="mt-dl-6 w-full overflow-y-auto [@media(max-width:767px)]:scrollbar-hide"></dl-benefits-overview>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <button
      type="button"
      class="mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      GET FEATURES
    </button>
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-10 transition-all duration-200 ease-in-out"
      (click)="onCancel()"
    >
      NO THANKS
    </button>
  </div>
  <div *ngIf="view() === 'chart'" class="flex w-full flex-col items-center">
    <dl-benefits-chart></dl-benefits-chart>
    <!-- Buttons -->
    <button
      type="button"
      class="mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 border bg-dl-pink-3 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      See Options
    </button>
  </div>
  <div *ngIf="view() === 'options' && subscribeOfferings().length > 0">
    <div *ngFor="let offering of subscribeOfferings()">
      <dl-product-card></dl-product-card>
    </div>
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-2 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-pink-6 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      Upgrade Now
    </button>
    <span
      class="inline-flex items-center text-dl-4 font-dl-2 text-dl-grey-5 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.subscribeFinePrint }}</span
    >
  </div>
  <div *ngIf="view() === 'options' && subscribeOfferings().length === 0">
    <span
      class="inline-flex items-center text-dl-6 font-dl-2 text-dl-grey-5 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.noSubscribeOfferings }}</span
    >
  </div>
</div>
