<div class="relative flex h-full w-full flex-col items-center px-dl-4 pt-dl-6">
  <mat-spinner class="my-app-custom-spinner" *ngIf="isLoading()"></mat-spinner>
  <!-- BENEFITS OVERVIEW -->
  <div
    *ngIf="view() === 'overview' && !isLoading()"
    class="flex h-full w-full flex-col items-center overflow-y-auto"
  >
    <span
      class="mx-dl-7 items-center text-center font-sans text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.subscribeOverviewBenefit1of2
      }}<span
        class="items-center font-sans text-dl-6 font-dl-4 text-dl-pinknew-8 transition-all duration-100 ease-in-out"
        >{{
          stringsService.productStrings.subscribeOverviewBenefitmultiplier
        }} </span
      ><span
        class="items-center font-sans text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
        >{{ stringsService.productStrings.subscribeOverviewBenefit2of2 }}</span
      ></span
    >
    <dl-benefits-overview
      class="mt-dl-6 w-full overflow-y-auto [@media(max-width:767px)]:scrollbar-hide"
    ></dl-benefits-overview>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <button
      type="button"
      class="mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      GET FEATURES
    </button>
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 px-dl-1 py-dl-1 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-10 transition-all duration-200 ease-in-out"
      (click)="onCancel()"
    >
      NO THANKS
    </button>
  </div>

  <!-- BENEFITS CHART -->
  <div
    *ngIf="view() === 'chart' && !isLoading()"
    class="flex h-full w-full flex-col items-center overflow-y-auto"
  >
    <dl-benefits-chart
      [view]="'upgrade'"
      class="mt-dl-6 w-full overflow-y-auto [@media(max-width:767px)]:scrollbar-hide"
    ></dl-benefits-chart>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <div
      class="mb-dl-4 mt-dl-3 h-dl-7 w-full rounded-dl-4 bg-gradient-to-br from-dl-pinknew-3 to-dl-pinknew-6 p-dl-1 shadow-lg"
    >
      <button
        type="button"
        class="block h-full w-full whitespace-nowrap rounded-dl-4 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-1 transition-all duration-200 ease-in-out"
        (click)="onConfirm()"
      >
        PREMIUM SUBSCRIPTION OPTIONS
      </button>
    </div>
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-4 bg-dl-tan-9 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirmLifetime()"
    >
      LIFETIME ACCESS - PURCHASE ONCE
    </button>
  </div>

  <!-- SUBSCRIBE OPTIONS -->
  <div
    *ngIf="
      view() === 'options' && subscribePackages().length > 0 && !isLoading()
    "
    class="flex h-full w-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center font-sans text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Choose a plan</span
    >
    <!-- RevenueCat -->
    <div class="flex w-full flex-col items-center">
      <dl-subscription-package-card
        class="mb-dl-6 flex w-full flex-col items-center"
        *ngFor="let package of subscribePackages()"
        (click)="packageClick(package)"
        [package]="package"
        [isSelected]="selectedIdentifier() === package.identifier"
      ></dl-subscription-package-card>
    </div>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <span
      class="inline-flex items-center font-body text-dl-4 font-dl-2 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Recurring billing, cancel anytime</span
    >
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-1 transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      UPGRADE NOW
    </button>
    <span
      class="inline-flex items-center text-center font-body text-dl-3 font-dl-2 text-dl-tan-9 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.subscribeFinePrint }}</span
    >
  </div>

  <!-- LIFETIME PURCHASE OPTIONS -->
  <div
    *ngIf="
      view() === 'optionsLifetime' &&
      productPackages().length > 0 &&
      !isLoading()
    "
    class="flex h-full w-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center font-sans text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Choose a plan</span
    >
    <!-- RevenueCat -->
    <div class="flex w-full flex-col items-center">
      <dl-product-package-card
        class="mb-dl-6 flex w-full flex-col items-center"
        *ngFor="let package of productPackages()"
        (click)="packageClick(package)"
        [package]="package"
        [isSelected]="selectedIdentifier() === package.identifier"
      ></dl-product-package-card>
    </div>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-1 transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      UPGRADE NOW
    </button>
  </div>
  <div
    *ngIf="view() === 'options' && subscribePackages().length === 0"
    class="flex h-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center font-body text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.noSubscribeOfferings }}</span
    >
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onCancel()"
    >
      Back to Account
    </button>
  </div>
</div>
