<div class="flex h-full flex-col w-full items-center px-dl-3 py-dl-2">
  <span
    class="mx-dl-7 mb-dl-7 items-center text-center font-sans text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
    >New Version Available</span
  >
  <span
    class="mx-dl-7 mb-dl-7 items-center text-center font-body text-dl-5 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
    >Update the App to the latest version in order to continue</span
  >
  <!-- Spacer Div -->
  <dl class="flex flex-grow"></dl>
  <button
    type="button"
    class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-tan-10 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-dl-3 text-dl-tan-1 shadow-lg transition-all duration-200 ease-in-out"
    (click)="onSubmit()"
  >
    View Store Listing
  </button>
</div>
