<div
  class="flex w-full flex-col items-center rounded-dl-3 border-x-4 border-dl-yellow-5 bg-dl-tan-10 px-dl-3 pb-dl-2 dark:border dark:border-dl-yellow-6 dark:bg-dl-tan-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isDeleting"></mat-spinner>
  <h2
    *ngIf="isDeleting"
    class="leading-dl-4 mt-dl-4 font-body text-dl-5 font-dl-3 text-dl-tan-4 dark:text-dl-tan-7"
  >
    Processing..
  </h2>
  <div class="flex w-full flex-col items-center" *ngIf="!isDeleting">
    <div class="flex w-full pl-dl-2 pt-dl-2">
      <svg
        class="h-6 w-6 text-dl-yellow-5 dark:text-dl-yellow-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
          clip-rule="evenodd"
        />
      </svg>
      <p
        class="leading-dl-4 ml-dl-2 font-sans text-dl-5 font-dl-3 text-dl-yellow-2 dark:text-dl-yellow-9"
      >
        Delete Recipe Tool
      </p>
    </div>
    <div class="relative flex w-dl-15 max-w-full flex-col">
      <div class="ml-dl-3 flex flex-col">
        <div *ngIf="this.tool.name !== 'dummy'" class="mt-dl-4 space-x-1">
          <span
            class="mt-dl-1 font-body text-dl-4 text-dl-tan-5 dark:text-dl-tan-8"
            >Are you sure you want to remove</span
          ><span
            class="mt-dl-1 font-body text-dl-4 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
            >{{ this.tool.name }}</span
          ><span
            class="mt-dl-1 font-body text-dl-4 text-dl-tan-5 dark:text-dl-tan-8"
            >from the recipe?</span
          >
        </div>
        <div *ngIf="this.tool.name === 'dummy'" class="mt-dl-4 space-x-1">
          <span
            class="mt-dl-1 font-body text-dl-4 text-dl-tan-5 dark:text-dl-tan-8"
            >Would you like this recipe to require tools?</span
          >
        </div>
      </div>
      <div class="mt-dl-5 flex w-full flex-row-reverse justify-between px-dl-4">
        <button
          type="button"
          class="shadow-sinline-flex font serif ml-dl-4 w-2/5 cursor-pointer justify-center rounded-dl-1 bg-dl-yellow-4 px-dl-3 py-dl-1 text-dl-5 font-bold font-dl-3 italic text-dl-tan-10 hover:bg-dl-yellow-5 focus:border-dl-yellow-4 focus:outline-1 dark:bg-dl-yellow-7 dark:text-dl-tan-1 hover:dark:bg-dl-yellow-6"
          (click)="onSubmit()"
        >
          Delete
        </button>
        <button
          type="button"
          class="font serif inline-flex w-2/5 justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-1 text-dl-5 font-bold font-dl-3 italic text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 focus:outline-1 dark:bg-dl-tan-1 dark:text-dl-tan-10 hover:dark:bg-dl-tan-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
