<div
  class="relative flex h-dl-21 w-full transform flex-col bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="mb-dl-3 text-center">
    <span class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">
      Add Recipe Step
    </span>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isAddingRecipeStep$ | async"
  ></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="(isAddingRecipeStep$ | async) === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <div id="form-stepTitle" class="relative flex flex-col">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Title</label
            >
            <mat-form-field class="text-dl-4">
              <input matInput formControlName="title" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('title')?.hasError('titleExists')"
              >
                This title already exists.
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('title')?.hasError('required')"
              >
                Title is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div id="form-description" class="my-dl-4">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Description</label
            >
            <mat-form-field class="w-full text-dl-4">
              <textarea
                matInput
                formControlName="description"
                rows="6"
                class="border-0 focus:ring-0"
              ></textarea>
            </mat-form-field>
          </div>
          <div id="form-photo-recipe-step" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:bg-dl-pink-7 dark:text-dl-grey-1"
                (click)="selectImage()"
              >
                Choose Photo
              </button>
            </div>

            <image-cropper
              style="
                --cropper-outline-color: 'red';
                --cropper-overlay-color: 'red';
              "
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 5"
              (imageCropped)="stepImageCropped($event)"
              (imageLoaded)="stepImageLoaded()"
              (cropperReady)="stepCropperReady()"
              (loadImageFailed)="stepLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>
        <!---->

        <div class="mt-dl-4">
          <button
            type="button"
            class="shadow-s sm:ml-dl-4 h-dl-5 w-full rounded-dl-1 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pink-4 dark:bg-dl-pink-7 ':
                form.valid && !form.pristine,
              'bg-dl-grey-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="sm:mt-0 sm:w-auto mt-dl-3 h-dl-5 w-full rounded-dl-1 bg-white px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 hover:dark:bg-dl-grey-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
