<div
  class="relative mx-auto flex h-full w-full flex-col bg-dl-tan-9 pt-dl-4 dark:bg-dl-tan-1"
>
  <!-- View Header -->
  <div class="mb-dl-3 flex w-full flex-row-reverse pr-dl-5">
    <!-- <span
      (click)="setView('timeline')"
      class="inline-flex items-center px-1 pt-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-green-6 dark:border-dl-green-5 text-dl-5 text-dl-tan-2 dark:text-dl-tan-9 font-dl-3':
          view() === 'timeline',
        'text-dl-4 text-dl-tan-4 dark:text-dl-tan-7 font-dl-2': view() !== 'timeline'
      }"
    >
      Timeline
    </span> -->
    <span
      (click)="setView('friends')"
      class="inline-flex items-center border-b-4 font-sans text-dl-6 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-green-8 text-dl-tan-2 dark:border-dl-green-3 dark:text-dl-tan-9':
          view() === 'friends',
        'border-transparent text-dl-tan-4 dark:text-dl-tan-7':
          view() !== 'friends'
      }"
    >
      Friends
    </span>
    <span
      (click)="setView('followers')"
      class="mr-dl-5 inline-flex items-center border-b-4 font-sans text-dl-6 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-green-8 text-dl-tan-2 dark:border-dl-green-3 dark:text-dl-tan-9':
          view() === 'followers',
        'border-transparent text-dl-tan-4 dark:text-dl-tan-7':
          view() !== 'followers'
      }"
    >
      Followers
    </span>
  </div>

  <!-- Main Content -->
  <div class="flex-grow overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
