<div class="relative flex flex-col h-full mx-auto w-full bg-white pt-dl-5">
  <!-- View Header -->
  <div class="mb-dl-4 flex w-full flex-row-reverse pr-dl-5">
    <!-- <span
      (click)="setView('timeline')"
      class="inline-flex items-center px-1 pt-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 text-dl-grey-2 font-dl-3':
          view() === 'timeline',
        'text-dl-5 text-dl-grey-4 font-dl-2': view() !== 'timeline'
      }"
    >
      Timeline
    </span> -->
    <span
      (click)="setView('friends')"
      class="inline-flex items-center border-b-4 text-dl-7 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-blue-8 text-dl-grey-2': view() === 'friends',
        'border-transparent text-dl-grey-4': view() !== 'friends'
      }"
    >
      Friends
    </span>
    <span
      (click)="setView('followers')"
      class="mr-dl-5 inline-flex items-center border-b-4 text-dl-7 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-blue-8 text-dl-grey-2': view() === 'followers',
        'border-transparent text-dl-grey-4': view() !== 'followers'
      }"
    >
      Followers
    </span>
  </div>

  <!-- Main Content -->
  <div class="h-full">
    <div class="relative h-full w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
