<div class="relative flex h-full w-full flex-col items-center px-dl-4">
  <!-- Search Bar -->
  <div class="mx-dl-7 mb-dl-4 mt-dl-3 flex items-center">
    <svg
      width="35"
      height="35"
      viewBox="0 0 15 15"
      class="pt-dl-1 text-dl-grey-3 dark:text-dl-grey-8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"
      ></path>
    </svg>
    <input
      #searchInput
      type="text"
      class="dark:bg-dl-grey-2 rounded-dl-2 ml-dl-2 w-dl-13 border-none text-dl-5 text-dl-grey-4 placeholder-dl-grey-4 focus:ring-transparent dark:text-dl-grey-7 dark:placeholder-dl-grey-7"
      [placeholder]="
        !searchFilter() ? 'Filter by First or Last Name...' : searchFilter()
      "
      (input)="updateSearchFilter(searchInput.value)"
    />
  </div>

  <!-- View Selection -->
  <div class="mb-dl-3 flex w-full justify-around">
    <span
      class="inline-flex items-center border-b-4 text-dl-6 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-blue-8 text-dl-grey-2 dark:border-dl-blue-3 dark:text-dl-grey-9':
          view() === 'followers',
        'border-transparent text-dl-grey-5 dark:text-dl-grey-6':
          view() !== 'followers'
      }"
      (click)="view.set('followers')"
    >
      Followers
    </span>
    <span
      class="inline-flex items-center border-b-4 text-dl-6 font-dl-3 transition-all duration-200 ease-in-out"
      [ngClass]="{
        ' border-dl-blue-8 text-dl-grey-2 dark:border-dl-blue-3 dark:text-dl-grey-9':
          view() === 'following',
        'border-transparent text-dl-grey-5 dark:text-dl-grey-6':
          view() !== 'following'
      }"
      (click)="view.set('following')"
    >
      Following
    </span>
  </div>

  <!-- Person Card List -->
  <div
    class="relative mb-dl-3 flex flex-grow flex-col items-center overflow-y-auto"
  >
    <div class="flex flex-col items-center">
      <dl-friend-card
        *ngFor="let person of filteredPersons(); let i = index"
        (click)="onPersonClick(person)"
        class="w-dl-16 border-dl-grey-9 py-dl-3 dark:border-dl-grey-3"
        [friend]="person"
        [ngClass]="{
          'border-b-2': i !== filteredPersons().length - 1
        }"
      ></dl-friend-card>
    </div>
  </div>

  <!-- Total Count -->
  <span
    *ngIf="filteredPersons().length > 0"
    class="text-dl-5 font-dl-2 text-dl-grey-2 dark:text-dl-grey-9"
    >{{ filteredPersons().length }} total</span
  >
</div>
