<div
  class="relative flex h-full w-full flex-col bg-white pt-dl-4 dark:bg-dl-grey-1"
>
  <!-- View Header -->
  <div class="mb-dl-3 flex w-full flex-row-reverse pr-dl-5">
    <span
      *ngIf="shoppingLists().length === 1 && shoppingLists()?.[0].status === 'shopping'"
      (click)="updateView('shopping')"
      class="inline-flex items-center border-b-4 text-dl-7 font-dl-3 transition-all duration-100 ease-in-out"
      [ngClass]="{
        'border-dl-blue-8 text-dl-grey-2 dark:border-dl-blue-3 dark:text-dl-grey-9':
          view() === 'shopping',
        'border-transparent text-dl-grey-4 dark:text-dl-grey-7':
          view() !== 'shopping'
      }"
    >
      In Progress
    </span>
    <span
    *ngIf="shoppingLists().length === 1 && shoppingLists()?.[0].status === 'draft'"
      (click)="updateView('draft')"
      class="inline-flex items-center border-b-4 text-dl-7 font-dl-3 transition-all duration-100 ease-in-out"
      [ngClass]="{
        'border-dl-blue-8 text-dl-grey-2 dark:border-dl-blue-3 dark:text-dl-grey-9':
          view() === 'draft',
        'border-transparent text-dl-grey-4 dark:text-dl-grey-7':
          view() !== 'draft'
      }"
    >
      Draft
    </span>
    <span
      (click)="updateView('shared')"
      class="mr-dl-5 inline-flex items-center border-b-4 text-dl-7 font-dl-3 transition-all duration-100 ease-in-out"
      [ngClass]="{
        'border-dl-blue-8 text-dl-grey-2 dark:border-dl-blue-3 dark:text-dl-grey-9':
          view() === 'shared',
        'border-transparent text-dl-grey-4 dark:text-dl-grey-7':
          view() !== 'shared'
      }"
      *ngIf="hasSharedList()"
    >
      Shared
    </span>
  </div>
  <!-- Main content -->
  <div *ngIf="!isDeleting()" class="flex-grow overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
