<table class="m-dl-2 p-dl-3 rounded-dl-2 table-auto min-w-full bg-dl-gray-1 text-white text-center">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Lifespan Days</th>
    <th>Select Ingredient</th>
  </tr>

  <tr *ngFor="let ingredient of ingredients; let i = index">
    <td class="p-dl-2">{{ ingredient.name | titlecase }}</td>
    <td>{{ ingredient.ingredientID | number }}</td>
    <td class="">{{ ingredient.lifespanDays | number }}</td>
    <td class="flex space-x-3 items-center justify-center">
      <!-- <button class="text-red-300 hover:text-blue-200" (click)="selectIngredient(ingredient)">Select</button> -->
      <button class="text-dl-gray-10 hover:text-dl-blue-9" [routerLink]="['/ingredients', ingredient.ingredientID]">View Details</button>
      <button class="text-dl-gray-10 hover:text-dl-blue-9" [routerLink]="['/ingredients', 'edit']">Edit</button>
    </td>
  </tr>
</table>
