<div
  class="relative mx-auto flex h-full w-full flex-col bg-gradient-to-br from-dl-yellow-4 to-dl-yellow-1 pt-dl-4"
>
  <!-- View Header -->
  <div class="mb-dl-3 flex w-full items-center justify-between px-dl-5">
    <!-- Cancel "X" button -->
    <button
      type="button"
      class="rounded-dl-2 text-dl-tan-10"
      (click)="onCancel()"
    >
      <svg
        class="h-10 w-10"
        fill="none"
        viewBox="2 2 20 20"
        stroke-width="2.2"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <!-- 'Premium' Icon -->
    <div class="rounded-dl-2 pt-dl-3">
      <img
        class="h-9 w-auto"
        src="/assets/icons/logo-text-only-dark.svg"
        alt="doughleap logo"
      />
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-grow overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
