<div class="relative flex h-full w-full flex-col items-center px-dl-4 pt-dl-6">
  <!-- Benefits View -->
  <div
    *ngIf="!isLoading() && view() === 'benefits'"
    class="flex h-full w-full flex-col items-center overflow-y-auto"
  >
    <dl-benefits-chart
      [view]="'your-lifetime'"
      class="mt-dl-2 w-full overflow-y-auto [@media(max-width:767px)]:scrollbar-hide"
    ></dl-benefits-chart>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>

    <!-- Buttons -->
    <div
      class="mb-dl-4 mt-dl-3 h-dl-7 w-full rounded-dl-4 bg-gradient-to-br from-dl-pinknew-3 to-dl-pinknew-6 p-dl-1 shadow-lg"
    >
      <button
        type="button"
        class="block h-full w-full whitespace-nowrap rounded-dl-4 bg-dl-tan-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-tan-1 transition-all duration-200 ease-in-out"
        (click)="onConfirm()"
      >
        PREMIUM SUBSCRIPTION OPTIONS
      </button>
    </div>
    <button
      *ngIf="allowExtraTokenPurchase()"
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-4 bg-dl-tan-9 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-tan-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirmAddTokens()"
    >
      ADD MORE TOKENS
    </button>
  </div>

  <!-- SUBSCRIBE OPTIONS -->
  <div
    *ngIf="
      view() === 'options' && subscribePackages().length > 0 && !isLoading()
    "
    class="flex h-full w-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center text-dl-7 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Choose a plan</span
    >
    <!-- RevenueCat -->
    <div class="flex w-full flex-col items-center">
      <dl-subscription-package-card
        class="mb-dl-6 flex w-full flex-col items-center"
        *ngFor="let package of subscribePackages()"
        (click)="packageClick(package)"
        [package]="package"
        [isSelected]="selectedIdentifier() === package.identifier"
      ></dl-subscription-package-card>
    </div>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <span
      class="inline-flex items-center text-dl-4 font-dl-2 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Recurring billing, cancel anytime</span
    >
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-4 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-tan-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-tan-1 transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      UPGRADE NOW
    </button>
    <span
      class="inline-flex items-center text-center text-dl-3 font-dl-2 text-dl-tan-9 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.subscribeFinePrint }}</span
    >
  </div>

  <!-- TOKEN OPTIONS -->
  <div
    *ngIf="
      view() === 'optionsAddTokens' &&
      productPackages().length > 0 &&
      !isLoading()
    "
    class="flex h-full w-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center text-dl-7 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Use Tokens to import your Recipes from an image or URL</span
    >
    <div class="flex w-full flex-col items-center">
      <dl-product-package-card
        class="mb-dl-6 flex w-full flex-col items-center"
        *ngFor="let package of productPackages()"
        (click)="packageClick(package)"
        [package]="package"
        [isSelected]="selectedIdentifier() === package.identifier"
      ></dl-product-package-card>
    </div>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <span
      class="inline-flex items-center text-dl-4 font-dl-2 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >One time purchase</span
    >
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-5 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-tan-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-tan-1 transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      PURCHASE NOW
    </button>
  </div>
</div>
