<div class="flex h-full flex-col items-center">
  <!-- If not loading -->
  <div *ngIf="!isLoading()" class="flex h-full w-full flex-col items-center">
    <!-- Horizontal List of Shared List Chips -->
    <div
      class="mt-dl-4 flex min-h-dl-7 w-full overflow-x-auto whitespace-nowrap pb-dl-3 pl-dl-3"
    >
      <div
        *ngFor="let list of displaySharedShoppingLists()"
        class="mr-dl-4 flex h-dl-6 flex-shrink-0 items-center rounded-full bg-dl-tan-10 shadow-md dark:bg-dl-tan-2"
        [ngClass]="{
          'border border-dl-tan-3 dark:border dark:border-dl-tan-7': list.shoppingListID === selectedListID(),
        }"
        (click)="onListClick(list.shoppingListID)"
      >
        <!-- List Author Image -->
        <div class="ml-dl-3 mr-dl-4">
          <span
            class="inline-flex h-dl-5 w-dl-5 items-center justify-center rounded-full bg-dl-tan-9 dark:bg-dl-tan-3"
            *ngIf="
              !list.friend?.imageURL &&
              list.friend?.nameFirst &&
              list.friend?.nameLast
            "
          >
            <span
              class="font-body text-dl-5 font-dl-3 leading-none text-dl-tan-3 dark:text-dl-tan-9"
              >{{ list.friend?.nameFirst[0] + list.friend?.nameLast[0] }}</span
            >
          </span>
          <img
            *ngIf="list.friend?.imageURL?.length > 0"
            class="h-dl-5 w-dl-5 rounded-full"
            [src]="list.friend?.imageURL | imageFromCDN"
            alt="friend profile image"
          />
        </div>
        <!-- List Author Username and Item Count -->
        <div class="mr-dl-3 flex flex-col items-start justify-between">
          <p
            class="mr-dl-3 font-sans text-dl-4 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
          >
            {{ list.friend?.username }}'s list
          </p>
          <!-- Item Count -->
          <div class="flex items-center">
            <span
              class="mr-dl-2 inline-flex items-center justify-center font-sans text-dl-4 italic text-dl-teal-3 dark:text-dl-teal-7"
            >
              {{ getItemCountString(list) }}
            </span>
            <!-- Green Checkbox-->
            <img [src]="checkmark()" alt="Checkmark Icon" class="h-5 w-5" />
          </div>
        </div>
      </div>
    </div>
    <!-- Header Row -->
    <div class="mb-dl-3 flex w-full justify-between px-dl-5">
      <p
        class="mb-dl-3 mt-dl-5 pl-dl-7 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
      >
        Item
      </p>
      <p
        class="mb-dl-3 mt-dl-5 text-center font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
      >
        Purchased Amount
      </p>
    </div>
    <!-- List -->
    <div
      *ngIf="!isLoading()"
      class="relative mb-dl-5 flex w-full flex-grow flex-col items-center overflow-y-auto px-dl-3"
    >
      <div
        class="relative mb-dl-3 flex min-h-dl-6 w-full items-center justify-between rounded-dl-2 bg-dl-tan-10 px-dl-5 py-dl-2 dark:bg-dl-tan-2"
        *ngFor="let item of selectedSLIngred().items"
      >
        <div
          class="mr-dl-2 flex h-dl-4 items-center justify-between rounded-dl-2 pr-3"
        >
          <!-- Green Checkbox (only if item is already purchased and saved)-->
          <img
            *ngIf="item.store"
            [src]="checkmark()"
            alt="Checkmark Icon"
            class="h-5 w-5"
          />
          <!-- Draft Icon (only if item 'purchasedMeasurement' is present but not yet saved)-->
          <img
            *ngIf="!item.store && item.purchasedMeasurement && item.valueValid"
            [src]="draftIcon()"
            alt="Draft Icon"
            class="h-7 w-7"
          />

          <div class="ml-dl-4 flex flex-col">
            <span
              class="font-body text-dl-4 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
            >
              {{ item.ingredientName }}
            </span>
            <div class="flex items-center">
              <span
                class="mr-dl-2 font-body text-dl-4 font-dl-2 text-dl-tan-3 dark:text-dl-tan-8"
              >
                {{ Math.ceil(item.needMeasurement) }}
                {{
                  Math.ceil(item.needMeasurement) <= 1
                    ? unitService.singular(item.needUnit)
                    : unitService.plural(item.needUnit)
                }}
              </span>
              <p
                *ngIf="!item.valueValid && !item.store"
                class="mr-dl-2 font-body text-dl-4 font-dl-3 text-dl-red-4 dark:text-dl-red-7"
              >
                buy more
              </p>
            </div>
          </div>
        </div>
        <div class="relative flex items-center justify-between">
          <input
            class="w-full rounded-md border-0 bg-dl-tan-10 px-dl-4 py-dl-4 text-dl-5 text-dl-tan-1 outline-none ring-2 ring-inset ring-dl-tan-8 transition-all duration-200 ease-in-out placeholder:text-dl-tan-2 focus:bg-dl-tan-10 focus:shadow-md focus:shadow-dl-green-5/20 focus:ring-2 focus:ring-inset focus:ring-dl-green-5 dark:bg-dl-tan-3 dark:text-dl-tan-9 dark:ring-dl-tan-1 placeholder:dark:text-dl-tan-9 dark:focus:bg-dl-tan-4"
            *ngIf="!item.store"
            type="number"
            [min]="item.needMeasurement"
            max="999"
            placeholder="0"
            [(ngModel)]="item.purchasedMeasurement"
            [ngClass]="{
              invisible: item.store
            }"
            (blur)="
              onPurchasedMeasurementChange(
                item.ingredientID,
                item.purchasedMeasurement
              )
            "
          />
          <div
            class="mr-dl-6 flex w-dl-6 flex-col items-center"
            *ngIf="item.store"
          >
            <p
              class="font-body text-dl-4 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
            >
              {{ Math.ceil(item.purchasedMeasurement) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Spacer div -->
    <div class="flex-grow"></div>

    <!-- Save Button -->
    <button
      type="button"
      *ngIf="
        isLoading() === false &&
        selectedSLIngred().itemsToSave &&
        selectedSLIngred().itemsToSave.length
      "
      class="mb-dl-2 block h-dl-5 w-dl-16 whitespace-nowrap rounded-dl-1 bg-dl-pinknew-4 px-dl-1 py-dl-1 text-center font-serif text-dl-5 font-extrabold italic text-dl-tan-10 shadow-lg transition-all duration-200 ease-in-out dark:border dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 dark:text-dl-tan-1"
      (click)="onSaveClick()"
    >
      {{ saveButtonText }}
    </button>
  </div>

  <!-- If loading -->
  <div
    *ngIf="isLoading() === true"
    class="flex h-full w-full items-center justify-center"
  >
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>
</div>
