<div
  class="flex min-h-full flex-col justify-center bg-white py-dl-8 sm:px-dl-6 lg:px-dl-8"
>
  <div class="xm:w-full sm:mx-auto sm:max-w-md">
    <img
      class="mx-auto h-10 w-auto"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="doughleap logo"
    />
  </div>
  <form [formGroup]="signup_form" (ngSubmit)="onSubmit()">
    <div class="relative mb-dl-7 flex flex-col">
      <div class="mt-dl-4 text-center sm:ml-dl-1 sm:mt-dl-0 sm:text-left">
        <h3 class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-3">
          Register
        </h3>
      </div>
    </div>
    <!--FORM FIELDS-->
    <div id="form-email" class="mx-dl-8 mt-dl-3">
      <div class="relative flex flex-col">
        <label class="text-dl-4 font-dl-3 text-dl-grey-5" for="email"
          >Email</label
        >
        <mat-form-field class="w-full">
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </div>
    </div>

    <div id="form-password" class="mx-dl-8 mt-dl-3">
      <label class="text-dl-4 font-dl-3 text-dl-grey-5" for="email"
        >Password</label
      >
      <mat-form-field class="w-full">
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>

    <div id="form-username" class="mx-dl-8 mt-dl-3">
      <label class="text-dl-4 font-dl-3 text-dl-grey-5" for="username"
        >Username</label
      >
      <mat-form-field class="w-full">
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-error
        class="text-dl-3"
        *ngIf="
          signup_form.get('username')?.hasError('default') &&
          signup_form.get('username')?.pristine
        "
      >
        Field is required
      </mat-error>
      <mat-error
        class="text-dl-3"
        *ngIf="
          signup_form.get('username')?.hasError('invalidUnique') &&
          signup_form.get('username')?.dirty
        "
      >
        Username is not unique
      </mat-error>
      <mat-error
        class="text-dl-3"
        *ngIf="
          signup_form.get('username')?.hasError('invalidValid') &&
          signup_form.get('username')?.dirty
        "
      >
        Username must be at least 5 characters and include only letters,
        numbers, and underscores
      </mat-error>
    </div>
    <!---->

    <div class="mx-dl-8 mt-dl-8 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white shadow sm:rounded-dl-1 sm:px-10">
        <div class="mt-dl-5">
          <button
            type="submit"
            [disabled]="signup_form.invalid"
            class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-2 font-dl-3 text-white sm:ml-dl-4"
            [ngClass]="{
              'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5':
                signup_form.invalid === false,
              'bg-dl-grey-7': signup_form.invalid === true
            }"
          >
            Sign In
          </button>
        </div>

        <div style="color: red" *ngIf="error">{{ error }}</div>
      </div>
    </div>
    <p
      *ngIf="checkEmailMessage()"
      class="mt-dl-4 text-center text-dl-5 text-dl-teal-5"
    >
      {{ checkEmailMessage() }}
    </p>
  </form>

  <p class="mt-dl-8 text-center text-dl-3 text-dl-grey-4">
    Already have an account?
    <a
      class="cursor-pointer text-dl-3 font-dl-3 leading-dl-2 text-dl-blue-5 hover:text-dl-blue-5"
      routerLink="/login"
      >Sign In</a
    >
  </p>
</div>
