<div class="bg-dl-tan-10 px-dl-5 py-dl-2">
  <h1
    class="mb-dl-6 font-sans text-dl-7 font-dl-3 text-dl-tan-1"
    id="terms-of-use-for-doughly-stories"
  >
    Terms of Use for Doughly
  </h1>
  <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
    These Terms of Use are a binding contract between Doughly llc, 1228 6th Ave
    NE, Issaquah WA 98029 ("DLLC") and you ("You"; "User").
  </p>
  <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
    You can use the "Doughly" App (the "App") and/or the “Kitchen" Web services
    (the “Services”) only in accordance with these Terms of Use. These Terms of
    Use replace all previous contracts between the parties concerning the App
    and/or the Services. In addition to the Terms of Use, the Terms and
    Conditions for the distribution platform used to download the App (e.g., the
    Apple App Store, Google Play, etc.) apply, in particular regarding the way
    contracts are concluded in the case of in app purchases. In case of
    contradictions, the provisions of these Terms of Use take precedence. The
    provider of the respective app store is not a party to the contract
    regarding the use of the app and is not liable for any defects, damages or
    infringements of third party rights. However, in the event of a defect, you
    may be able to declare your rescission of a contract and submit a claim for
    a refund directly to the provider of the app store.
  </p>
  <ol start="1">
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="subject-of-agreement">Subject of agreement</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.1 The App and the Services offer community functions and access to
        content (especially video) of DLLC and other users on the subject of
        cooking, which may be displayed in a newsfeed personalized for the User
        or accessed through a category list or search functionality. The precise
        system requirements and the full scope of functions of the App are found
        in the product description on the distribution platform used to download
        the App (hereinafter the "App Store"). The Services allow the entry and
        retrieval of content via the app.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.2 The App is provided free of charge in the object code. Use of the
        community functions is also free of charge. The source code of the App
        is not the subject of this agreement.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.3 Certain additional functions are only available for users with a
        paid Premium Account. Details are shown within the App. The Premium
        Account is subject to specific provisions within these Terms of Use.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.4 DLLC reserves the right to provide further extended functions beyond
        those specified above. This may be implemented through additional
        content within the app or through the in-App purchasing option of the
        corresponding App Store. In addition to these Terms of Use, other
        special terms and conditions or contest terms, respectively, may apply,
        which will be communicated accordingly before the in-App purchase or
        before use of such additional functions or participation in such
        contests, respectively. Use or or participation in such content or
        contests, respectively, is possible only after accepting such terms. The
        price and scope of functions of the corresponding in-App purchases is
        shown always in the offer shown in the App.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.5 DLLC can provide updates for this App free of charge in the
        respective App Store, which change the scope of functions of the App.
        The exact system requirements and the complete scope of functions of
        such updates and the updated version of the App can be found in the
        product and update description in the corresponding App Store.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.6 These Terms of Use apply correspondingly to all in-App purchases and
        updates and to the latest updated version of the App acquired in the
        process of in-App purchase and/or update.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.7 In order for you to be able to use the community functions of the
        App and/or the Services (e.g., as available, create profiles, access
        content of other users, "subscribe" to other users' recipes, follow or
        "friend" other users, etc), you have to register free of charge after
        downloading the App. The community functions are not available to you
        without doing so. Important: DLLC does not appropriate the user's
        content!
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        1.8 DLLC may at some time offer Business Accounts with specific
        functionalities for commercial use of the community functionalities.
        These Business Accounts are subject to additional terms.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="contract-conclusion-optional-registration">
        Contract conclusion; optional registration
      </h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        2.1 The contract for use of the App and the Services including the
        granting of the rights of use to the App comes into existence once the
        user clicks on the "install" button (may be called differently depending
        on the App Store) on the product description page in the corresponding
        App Store and enters his/her password for that App Store; the T&amp;C of
        the corresponding App Store apply to further details, if pertinent.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        2.2 The contract about the use of the community functions of the App and
        the Services come into existence as follows: By sending a fully
        completed registration form from the App, you are concluding a contract.
        DLLC will confirm the receipt of the registration form. DLLC can accept
        the offer by switching on the community functions in the App and in the
        Services. However, there is not claim to contract conclusion.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        2.3 After registration, DLLC may send occasional communications to you
        via email, relating to functionality of the app or changes made to any
        governing policies.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="rights-and-duties-of-the-user">Rights and duties of the user</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.1 The data required for registration must be provided truthfully and
        updated immediately if it changes to ensure smooth use. If alternative
        methods with access to existing user profiles (e.g., registration via
        Facebook) are offered for registration, this obligation applies
        accordingly to the data stored in those user profiles.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.2 You are responsible for protecting your registration and access data
        (e.g., user name, password) and you should not disclose them or tolerate
        or enable unauthorized or third parties to find them out. You are
        obliged to take the required measures to guarantee confidentiality and
        immediately report abuse or loss of such information or suspicions
        thereof to DLLC by e-mail to support&#64;doughly.co.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.3 As part of the community functions you have the option to set up
        your own content in your profile (e.g., personal information, profile
        picture) and the database of Doughly content (e.g., "heirloom" or
        publicly shared recipes visible by friends or any other user
        respectively.). Please keep in mind that all registered users can view
        your profile and any recipes that are not made private that you have
        posted.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.4 You are not allowed to add content that violates applicable laws or
        copyrights or personality rights of third parties or the Doughly
        Netiquette Rules (if available), or that could significantly disrupt the
        open and friendly environment in the community. In particular, you are
        not allowed to add any content that is abusive, defamatory, obscene,
        sexist, pornographic, political or extremist religious, violent, harmful
        to minors or otherwise illegal or unsuitable for an unrestricted circle
        of users. In addition, you may only add content that you have either
        created yourself or received permission to use from the author or any
        other disclosed people. You may not take content from other platforms or
        other sources without request and add it to the community under any
        circumstances.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.5 Due to the large scope of user-generated content DLLC is not able to
        check all content before approving it, but it reserves the right to
        block, change, or delete content in reaction to complaints or upon
        obtaining knowledge in another way, if such content violates the
        principles mentioned in Section 3.4 or is not suitable for the subject
        of the community (cooking, food, recipes and kitchen equipment). DLLC
        reserves the right to ban a user temporarily or permanently, or
        terminate the Agreement, in the event of a breach of these Terms of Use.
        A ban is generally possible only after the user has been warned twice
        because of breaches of the Terms of Use, except where the gravity of the
        breach justifies an immediate ban, taking into account both parties’
        interests. This weighing of interests must particularly take into
        account DLLC’ interest in providing an attractive offering for its other
        users. For clarity: To the extent it is possible to send private
        messages through the platform, Doughly accesses these messages only if
        at least one participant of such conversations has consented, for
        example by using the reporting functionality for inappropriate content.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">3.6 Netiquette</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        As a member of our Doughly Community, you commit yourself to the basic
        rules of mutual tolerance and politeness. In our community we require
        the following netiquette:
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.6.1 You should always treat other members politely and respectfully.
        Write only what you would personally say to another person. Insults,
        harassment and personal attacks are not allowed in the Doughly
        community.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.6.2 Try to avoid ambiguous formulations. Since gestures and facial
        expressions are missing in written communication, sarcasm and irony are
        difficult to understand. Make sure that your expression cannot be
        understood as an attack by others.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.6.3 Be tolerant and respect the opinions of other community members.
        Don' trule out other members and don't make fun of other members,
        including their recipes and photos.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.6.4 Think before you write a comment and pay attention to spelling,
        grammar, and language.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        3.6.5 All forms of spam and inappropriate advertising are taboo in the
        Doughly Community.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        Disparagements and insults of any kind will not be tolerated in our
        Doughly Community. It doesn't matter whether such statements are
        directed against other members, moderators, third parties or other
        groups of people. The same also applies to all contributions, which
        offend against valid law.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="rights-and-duties-of-the-ajns">Rights and duties of the DLLC</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        4.1 DLLC provides the App for download through the App Stores.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        4.2 DLLC provides the community functions for the App and the Services
        with the average availability rate of 97% a year. The availability
        calculation does not include the planned maintenance times within
        reasonable scope. DLLC will make an effort, within an economically
        viable scope, to inform about the planned maintenance times in a
        suitable location on the community platform ahead of time and to perform
        such maintenance work outside of the community peak times.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        4.3 Clarification: DLLC can change the content available through the App
        and/or the Services at its own discretion at any time. There is no
        entitlement to initial or continued access to specific content. The
        provisions on the Premium Account remain unaffected.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="specific-provisions-for-the-premium-account">
        Specific provisions for the Premium Account
      </h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.1 Paid activation of the Premium Account is optional. The specific
        characteristics of the Premium Account, in particular price, term, and
        the features included in the Premium Account are displayed within the
        App. Any stated prices include VAT where applicable.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.2 The Premium Account can only be purchased through the mobile App.
        The available payment methods depend on the user’s location and the
        relevant app store.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.3 The additional content and functions of the Premium Account are
        digital content. The user does not acquire any property rights in them,
        only a simple right of use limited to the term of the contract or
        availability of the content (as applicable).
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.4 To the extent DLLC is entitled to temporarily or permanently suspend
        a user’s account, this also creates a right to withhold paid content
        and/or features.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.5 DLLC may modify or remove the offered content and/or functions at
        any time. This does not apply for content that has already been
        purchased, i.e. if DLLC decides to discontinue the Premium Account or
        reduce its functions, this does not apply for already paid terms.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        5.6 After the end of its term, the Premium Account automatically turns
        into a regular user account again.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="withdrawal-right-for-premium-account">
        Withdrawal right for Premium Account
      </h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        In view of paid in app purchases, consumers (i.e. natural persons
        entering into a transaction for purposes not mainly associated with
        their commercial or independent professional activity) have a withdrawal
        right as follows:
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        <strong>Right of withdrawal</strong>
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        You have the right to withdraw from this contract within 14 days without
        giving any reason.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        The withdrawal period will expire after 14 days from the day of the
        conclusion of the contract.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        To exercise the right of withdrawal, you must inform us (DLLC, 1228 6th
        Ave NE, Issaquah WA 98029, USA); e-mail: support&#64;doughly.co of your
        decision to withdraw from this contract by an unequivocal statement
        (e.g. a letter sent by post, fax or e-mail). You may use the attached
        model withdrawal form, but it is not obligatory.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        To meet the withdrawal deadline, it is sufficient for you to send your
        communication concerning your exercise of the right of withdrawal before
        the withdrawal period has expired.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        <strong>Effects of withdrawal</strong>
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        If you withdraw from this contract, we shall reimburse to you all
        payments received from you, including the costs of delivery (with the
        exception of the supplementary costs resulting from your choice of a
        type of delivery other than the least expensive type of standard
        delivery offered by us), without undue delay and in any event not later
        than 14 days from the day on which we are informed about your decision
        to withdraw from this contract. We will carry out such reimbursement
        using the same means of payment as you used for the initial transaction,
        unless you have expressly agreed otherwise; in any event, you will not
        incur any fees as a result of such reimbursement.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">End of withdrawal notice.</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">Model withdrawal form</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        (If you wish to withdraw from the contract, please complete this form
        and return it to us)
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">To</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        DLLC, 1228 6th Ave NE, Issaquah WA 98029, USA
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        E-mail: support&#64;doughly.co
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        I/We (<em>) hereby give notice that I/We (</em>) withdraw from my/our
        (<em>) contract of sale of the following goods (</em>)/for the provision
        of the following service (*),
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">—</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        Ordered on (<em>)/received on (</em>),
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">—</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">Name of consumer(s),</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">—</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">Address of consumer(s),</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">—</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        Signature of consumer(s) (only if this form is notified on paper),
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">—</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">Date</p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">(*) Delete as appropriate</p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="rights-granted-to-the-user">Rights granted to the user</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        7.1 DLLC grants the user a world-wide, non-exclusive (simple),
        non-transferable, non-sublicensable right to use the App, the Services,
        and the content of the community including any documents and user
        manuals found in the App for private purposes and save and display
        within the scope necessary for use in accordance with regulations and
        contract, and share exclusively by using the App functions intended for
        this purpose with other users in the community or through other
        supported social networks. This right is permanent for the App and
        DLLC's own content and time-limited for the community for the period of
        the contract for the use of community functions. The user may download
        and use the App exclusively on devices that are linked to the App Store
        ID used for the installation. All rights that are not expressly granted,
        especially the right to process, disseminate and/or otherwise exploit
        the App and the community content remain reserved.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        7.2 The user may not decompile the App or otherwise reverse engineer it
        or try to find out the source code. An exception to this are actions
        that are necessary to obtain interface information required to ensure
        interoperability of the App with third-party software; this requires
        that the user has previously made unsuccessful attempts to find out such
        information from DLLC in exchange for an appropriate compensation of
        expenditures. Interface information obtained in this manner may only be
        used for establishing interoperability, and may not be published, and
        may only be provided to third parties in the scope necessary for
        establishing such interoperability.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="rights-granted-to-ajns-indemnification">
        Rights granted to DLLC; Indemnification
      </h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        8.1 The user grants to DLLC the gratuitous, worldwide, non-exclusive,
        transferable, sublicensable right, limited to the duration of the
        contract, to save all community content added by users (including
        permitted derivative works such as translations) for the purposes of the
        contract for the use of the App, the Services, and the community
        functions, in particular including the display content with other users
        of the Community, and to duplicate, make publicly accessible, translate
        into other languages, and edit technically to the necessary extent,
        especially due to compatibility and optimization of the need for storage
        space and transfer capacities (in particular to compress and slightly
        reduce, even if the effects are visible; but the content cannot be
        distorted), and use in other ways as needed for the purposes of the
        contract. This also includes DLLC’ right to make such content accessible
        to its third party cooperation partners through application programming
        interfaces to enable such third parties to display such content in their
        own services and on their own devices, but in such a way that the
        content is no longer visible in/on such third party services/devices
        once it has been deleted from Doughly. Important: DLLC does not
        appropriate the user's content.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        8.2 DLLC reserves the right to “feature” certain user generated content
        with the user’s consent. Such consent may be obtained by e-mail or
        through a message within the App. Consent is voluntary. If the user
        consents to “featuring” content, they grant DLLC a gratuitous,
        worldwide, non-exclusive, transferable, sublicensable, perpetual,
        irrevocable right to store, copy, make publicly accessible, translate
        into other languages, modify, connect with other works (e.g. combine a
        recipe with new photo or video material that may or may not be similar
        to the originally submitted phot or video material). The foregoing
        includes in particular the right to make such content accessible to
        third parties via application programming interfaces, and the right to
        post the content in social media and other third party offerings and
        platforms, and to use it to advertise the offerings of Doughly.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        8.3 The grant of rights in Sec. 8.2 applies accordingly for any content
        submitted for participation in a contest, except to the extent the
        contest terms for that specific contest expressly provide otherwise.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        8.4 You commit to indemnify DLLC from all damages, claims, costs
        (including customary legal fees) and expenditures that DLLC incurs as a
        result of in-court or out-of-court legal actions taken by third parties
        or authorities against DLLC due to or in connection with a breach of
        Section 3.4 of these Terms of Use in the community content added by you.
        This does not apply if you are not the one responsible for the breach.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="warrantyliability">Warranty/Liability</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.1 To the extent the App is provided free of charge and other services
        (specifically the Services) are also provided free of charge, DLLC does
        not assume any warranties and is liable in accordance with the legal
        provisions only for intent and gross negligence; DLLC is only liable for
        App defects if DLLC maliciously concealed the defect.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.2 To the extent certain functions of the App and/or certain services
        of DLLC are paid through in app purchases, the statutory warranty regime
        applies subject to the following provisions: In the event a content item
        or a functionality is defective and the user reports this defect to
        DLLC, DLLC will at its choice and within a reasonable period to be set
        by the user, remedy the defect (e.g. by means of an update) or provide
        the user with a new version of the content or the function (as
        applicable) which does not have the defect. In the event such
        supplementary performance is definitely denied or has definitely failed,
        the user may reduce the fees or terminate the contract regarding the
        concerned content and/or function, and in each case claim damages
        pursuant to Section 9.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.3 If parts of the App and/or specific services of DLLC are not free of
        charge through in-App purchases, the statutory liability of DLLC is
        limited as follows:
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.3.1 The statutory liability of DLLC is unlimited in case of intent,
        gross negligence, personal injury, breaches of a guarantee – which must
        be expressly designated as such in order to be a guarantee in the legal
        sense – and under the German Product Liabilty Act.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.3.2 Except in the cases described in Section 9.3.1, DLLC is
        responsible for slight negligence only in cases of breach of an
        essential obligation. Essential obligations are obligations that must be
        performed in order to achieve the purpose of the contract in the first
        place, and on the performance of which the user may therefore generally
        rely.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.3.3 In the cases described in Section 9.3.2, DLLC is only liable for
        the typical and foreseeable damage.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.3.4 In other cases, DLLC is not liable for slight negligence.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.4 The user must regularly back-up his/her data. If DLLC is liable for
        data loss in accordance with this section, such liability is limited to
        the restoration costs, which would have been incurred in case of regular
        and risk-adequate preparation of back-up copies.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        9.5 DLLC is not liable for damages resulting from a change of the App by
        the user or a software and hardware environment that differs from system
        requirements.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="duration-and-cancellation-consequences-of-cancellation">
        Duration and cancellation; consequences of cancellation
      </h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        10.1 Clarification: The App itself is made available for permanent use;
        the corresponding right of use cannot be canceled.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        10.2 The contract for the use of the underlying community functions and
        the Services is concluded for an undetermined period of time and may be
        terminated for convenience by either party at any time with a notice
        period of 7 days, unless otherwise specified in this section 8.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        10.3 In deviation from Section 10.2 the special conditions for any
        time-limited premium functions acquired through in-App purchases may
        specify other periods for regular cancellation of the contract for the
        use of the underlying community functions; unless special regulations
        are contained therein, the cancellation will become valid only once the
        contract period of the time-limited premium function ends.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        10.4 The legal right of both parties to an immediate extraordinary
        cancellation for an important reason remains reserved. An important
        reason for DLLC, in particular, is when the user breaches one of its
        obligations from Section 3 and, if the breach can be rectified, does not
        do so within 14 days after being prompted by DLLC to do so. In
        particular in case of breaches against Section 3.4 a notice period is
        superfluous.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        10.5 After the cancellation of the use of community functions goes into
        effect, DLLC will no longer show the community content of the user and
        delete it after four weeks. Within this period, DLLC will provide the
        content to the user for download or in another reasonable manner on
        request.
      </p>
    </li>
    <li>
      <h2 class="font-sans text-dl-7 font-dl-3 text-dl-tan-1 mt-dl-5 mb-dl-6"  id="final-provisions">Final provisions</h2>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        11.1 Choice of law These Terms of Use are subject exclusively to the
        laws of the United States of America.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        11.3 Place of jurisdiction The place of jurisdiction and performance is
        the United States of America for (i) users who are not consumers, (ii)
        users who have no residence in the United States of America upon
        contract conclusion or move to another country after contract
        conclusion, and (iii) users whose regular place of residence is unknown
        at the moment when a lawsuit is filed. Otherwise, the place of
        jurisdiction for consumers is based on the general rules.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        11.5 Salvatory clause If a provision of this contract is or becomes
        invalid, the validity of the rest of this contract will not be affected.
        The parties agree, within reason and in good faith, to replace the
        invalid provision by a permissible regulation that is equivalent in
        terms of economic outcome, as long as this does not result in any
        substantial changes of the contractual content.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">
        11.6 Changes to the Terms of Use DLLC may change and adapt these Terms
        of Use during the validity period of the contract for the use of
        community functions effective for the future, if this is necessitated by
        changes in the legal and economic general conditions, especially changes
        in the law and court practices. DLLC will send the amended Terms of Use
        to the user at least six weeks before the planned entry into effect per
        e-mail and point out especially the new provision. At the same time,
        DLLC will set a reasonable period of at least six weeks for the user to
        declare the acceptance of the amended Terms of Use for the further use
        of services. If no declaration of acceptance is made within this period,
        since the receipt of the information, the amended Terms of Use will be
        considered accepted. DLLC will inform the customers once the period
        begins in particular of the legal consequence, i.e., the right to
        object, the deadline for objection, and the significance of remaining
        silent. This change mechanism does not apply to changes of the parties'
        main contractual duties.
      </p>
      <p class="mb-dl-4 font-dl-tan-2 font-body text-dl-5">Last updated: August 2024</p>
    </li>
  </ol>
  <!-- Exit Button -->
  <button
    class="fixed bottom-2 right-2 z-20 rounded-full bg-dl-tan-10 px-dl-2 py-dl-1"
    (click)="onExitClick()"
    type="button"
  >
    <svg version="1.1" height="33" width="33" viewBox="0 -5 100 125">
      <path
        [attr.fill]="this.extraStuffService.getFillColor(16)"
        d="M65.1,49.9l26.6-26.6c4.2-4.2,4.2-11,0-15.2h0c-4.2-4.2-11-4.2-15.2,0L49.9,34.7L23.4,8.2c-4.2-4.2-11-4.2-15.2,0v0  c-4.2,4.2-4.2,11,0,15.2l26.6,26.6L8.2,76.5c-4.2,4.2-4.2,11,0,15.2c4.2,4.2,11,4.2,15.2,0l26.6-26.6l26.6,26.6  c4.2,4.2,11,4.2,15.2,0c4.2-4.2,4.2-11,0-15.2L65.1,49.9z"
      />
    </svg>
  </button>
</div>
