<div
  class="flex h-dl-21 w-full transform flex-col rounded-dl-3 bg-dl-tan-10 px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mb-dl-3 text-center">
    <div class="mt-dl-2 space-x-1 whitespace-nowrap">
      <span class="text-dl-6 font-dl-2 text-dl-tan-5 dark:text-dl-tan-6"
        >Edit</span
      ><span class="text-dl-6 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9">{{
        (ingredient$ | async)?.name
      }}</span>
    </div>
  </div>
  <mat-spinner *ngIf="isUpdating" class="my-app-custom-spinner"></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="!isUpdating"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <p
            *ngIf="(ingredient$ | async)?.needsReview"
            class="text-dl-5 font-dl-3 text-dl-pinknew-4 dark:text-dl-pinknew-7"
          >
            Confirm existing or Edit details
          </p>

          <!-- Name -->
          <div id="form-ingredientName" class="relative flex flex-col">
            <dl-text-input
              label="Name"
              formControlName="name"
              [hasError]="form.get('name')?.hasError('required') || false"
              errorMessage="Name is required"
            ></dl-text-input>
          </div>

          <div id="form-ingredientPurchaseUnit" class="relative flex flex-col">
            <dl-select-input
              label="Purchase Unit"
              formControlName="purchaseUnit"
              [options]="purchaseUnits"
              [hasError]="
                (form.get('purchaseUnit')?.invalid &&
                  !form.get('purchaseUnit')?.pristine) ||
                false
              "
              errorMessage="Select a purchase unit"
            ></dl-select-input>
          </div>

          <div id="form-ingredientLifespanDays" class="relative flex flex-col">
            <dl-text-input
              label="Lifespan (days)"
              formControlName="lifespanDays"
              [hasError]="
                form.get('lifespanDays')?.hasError('notPositiveInteger') ||
                false
              "
              errorMessage="Must be a positive whole number"
            ></dl-text-input>
          </div>

          <div
            id="form-ingredientGramRatio"
            class="relative mb-dl-5 flex flex-col"
          >
            <dl-text-input
              label="{{ gramRatioLabel() }}"
              formControlName="gramRatio"
              [hasError]="
                form.get('gramRatio')?.hasError('notPositiveFloat') || false
              "
              errorMessage="Must be a positive whole number"
              appValueSync
            ></dl-text-input>
            <div
              *ngIf="gettingUnitRatio()"
              class="absolute -bottom-1 left-3 flex"
            >
              <mat-spinner
                [diameter]="18"
                class="my-app-custom-spinner"
              ></mat-spinner>
              <p
                class="ml-dl-3 text-dl-4 font-dl-2 italic text-dl-tan-3 dark:text-dl-tan-8"
              >
                Getting Suggested Ratio...
              </p>
            </div>
            <!-- AI Stars animation -->
            <ng-lottie
              *ngIf="gramRatioSuggestion() === form.get('gramRatio')?.value"
              containerClass="absolute left-2 -bottom-1"
              height="25px"
              width="25px"
              (animationCreated)="animationCreated($event)"
              (loopComplete)="loopComplete()"
              [options]="animationOptions"
            />
            <p
              *ngIf="gramRatioSuggestion() === form.get('gramRatio')?.value"
              class="absolute -bottom-1 left-8 ml-dl-3 text-dl-4 font-dl-2 italic text-dl-tan-3 dark:text-dl-tan-8"
            >
              Suggested Ratio
            </p>
          </div>

          <div id="form-ingredientBrand" class="relative flex flex-col">
            <dl-text-input
              label="Brand"
              formControlName="brand"
            ></dl-text-input>
          </div>
        </div>
        <!---->

        <div class="mt-dl-2">
          <button
            type="button"
            *ngIf="(ingredient$ | async)?.needsReview && form.pristine"
            class="mb-dl-3 inline-flex w-full justify-center rounded-dl-1 border-2 bg-dl-pinknew-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-10 shadow-sm dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 dark:text-dl-tan-1"
            (click)="onConfirm()"
          >
            Confirm Details
          </button>
          <button
            type="button"
            class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
                form.valid && !form.pristine,
              'bg-dl-tan-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit Changes
          </button>
          <button
            type="button"
            class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
