<div
  class="relative max-h-dl-21 w-dl-14 transform overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isAdding"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isAdding">
    <div class="flex w-full flex-col">
      <div class="mt-dl-2 space-x-1 whitespace-nowrap text-center">
        <span class="text-dl-6 text-dl-grey-5"> Add</span
        ><span class="text-dl-6 font-dl-3 text-dl-grey-2">{{
          (ingredient$ | async)!.name
        }}</span><span class="text-dl-6 text-dl-grey-5">Stock</span>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-ingredientID" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Ingredient</label>
          <mat-form-field>
            <mat-select formControlName="ingredientID">
              <mat-option
                *ngFor="let ingredient of ingredients$ | async"
                [value]="ingredient.ingredientID"
              >
                {{ ingredient.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div id="form-purchasedDate">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4"
            >Purchased Date</label
          >
          <mat-form-field class="w-full">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="purchasedDate"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              class="text-dl-5"
              *ngIf="form.get('purchasedDate')?.hasError('dateInvalid')"
            >
              Date must be after selected employee's hire date.
            </mat-error>
          </mat-form-field>
        </div>

        <div id="form-measurement">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4"
            >Measurement
            <ng-container *ngIf="ingredient$ | async as ingredient"
              >in {{ ingredient?.purchaseUnit }}s</ng-container
            ></label
          >
          <mat-form-field class="w-full">
            <input matInput formControlName="measurement" />
          </mat-form-field>
        </div>
      </div>
      <!---->

      <div class="mt-dl-3">
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white sm:ml-dl-4"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-pink-4':
              form.valid && (!form.pristine || data.ingredientID),
            'bg-dl-grey-7': !form.valid || (!data.ingredientID && form.pristine)
          }"
          [disabled]="!form.valid || (!data.ingredientID && form.pristine)"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="mt-dl-3 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
