<div
  class="flex h-dl-21 transform flex-col rounded-dl-3 bg-dl-tan-10 px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mb-dl-3 text-center">
    <span
      class="font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
    >
      Edit Recipe Step
    </span>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isUploadingPhoto"
  ></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isUploadingPhoto === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <div id="form-stepTitle" class="relative flex flex-col">
            <dl-text-input
              label="Title"
              formControlName="title"
              [hasError]="form.get('title')?.hasError('titleExists') || false"
              errorMessage="This title already exists"
            ></dl-text-input>
          </div>
          <div id="form-description" class="my-dl-4">
            <dl-text-input
              label="Description"
              formControlName="description"
              [isTextArea]="true"
            ></dl-text-input>
          </div>
          <div id="form-photo-recipe-step" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s font serif inline-flex w-full justify-center rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-1 text-dl-5 font-bold italic text-dl-tan-10 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 sm:ml-dl-4"
                (click)="selectImage()"
              >
                Choose New Photo
              </button>
            </div>

            <image-cropper
              style="
                --cropper-outline-color: 'red';
                --cropper-overlay-color: 'red';
              "
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 5"
              (imageCropped)="stepImageCropped($event)"
              (imageLoaded)="stepImageLoaded()"
              (cropperReady)="stepCropperReady()"
              (loadImageFailed)="stepLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>
        <!---->

        <div class="mt-dl-4">
          <button
            type="button"
            class="shadow-s font serif inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-1 text-dl-5 font-bold italic text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-green-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-green-6':
                (form.valid && !form.pristine) || this.croppedImage,
              'bg-dl-tan-7':
                !form.valid || (form.pristine && !this.croppedImage)
            }"
            [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
            (click)="onSubmit()"
          >
            Submit Changes
          </button>
          <button
            type="button"
            class="font serif mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-1 text-dl-5 font-bold italic text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
