<div
  class="mx-dl-3 h-dl-8 w-10/12 rounded-dl-3 p-dl-1"
  [ngStyle]="
    isSelected
      ? { transform: 'scale(1.1)', transition: 'transform 0.3s ease-in-out' }
      : { transform: 'scale(1)', transition: 'transform 0.3s ease-in-out' }
  "
  [ngClass]="{
    'bg-gradient-to-br from-dl-pinknew-3 to-dl-pinknew-6': isSelected,
    'bg-dl-tan-9': !isSelected
  }"
>
  <div
    class="h-full w-full flex-col justify-between rounded-dl-3 px-dl-4 pb-dl-2 py-dl-3"
    [ngClass]="{
      'bg-dl-tan-10 shadow-xl': isSelected,
      'bg-dl-tan-9 shadow-md': !isSelected
    }"
  >
    <!-- Title, Price -->
    <div class="relative flex w-full items-center justify-between">
      <!-- Title -->
      <div class="flex flex-col">
        <p
          class="whitespace-nowrap font-sans text-dl-5 font-dl-3 text-dl-pinknew-1"
        >
          {{ getTitleString(package.identifier) }}
        </p>
      </div>

      <!-- Price -->
      <span
        class="whitespace-nowrap font-sans text-dl-5 font-dl-3 text-dl-pinknew-1"
        >{{
          package.product.price
            | number : "1.0-2"
            | currency : package.product.currencyCode
        }}</span
      >
    </div>
    <!-- Description/Note -->
    <span
      *ngIf="package.identifier === '$rc_lifetime'"
      class="w-full font-body text-dl-4 font-dl-2 text-dl-pinknew-2"
      >Unlimited Recipes forever. AI Import tokens purchased separately.</span
    >
  </div>
</div>
