<div class="w-full">
  <div
    class="mx-dl-1 flex flex-col items-center rounded-xl bg-dl-tan-10 bg-opacity-15 py-dl-4"
  >
    <div
      *ngFor="let point of points"
      class="mb-dl-5 flex max-w-dl-13 flex-col justify-start"
    >
      <span
        class="mb-dl-1 font-body text-dl-5 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
        >{{ point.title }}</span
      >
      <span
        class="font-body text-dl-4 font-dl-2 text-dl-tan-10 transition-all duration-100 ease-in-out"
        >{{ point.description }}</span
      >
    </div>
  </div>
  <div class="mt-dl-6 flex flex-col items-center">
    <span
      class="mb-dl-2 font-body text-dl-6 font-dl-3 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Cancel anytime</span
    >
    <span
      class="mb-dl-2 max-w-dl-14 text-center font-body text-dl-5 font-dl-2 text-dl-tan-10 transition-all duration-100 ease-in-out"
      >Cancel your subscription anytime without penalties or fees</span
    >
  </div>
</div>
