<div class="relative mx-auto w-full bg-white pt-dl-5">
  <!-- View Header -->
  <div class="flex w-full justify-around h-dl-4 mb-dl-5">
    <!-- <span
      (click)="setView('discover')"
      class="inline-flex items-center px-1 pt-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 text-dl-grey-2 font-dl-3':
          view() === 'discover',
        'text-dl-5 text-dl-grey-4 font-dl-2': view() !== 'discover'
      }"
    >
      Discover
    </span> -->
    <span
      (click)="setView('created')"
      class="inline-flex items-center py-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 text-dl-grey-2 font-dl-3':
          view() === 'created',
        'text-dl-5 text-dl-grey-4 font-dl-2': view() !== 'created'
      }"
    >
      Created
    </span>
    <span
      (click)="setView('subscribed')"
      class="inline-flex items-center px-1 pt-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 text-dl-grey-2 font-dl-3':
          view() === 'subscribed',
        'text-dl-5 text-dl-grey-4 font-dl-2': view() !== 'subscribed'
      }"
    >
      Subscribed
    </span>
  </div>

  <!-- Main Content -->
  <div class="h-full">
    <dl-discover-recipes *ngIf="view() === 'discover'"></dl-discover-recipes>
    <dl-recipe-list [type]="'created'" *ngIf="view() === 'created'"></dl-recipe-list>
    <dl-recipe-list [type]="'subscription'" *ngIf="view() === 'subscribed'"></dl-recipe-list>
  </div>
</div>