<div
  class="relative flex max-h-dl-21 w-full transform flex-col items-center rounded-dl-3 bg-dl-tan-9 px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isLoading"></mat-spinner>
  <div class="mb-dl-3 text-center">
    <p
      class="leading-dl-4 font-sans text-dl-6 font-dl-3 text-dl-tan-4 dark:text-dl-tan-8"
    >
      Tools
    </p>
  </div>
  <div
    *ngIf="!isLoading"
    class="flex h-full w-full flex-grow flex-col overflow-y-auto"
  >
    <!--List of Recipe Tools-->
    <div class="mb-dl-5 flex w-full flex-grow flex-col overflow-y-auto">
      <ng-container *ngFor="let tool of displayedTools$ | async">
        <div
          class="mb-dl-2 flex w-full flex-grow items-center justify-between rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 text-dl-5 text-dl-tan-4 dark:bg-dl-tan-2 dark:text-dl-tan-9"
          (click)="onDeleteClick(tool.toolID, tool.recipeToolID)"
        >
          <div class="flex-grow flex-wrap">
            <span *ngIf="tool.toolID > 0" class="font-body font-dl-3"
              >{{ tool.name }}&nbsp;&nbsp;&nbsp;</span
            >
            <span *ngIf="tool.quantity > 0" class="font-body font-dl-2">{{
              tool.quantity
            }}</span>
            <span
              *ngIf="tool.toAdd"
              class="font-body font-dl-2 italic text-dl-tan-5 dark:text-dl-tan-6"
              >&nbsp;&nbsp;&nbsp;draft&nbsp;&nbsp;</span
            >
          </div>
          <span *ngIf="!tool.toolID" class="font-body font-dl-3"
            >Recipe needs no tools</span
          >
          <button
            type="button"
            class="ml-dl-2 rounded-dl-2 bg-dl-tan-10 text-dl-tan-3 hover:bg-dl-tan-9 focus:outline-none dark:bg-dl-tan-2 dark:text-dl-tan-8 dark:hover:bg-dl-tan-3"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="-8 -3 30 30"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </ng-container>
    </div>
    <button
      type="button"
      class="relative mx-dl-1 mt-dl-2 flex h-dl-4 items-center justify-center rounded-dl-1 bg-dl-tan-10 text-dl-2 transition-all duration-150 hover:bg-dl-tan-9 focus:outline-none focus:ring-2 focus:ring-dl-tan-7 dark:border dark:border-dl-tan-4 dark:bg-dl-tan-2 dark:hover:bg-dl-tan-3"
      (click)="onAddClick()"
      id="addRecipeToolButton"
    >
      <span class="sr-only">Add Recipe Tool</span>
      <svg
        class="text-dl-tan-2 dark:text-dl-tan-9"
        width="22"
        height="22"
        viewBox="0 0 15 15"
        fill="none"
      >
        <path
          d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <!-- Cancel, Submit Buttons-->
    <div class="mx-dl-1 mb-dl-1 mt-dl-3 sm:mt-dl-4 sm:flex sm:flex-row-reverse">
      <button
        type="button"
        class="shadow-s w-full cursor-pointer justify-center rounded-dl-1 px-dl-3 py-dl-2 font-serif text-dl-5 font-dl-3 text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
        [ngClass]="{
          'bg-dl-pinknew-4 dark:bg-dl-pinknew-7':
            toolsToAdd.length > 0 || submitMessage === 'No tools needed',
          'bg-dl-tan-7':
            submitMessage === 'Submit Additions' && !toolsToAdd.length
        }"
        (click)="onSubmit()"
        [disabled]="submitMessage === 'Submit Additions' && !toolsToAdd.length"
      >
        {{ submitMessage }}
      </button>
      <button
        type="button"
        class="mt-dl-3 w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 font-serif text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
