<div class="flex h-full flex-col items-center">
  <!-- recipes/ingredients columns-->
  <div class="flex flex-col items-center">
    <!-- ShoppingListRecipes -->
    <p class="mb-dl-3 mt-dl-7 text-dl-6 font-dl-3 text-dl-grey-2">
      Planned Recipes
    </p>
    <div
      class="relative mb-dl-3 flex h-dl-13 flex-col items-center overflow-y-auto"
    >
      <div class="flex flex-col items-center">
        <dl-recipe-card
          *ngFor="let recipe of displayRecipes()"
          (click)="recipeCardClick(recipe)"
          [recipe]="recipe"
          [isUserRecipe]="true"
          [isSelected]="recipe.shoppingListRecipeID === selectedRecipeID()"
        ></dl-recipe-card>
      </div>
    </div>
    <button
      type="button"
      class="mb-dl-8 block h-dl-4 w-dl-16 whitespace-nowrap rounded-dl-1 border-2 px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3"
      [ngClass]="{
        'bg-dl-pink-4 text-white': selectedRecipeID() === 0,
        'border-dl-pink-4 bg-white text-dl-pink-4': selectedRecipeID() !== 0,
        invisible:
          recipes().length - displayRecipes().length === 0 &&
          selectedRecipeID() === 0
      }"
      (click)="onRecipeButtonClick()"
    >
      @if (selectedRecipeID() === 0) { Add Recipe } @else { Remove Recipe and
      Related Items }
    </button>

    <!-- ShoppingListIngredients -->
    <p class="mb-dl-3 mt-dl-7 text-dl-6 font-dl-3 text-dl-grey-2">
      Items to Buy
    </p>
    <div
      class="relative mb-dl-3 flex max-h-dl-15 w-dl-16 flex-col border-dl-grey-2 bg-dl-grey-10 p-dl-3"
    >
      <!-- Planned Recipe Items -->
      <p class="mb-dl-3 ml-dl-2 text-dl-5 font-dl-3 text-dl-pink-6">
        Planned Recipe Items
      </p>
      <div class="flex flex-wrap overflow-y-auto rounded-dl-3">
        @for (item of displaySLRecipeIngr(); track item.ingredientName) {
        <div
          class="relative mx-dl-2 mb-dl-2 flex justify-between rounded-dl-1 bg-white px-dl-3 py-dl-1"
        >
          <span class="text-dl-5 font-dl-3 text-dl-grey-1">
            {{ item.ingredientName }}
            <span class="text-dl-5 font-dl-2 text-dl-grey-3">
              {{ Math.ceil(item.quantity) }} {{ item.unit }}
            </span>
          </span>
        </div>
        } @empty {
        <p class="text-dl-4 font-dl-2 text-dl-grey-5">None</p>
        }
      </div>

      <!-- Standalone Items -->
      <p class="mb-dl-3 ml-dl-2 mt-dl-5 text-dl-5 font-dl-3 text-dl-pink-6">
        Other Items
      </p>
      <div class="flex flex-wrap overflow-y-auto rounded-dl-3">
        @for (item of displaySLStandaloneIngr(); track item.ingredientID) {
        <div
          (click)="standaloneIngredientCardClick(item)"
          class="relative mx-dl-2 mb-dl-2 flex justify-between rounded-dl-1 border border-dl-grey-5 px-dl-3 py-dl-1 transition-all duration-200 ease-in-out"
          [ngClass]="{
            'border-dl-grey-5':
              item.shoppingListIngredientID !== selectedSLIngrID(),
            'border-dl-teal-10 bg-dl-teal-10':
              item.shoppingListIngredientID === selectedSLIngrID()
          }"
        >
          <span class="text-dl-5 font-dl-3 text-dl-grey-1">
            {{ item.name }}
            <span class="text-dl-5 font-dl-2 text-dl-grey-3">
              {{ Math.ceil(item.needMeasurement) }} {{ item.needUnit }}
            </span>
          </span>
        </div>
        } @empty {
        <p class="italic pl-dl-3 text-dl-4 font-dl-2 text-dl-grey-5">None</p>
        }
      </div>
    </div>
    <button
      type="button"
      class="mb-dl-8 block h-dl-4 w-dl-16 whitespace-nowrap rounded-dl-1 border-2 px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3"
      (click)="onItemButtonClick()"
      [ngClass]="{
        'bg-dl-pink-4 text-white': selectedSLIngrID() === 0,
        'border-dl-pink-4 bg-white text-dl-pink-4': selectedSLIngrID() !== 0,
      }"
    >
      @if (selectedSLIngrID() === 0) { Add Other Item } @else { Remove Selected Item }
    </button>
  </div>
  <!-- Spacer div -->
  <div class="flex-grow"></div>

  <!-- Done Adding, Shop button-->
  <button
    type="button"
    class="mb-dl-3 block h-dl-4 w-dl-16 whitespace-nowrap rounded-dl-1 border bg-dl-pink-4 px-dl-1 py-dl-1 text-center text-dl-4 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out"
    (click)="onShopClick()"
  >
    Shop List
  </button>
</div>
