<div
  class="rounded-dl-3 bg-dl-pinknew-10 p-dl-4 dark:border dark:border-dl-pinknew-8 dark:bg-dl-pinknew-1"
>
  <div class="flex flex-col justify-between">
    <div
      class="absolute right-2 top-2 flex-shrink-0 text-dl-pinknew-5 dark:text-dl-pinknew-6"
    >
      <svg
        class="w-13 h-9"
        viewBox="-9 14 110 75"
        stroke="currentColor"
        fill="currentColor"
      >
        <path
          d="M86.7,28.9c-3,0.7-5.5,3.1-6.3,6c-1,3.4,0.2,6.8,2.7,9c-3.2,4.5-8.4,7.2-14,7.2c-6.6,0-12.6-3.8-15.4-9.7     c2.9-1.4,4.9-4.4,4.9-7.7c0-5.6-5.3-10-11.1-8.4c-3,0.8-5.4,3.4-6.1,6.4c-0.9,4.4,1.4,8.4,5.2,9.9c-2.9,5.7-8.8,9.4-15.3,9.4     c-5.6,0-10.9-2.8-14.1-7.4c1.8-1.6,2.9-3.9,2.9-6.3c0-5.6-5.2-9.9-11-8.4c-3,0.8-5.5,3.3-6.2,6.4c-1.2,5.4,2.7,10.3,7.8,10.7     l10.6,26.7c0.5,1.3,1.8,2.2,3.2,2.2H76c1.4,0,2.7-0.9,3.2-2.2L89.8,46c4.3-0.5,7.7-4.2,7.7-8.7C97.5,31.9,92.4,27.6,86.7,28.9z"
        />
      </svg>
    </div>
    <div class="mb-dl-4 ml-dl-3 flex w-full flex-col items-center">
      <p
        class="mb-dl-4 mr-dl-9 font-sans text-dl-6 font-dl-3 text-dl-pinknew-2 dark:text-dl-pinknew-9"
      >
        {{ data.titleMessage }}
      </p>
      <p
        class="font-body text-dl-4 font-dl-3 text-dl-pinknew-2 dark:text-dl-pinknew-9"
      >
        {{ data.promptMessage }}
      </p>
    </div>
    <button
      type="button"
      class="font serif whitespace-nowrap rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-1 text-center text-dl-5 font-bold italic text-dl-tan-10 shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pinknew-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pinknew-6 dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 hover:dark:bg-dl-pinknew-6"
      (click)="onRouteToUpgrade()"
    >
      {{ data.buttonMessage }}
    </button>
  </div>
</div>
