<div
  class="relative max-h-full w-dl-14 transform overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all"
>
  <div class="flex items-center justify-center" *ngIf="isAdding">
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isAdding">
    <div class="relative flex w-dl-13 max-w-full flex-col">
      <div class="mt-dl-1 text-center sm:ml-dl-1 sm:mt-dl-0 sm:text-left">
        <h3 class="text-dl-6 font-dl-3 text-dl-grey-2">
          Add Ingredient to Kitchen
        </h3>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-ingredientName" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Ingredient</label>
          <mat-form-field class="w-full">
            <input matInput formControlName="name" />
            <mat-error
              class="text-dl-5"
              *ngIf="form.get('name')?.hasError('duplicateString')"
            >
              Cannot reuse an existing ingredient name
            </mat-error>
          </mat-form-field>
        </div>

        <div id="form-ingredientBrand" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Brand</label>
          <mat-form-field class="w-full">
            <input matInput formControlName="brand" />
          </mat-form-field>
        </div>

        <div id="form-ingredientLifespanDays" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4"
            >Lifespan (days)</label
          >
          <mat-form-field class="w-full">
            <input matInput formControlName="lifespanDays" />
            <mat-error
              class="text-dl-5"
              *ngIf="form.get('lifespanDays')?.hasError('notPositiveInteger')"
            >
              Must be a positive whole number
            </mat-error>
          </mat-form-field>
        </div>

        <div id="form-ingredientPurchaseUnit" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4"
            >Purchase Unit</label
          >
          <mat-form-field>
            <mat-select formControlName="purchaseUnit">
              <mat-option *ngFor="let unit of purchaseUnits" [value]="unit">
                {{ unit }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div id="form-ingredientGramRatio" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Gram Ratio</label>
          <mat-form-field class="w-full">
            <input matInput formControlName="gramRatio" />
            <mat-error
              class="text-dl-5"
              *ngIf="form.get('gramRatio')?.hasError('notPositiveFloat')"
            >
              Must be a positive number
            </mat-error>
          </mat-form-field>
          <div *ngIf="gettingUnitRatio()" class="absolute flex -bottom-1 left-3">
            <mat-spinner [diameter]="18" class="my-app-custom-spinner"></mat-spinner>
            <p class="text-dl-4 ml-dl-3 text-dl-grey-3 font-dl-2 italic">Getting Suggested Ratio...</p>
          </div>
          <p *ngIf="gramRatioSuggestion() === form.get('gramRatio')?.value" class="absolute -bottom-1 text-dl-4 ml-dl-3 text-dl-grey-3 italic font-dl-2">Suggested Ratio</p>
        </div>
      </div>
      <!---->

      <div class="mt-dl-6 sm:mt-dl-4 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white sm:ml-dl-4"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5':
              form.valid && !form.pristine,
            'bg-dl-grey-7': !form.valid || form.pristine
          }"
          [disabled]="!form.valid || form.pristine"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="mt-dl-3 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
