<script src="https://accounts.google.com/gsi/client" async></script>
<div
  class="flex h-full flex-col  bg-white py-dl-8 sm:px-dl-6 lg:px-dl-8"
>
  <div class="xm:w-full sm:mx-auto sm:max-w-md">
    <img
      class="mx-auto h-10 w-auto"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="doughleap logo"
    />
  </div>

  <!--main card-->
  <form
    [formGroup]="login_form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-center"
  >
    <div class="relative mb-dl-7 flex flex-col">
      <div class="mt-dl-4 text-center">
        <h3 class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-3">Sign In</h3>
      </div>
    </div>
    <!--FORM FIELDS-->
    <div id="form-email">
      <div class="relative flex flex-col">
        <label class="text-dl-4 font-dl-3 text-dl-grey-5" for="email"
          >Email</label
        >
        <mat-form-field class="w-full" [style.width.px]="296">
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </div>
    </div>

    <div id="form-password" class="mb-dl-3">
      <div class="relative flex flex-col">
        <label class="text-dl-4 font-dl-3 text-dl-grey-5" for="email"
          >Password</label
        >
        <mat-form-field class="w-full" [style.width.px]="296">
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
    </div>

    <!---->

    <div class="mx-dl-2 flex items-center justify-between" style="width: 296px">
      <!-- Remember Me Checkbox-->
      <div class="flex items-center">
        <input
          id="remember-md"
          name="remember-me"
          type="checkbox"
          class="h-dl-3 w-dl-3 rounded border-dl-grey-8 text-dl-blue-6"
        />
        <label
          for="remember me"
          class="ml-dl-3 text-dl-5 font-dl-3 text-dl-grey-5"
          >Remember me</label
        >
      </div>
      <!-- Forgot Password Link-->
      <div class="leading-dl-6 text-dl-2">
        <a
          class="cursor-pointer text-dl-5 font-dl-3 text-dl-blue-5 hover:text-dl-blue-5"
          routerLink="/password-reset"
          >Forgot password?</a
        >
      </div>
    </div>

    <button
      type="submit"
      [disabled]="login_form.invalid"
      style="height: 40px; width: 296px"
      class="shadow-s mt-dl-5 inline-flex items-center justify-center rounded-dl-1 text-dl-5 font-dl-2 text-white"
      [ngClass]="{
        'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5':
          login_form.invalid === false,
        'bg-dl-grey-7': login_form.invalid === true
      }"
    >
      Sign In with Email
    </button>
  </form>
  <!-- Google Sign In -->
  <div
    id="g_id_onload"
    data-client_id="911585064385-1ei5d9gdp9h1igf9hb7hqfqp466j6l0v.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-callback="handleSignInWithGoogle"
    data-nonce=""
    data-auto_select="true"
    data-itp_support="true"
  ></div>

  <div class="mt-dl-4 flex w-full flex-col items-center">
    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="center"
      data-width="296"
    ></div>
  </div>

  <div style="color: red" *ngIf="error">{{ error }}</div>

  <!-- Space Div -->
  <div class="flex flex-grow"></div>
  <p class="mt-dl-7 text-center text-dl-5 text-dl-grey-4">
    New here?
    <a
      class="ml-dl-2 cursor-pointer text-dl-5 font-dl-3 leading-dl-2 text-dl-blue-5"
      routerLink="/register"
      >Create an account</a
    >
  </p>
</div>
