<div
  *ngIf="loading()"
  class="flex h-dl-12 w-full flex-col items-center justify-center dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <mat-spinner class="my-app-custom-spinner"></mat-spinner>
</div>
<div
  *ngIf="!loading()"
  class="flex h-full w-full flex-col items-center bg-white px-dl-5 pb-dl-4 pt-dl-4 transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <!-- Recipe Image and Author Image -->
  <div class="mb-dl-5 flex px-dl-4">
    <!-- Recipe Image -->
    <div *ngIf="recipe.photoURL">
      <img
        class="h-dl-6 w-dl-6 rounded-full"
        [src]="recipe.photoURL | imageFromCDN"
        alt="recipe image"
      />
    </div>
    <!-- Author Image -->
    <div *ngIf="author" class="ml-dl-3">
      <img
        *ngIf="author.imageURL"
        class="h-dl-6 w-dl-6 rounded-full"
        [src]="author.imageURL | imageFromCDN"
        alt="author profile image"
      />
      <span
        class="inline-flex h-dl-6 w-dl-6 items-center justify-center rounded-full bg-dl-grey-9 dark:bg-dl-grey-7"
        *ngIf="!author.imageURL && author.nameFirst && author.nameLast"
      >
        <span
          class="text-dl-6 font-dl-3 leading-none text-dl-grey-7 dark:text-dl-grey-3"
          >{{ initials }}</span
        >
      </span>
    </div>
  </div>

  <!-- Header Bar -->
  <div class="mb-dl-5 flex w-full justify-between">
    <label
      class="pl-dl-5 text-dl-6 font-dl-3 text-dl-grey-4 dark:text-dl-grey-8"
      >Recipe</label
    >
    <label
      class="mr-dl-5 text-dl-6 font-dl-3 text-dl-grey-4 dark:text-dl-grey-8"
      >Your Kitchen</label
    >
  </div>

  <!-- Mappings -->
  <div
    class="mb-dl-4 flex max-h-dl-16 w-full flex-col overflow-auto overflow-x-hidden"
  >
    <!-- Ingredient Mappings -->
    <div
      *ngFor="let i of ingredients(); let idx = index"
      class="mb-dl-3 flex w-full items-center justify-between border-b-2 border-dl-grey-9 dark:border-dl-grey-3"
    >
      <!-- Recipe Ingredient-->
      <div class="flex flex-grow items-center justify-start">
        <div
          [ngClass]="{ invisible: !ingredientStatuses()[idx] }"
          class="pr-dl-1"
        >
          <svg
            class="rounded-full bg-dl-teal-7 dark:bg-dl-teal-4"
            width="22"
            height="22"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              [attr.fill]="this.extraStuffService.getFillColor(9)"
              d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <label
          class="pl-dl-1 pr-dl-3 text-dl-5 font-dl-3 text-dl-grey-6 dark:text-dl-grey-9"
          >{{ i.name }}</label
        >
      </div>

      <!-- Kitchen Mapping -->
      <div class="flex flex-col">
        <mat-form-field [style.width.rem]="11" class="mt-dl-4 text-dl-4">
          <mat-select
            [placeholder]="getIngredientPlaceholder(i)"
            (selectionChange)="onIngredientSelectChange($event.value, i)"
          >
            <mat-option
              class="px-dl-4 py-dl-4 text-dl-4 text-dl-grey-2 dark:text-dl-grey-9"
              [value]="0"
            >
              Copy to Kitchen
            </mat-option>
            <ng-container *ngFor="let ui of userIngredients()">
              <mat-option [value]="ui.ingredientID">
                {{ ui.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <!-- Purchase Unit Ratio -->
        <div
          *ngIf="i.userIngredientID && i.userIngredientID !== 0"
          class="relative flex flex-col"
        >
          <label
            class="ml-dl-2 text-dl-4 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
            >{{ ingredientMeasurementUnitString(i) }} per
            {{ i.measurementUnit }}</label
          >
          <mat-form-field [style.width.rem]="11.25">
            <input
              [value]="i.userPurchaseUnitRatio || ''"
              (input)="onPurchaseUnitRatioChange($event.target, i)"
              matInput
              name="userPurchaseUnitRatio-{{ i.userIngredientID }}"
              type="text"
              placeholder="{{ ingredientMeasurementUnitString(i) }} per {{
                i.measurementUnit
              }}"
              class="text-dl-4"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Tool Mappings -->
    <div
      *ngFor="let t of tools(); let idx = index"
      class="mb-dl-3 flex w-full items-center justify-between border-b-2 border-dl-grey-9 dark:border-dl-grey-3"
    >
      <!-- Recipe Tool-->
      <div class="flex flex-grow items-center justify-start">
        <div [ngClass]="{ invisible: !toolStatuses()[idx] }" class="mr-dl-1">
          <svg
            class="rounded-full bg-dl-teal-7 dark:bg-dl-teal-4"
            width="22"
            height="22"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              [attr.fill]="this.extraStuffService.getFillColor(9)"
              d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <label
          class="mr-dl-3 pl-dl-1 text-dl-5 font-dl-3 text-dl-grey-6 dark:text-dl-grey-9"
          >{{ t.name }}</label
        >
      </div>
      <!-- Kitchen Mapping -->
      <div class="flex flex-col">
        <mat-form-field [style.width.rem]="11.25" class="mt-dl-4 text-dl-4">
          <mat-select
            [placeholder]="getToolPlaceholder(t)"
            (selectionChange)="onToolSelectChange($event.value, t)"
            class="w-dl-10"
          >
            <mat-option
              class="px-dl-4 py-dl-4 text-dl-4 text-dl-grey-2 dark:text-dl-grey-9"
              [value]="0"
            >
              Copy to Kitchen
            </mat-option>
            <ng-container *ngFor="let ut of userTools()">
              <mat-option [value]="ut.toolID">
                {{ ut.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="w-full">
    <button
      type="button"
      class="shadow-s h-dl-5 w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 transition-all duration-200 ease-in-out"
      (click)="onSubscribeClick()"
      [ngClass]="{
        'bg-dl-pink-4 text-white dark:border-dl-pink-7 dark:bg-dl-pink-7 dark:text-dl-grey-1':
          ingredientsReady() && toolsReady(),
        'bg-dl-grey-9 text-dl-grey-4 dark:bg-dl-grey-2 dark:text-dl-grey-7':
          !ingredientsReady() || !toolsReady()
      }"
      [disabled]="!ingredientsReady() || !toolsReady()"
    >
      Subscribe
    </button>
    <button
      type="button"
      class="mt-dl-3 h-dl-5 w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 dark:bg-dl-grey-1 dark:text-dl-grey-10"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</div>
