<div class="flex h-full w-full flex-col bg-dl-tan-9 pt-dl-4 dark:bg-dl-tan-1">
  <div
    class="mb-dl-3 flex w-full flex-row-reverse items-center justify-between px-dl-4 pr-dl-5"
  >
    <span
      class="inline-flex items-center border-b-4 border-dl-green-8 font-sans text-dl-6 font-dl-3 text-dl-tan-2 transition-all duration-100 ease-in-out dark:border-dl-green-3 dark:text-dl-tan-9"
      >Settings</span
    >
    <img
      class="h-11 w-auto"
      src="/assets/icons/logo-blue-light.svg"
      alt="doughleap logo"
    />
  </div>
  <div *ngIf="isEditing" class="flex h-full w-full items-center justify-center">
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>

  <!--FORM FIELDS-->
  <div *ngIf="!isEditing" class="flex-grow overflow-y-auto px-dl-4">
    <form class="h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex h-full flex-col">
        <div class="mb-dl-2 mt-dl-3 flex-grow overflow-y-auto">
          <!-- Check Ingredient Stock -->
          <div
            id="form-checkIngredientStock"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle
              formControlName="checkIngredientStock"
              class="select-slider"
            ></mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
              >Check Kitchen inventory when adding a recipe to a shopping list
              and deduct inventory when using a recipe</span
            >
          </div>

          <!-- Auto Delete Expired Stock-->
          <div
            id="form-autoDeleteExpiredStock"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle formControlName="autoDeleteExpiredStock">
            </mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
              >Delete Ingredient Inventory from your kitchen when it expires,
              based on your Ingredient Lifespan setting</span
            >
          </div>
          <!-- Dark Mode-->
          <div
            id="form-darkMode"
            class="relative mt-dl-2 flex flex-row items-start"
          >
            <span
              class="py-dl-4 pl-dl-2 pr-dl-4 font-sans text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
              >Dark Mode</span
            >
            <dl-select-input
              class="flex-grow"
              formControlName="darkMode"
              [options]="darkModeOptions"
              [noLabel]="true"
            ></dl-select-input>
          </div>

          <!-- Notifications -->
          <h3
            class="mt-dl-5 font-sans text-dl-5 font-dl-3 text-dl-tan-3 dark:text-dl-tan-8"
          >
            Notifications
          </h3>
          <div class="flex flex-col">
            <!-- Notify on Low Ingredient Stock -->
            <div
              id="form-notifyOnLowStock"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyOnLowStock">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When an ingredient is low in stock</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyOnLowStock"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>

            <!-- Notify on No Stock -->
            <div
              id="form-notifyOnNoStock"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyOnNoStock">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When an ingredient has no more stock</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyOnNoStock"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>
            <!-- Notify on Upcoming Expiration -->
            <div
              id="form-notifyUpcomingStockExpiry"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyUpcomingStockExpiry">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When an ingredient stock is three days from expiration</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyUpcomingStockExpiry"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>

            <!-- Notify on Expired Stock -->
            <div
              id="form-notifyExpiredStock"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyExpiredStock">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When an ingredient stock has expired</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyExpiredStock"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>
            <!-- Notify Friend Created Recipe -->
            <div
              id="form-notifyFriendCreatedRecipe"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyFriendCreateRecipe">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When a friend creates a recipe</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyFriendCreateRecipe"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>

            <!-- Notify Followee Created Recipe -->
            <div
              id="form-notifyFolloweeCreatedRecipe"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyFolloweeCreateRecipe">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When someone you follow creates a recipe</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyFolloweeCreateRecipe"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>

            <!-- Notify on New Friend Reqest -->
            <div
              id="form-notifyFriendRequest"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyFriendRequest">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When you receive a friend request</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyFriendRequest"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>

            <!-- Notify on New Follower -->
            <div
              id="form-notifyNewFollower"
              class="relative mt-dl-2 flex flex-row items-center"
            >
              <mat-slide-toggle formControlName="notifyNewFollower">
              </mat-slide-toggle>
              <span
                class="px-dl-3 py-dl-3 font-body text-dl-4 text-dl-tan-2 dark:text-dl-tan-9"
                >When someone follows you</span
              >
              <!-- <dl-select-input
                class="flex-grow"
                formControlName="notifyNewFollower"
                [options]="notificationMethods"
                [noLabel]="true"
              ></dl-select-input> -->
            </div>
          </div>
        </div>

        <div class="w-full">
          <button
            type="button"
            class="mb-dl-2 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 border px-dl-1 py-dl-1 font-serif text-dl-5 font-dl-3 text-dl-tan-10 shadow-lg transition-all duration-200 ease-in-out dark:text-dl-tan-1"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer  bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
                form.valid && !form.pristine,
              'bg-dl-tan-7 dark:border-dl-tan-4  dark:bg-dl-tan-4 ':
                !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
