<div
  class="relative flex h-full w-full flex-col bg-dl-tan-9 pt-dl-4 dark:bg-dl-tan-1"
>
  <!-- View Header -->
  <div class="mb-dl-3 flex w-full flex-row-reverse pr-dl-5">
    <span
      (click)="updateView('ingredients')"
      class="inline-flex items-center border-b-4 font-sans text-dl-7 font-dl-3 transition-all duration-100 ease-in-out"
      [ngClass]="{
        ' border-dl-green-8 text-dl-tan-2 dark:border-dl-green-3 dark:text-dl-tan-9 ':
          view() === 'ingredients',
        ' border-transparent text-dl-tan-4 dark:text-dl-tan-7':
          view() !== 'ingredients'
      }"
    >
      Ingredients
    </span>
    <span
      (click)="updateView('tools')"
      class="mr-dl-5 inline-flex items-center border-b-4 font-sans text-dl-7 font-dl-3 transition-all duration-100 ease-in-out"
      [ngClass]="{
        ' border-dl-green-8 text-dl-tan-2  dark:border-dl-green-3 dark:text-dl-tan-9 ':
          view() === 'tools',
        ' border-transparent text-dl-tan-4 dark:text-dl-tan-7':
          view() !== 'tools'
      }"
    >
      Tools
    </span>
  </div>
  <!-- Main content -->
  <div class="flex-grow overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
