<div
  class="mx-auto h-full max-w-7xl bg-dl-grey-10 pt-dl-6 sm:flex sm:gap-x-16 sm:px-8"
>
  <!-- Side Menu -->
  <aside
    class="sm:border-dl-0 flex border-b border-dl-grey-6 py-dl-4 sm:block sm:w-dl-6 sm:flex-none sm:py-dl-7"
  >
    <nav class="flex-none px-dl-3 sm:px-dl-3 lg:px-dl-0">
      <div class="flex gap-x-3 gap-y-1 whitespace-nowrap sm:flex-col">
        <div>
          <button
            type="button"
            (click)="updateView('tools')"
            [ngClass]="{
              'border-dl-blue-6 text-dl-grey-1 hover:border-dl-blue-8':
                (view$ | async) === 'tools',
              'border-transparent text-dl-grey-3 hover:border-dl-grey-8':
                (view$ | async) !== 'tools'
            }"
            class="group flex gap-x-3 border-b-2 bg-dl-grey-10 py-2 pl-2 pr-3 text-dl-4 font-dl-3 leading-6 text-dl-grey-3 transition-all duration-200 ease-in-out"
          >
            <!-- <svg
              class="h-6 w-6 shrink-0 text-dl-grey-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg> -->
            Tools
          </button>
        </div>
        <div>
          <p
            class="group flex gap-x-3 rounded-md bg-dl-grey-10 py-2 pl-2 pr-3 text-dl-4 leading-6 text-dl-grey-3"
          >
            <!-- <svg
              class="h-6 w-6 shrink-0 text-dl-grey-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg> -->
            Inventory
          </p>
          <div class="ml-dl-4 text-dl-2 font-dl-3 text-dl-grey-3">
            <div flex items-center>
              <button
                [ngClass]="{
                  'border-dl-blue-6 text-dl-grey-1 hover:border-dl-blue-8':
                    (inventoryView$ | async) === 'ingredients',
                  'border-transparent text-dl-grey-3 hover:border-dl-grey-8':
                    (inventoryView$ | async) !== 'ingredients'
                }"
                class="flex items-center justify-items-center gap-2 transition-all duration-200 ease-in-out"
                role="menuitem"
                (click)="updateView('inventory')"
                (click)="updateInventoryView('ingredients')"
                class="border-b-2 pb-dl-2"
              >
                Ingredients
              </button>
            </div>
            <button
              [ngClass]="{
                'border-dl-blue-6 text-dl-grey-1 hover:border-dl-blue-8':
                  (inventoryView$ | async) === 'materials',
                'border-transparent text-dl-grey-3 hover:border-dl-grey-8':
                  (inventoryView$ | async) !== 'materials'
              }"
              class="block border-b-2 pb-dl-2 transition-all duration-200 ease-in-out"
              role="menuitem"
              (click)="updateView('inventory')"
              (click)="updateInventoryView('materials')"
            >
              Materials
            </button>
          </div>
        </div>
      </div>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="w-full">
    <ng-container [ngSwitch]="view$ | async">
      <dl-inventory *ngSwitchCase="'inventory'"></dl-inventory>
      <dl-tools *ngSwitchCase="'tools'"></dl-tools>
    </ng-container>
  </main>
</div>
