<div
  class="relative flex h-dl-17 transform flex-col overflow-hidden rounded-dl-3 bg-white px-dl-4 pb-dl-3 pt-dl-2 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1 sm:my-dl-3 sm:w-full sm:max-w-dl-13 sm:p-dl-6"
>
  <div class="mb-dl-3 text-center">
    <h3
      class="leading-dl-4 text-dl-6 font-dl-3 text-dl-tan-4 dark:text-dl-tan-7"
    >
      Add Recipe Tool
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isAdding$ | async"
  ></mat-spinner>
  <div
    *ngIf="(isAdding$ | async) === false"
    class="w-full flex-grow overflow-y-auto"
  >
    <form class="h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-3 flex-grow overflow-y-auto">
          <div id="form-toolName" class="relative flex flex-col">
            <dl-select-input
              label="Tool"
              formControlName="toolID"
              [options]="tools()"
              optionDisplayProperty="name"
              optionValueProperty="toolID"
              additionalOptionName="New Tool"
              (newOptionSelected)="onAddNewTool()"
            ></dl-select-input>
          </div>
          <div id="form-quantity">
            <dl-text-input
              label="Quantity"
              formControlName="quantity"
              [hasError]="
                form.get('quantity')?.hasError('notPositiveInteger') || false
              "
              errorMessage="Must be a positive integer"
            ></dl-text-input>
          </div>
        </div>
        <!---->

        <div class="mt-dl-6">
          <button
            type="button"
            class="shadow-s h-dl-5 w-full rounded-dl-1 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointerdark:border-dl-pinknew-7 bg-dl-pinknew-4 dark:bg-dl-pinknew-7':
                form.valid && !form.pristine,
              'bg-dl-tan-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="mt-dl-3 h-dl-5 w-full rounded-dl-1 bg-white px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
