<div class="relative items-top flex justify-between py-dl-2">
  <!-- Image, Name, Username -->
  <div class="flex items-center">
    <div>
      <img
        *ngIf="friend.imageURL"
        class="h-dl-6 w-dl-6 rounded-full"
        [src]="friend.imageURL"
        alt="friend profile image"
      />
      <span
        class="inline-flex h-dl-6 w-dl-6 items-center justify-center rounded-full bg-dl-grey-9"
        *ngIf="!friend.imageURL && friend.nameFirst && friend.nameLast"
      >
        <span class="text-dl-6 font-dl-3 leading-none text-dl-grey-7">{{
          initials
        }}</span>
      </span>
    </div>
    <div class="items-left ml-dl-4 flex flex-col justify-between">
      <!-- Name -->
      <div class="flex text-dl-6 font-dl-3 text-dl-grey-2">
        <span>{{ friend.nameFirst }}</span>
        <span class="mb-dl-2 ml-dl-1">{{ friend.nameLast }}</span>
      </div>

      <!-- Username -->
      <span class="text-dl-5 font-dl-2 text-dl-grey-6">{{
        friend.username
      }}</span>
    </div>
  </div>

  <!-- Recipe Count -->
  <div class="absolute bottom-1 pb-dl-1 right-2">
    <span *ngIf="friend.recipes.length" class="text-dl-5 font-dl-2 text-dl-blue-6"
      >{{ friend.recipes.length }} recipe<span
        class="text-dl-5 font-dl-2 text-dl-blue-6"
        *ngIf="friend.recipes.length !== 1"
        >s</span
      ></span
    >
  </div>
</div>
