<div
  class="relative max-h-dl-21 w-full transform overflow-hidden overflow-y-auto rounded-dl-3 bg-dl-tan-9 px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mb-dl-7 flex w-full flex-col items-center">
    <!-- Title -->
    <h3
      *ngIf="!isAdding"
      class="leading-dl-4 mb-dl-4 font-sans text-dl-6 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
    >
      Web Recipe
    </h3>
    <p
      *ngIf="!isAdding"
      class="px-dl-4 font-body text-dl-4 font-dl-2 text-dl-tan-2 dark:text-dl-tan-9"
    >
      Paste the URL of the recipe you wish to add to your collection.
      Optionally, choose a photo of the completed dish.
    </p>
    <!-- AI Stars animation -->
    <ng-lottie
      *ngIf="isAdding"
      containerClass=""
      height="300px"
      width="300px"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="loopComplete()"
      [options]="animationOptions"
    />
    <p
      *ngIf="statusMessage() && isAdding"
      class="mt-dl-5 h-dl-8 overflow-y-hidden px-dl-4 text-center font-body text-dl-5 font-dl-2 text-dl-tan-1 dark:text-dl-tan-10"
    >
      {{ statusMessage() }}
    </p>
  </div>
  <div *ngIf="!isAdding" class="relative flex w-full flex-col">
    <div class="text-center">
      <!-- Source URL input Selection -->
      <!--FORM FIELDS-->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mt-dl-6">
          <div id="form-first-field" class="relative flex flex-col">
            <dl-text-input
              label="Web Recipe Address"
              formControlName="sourceURL"
            ></dl-text-input>
          </div>
        </div>

        <!-- Photo Selection -->
        <div class="mt-dl-1 w-full">
          <div class="relative flex w-full flex-col items-center">
            <button
              type="button"
              class="inline-block w-full cursor-pointer rounded px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic"
              [ngClass]="{
                'border-2 border-dl-pinknew-4 bg-dl-tan-10 text-dl-pinknew-4 dark:border-dl-pinknew-7  dark:bg-dl-tan-1 dark:text-dl-pinknew-7':
                  imagePresent,
                'bg-dl-pinknew-4 text-dl-tan-10 dark:bg-dl-pinknew-7 dark:text-dl-tan-1':
                  !imagePresent
              }"
              (click)="selectImage()"
            >
              {{ imagePresent ? "Change Recipe Photo" : "Choose Recipe Photo" }}
            </button>
          </div>

          <image-cropper
            style="
              --cropper-outline-color: 'red';
              --cropper-overlay-color: 'red';
            "
            [imageBase64]="recipeImageBase64"
            [maintainAspectRatio]="true"
            [aspectRatio]="5 / 3"
            (imageCropped)="recipeImageCropped($event)"
            (imageLoaded)="recipeImageLoaded()"
            (cropperReady)="recipeCropperReady()"
            (loadImageFailed)="recipeLoadImageFailed()"
          ></image-cropper>
        </div>

        <!-- Submit, Cancel Buttons -->
        <div class="mt-dl-6">
          <button
            type="button"
            class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid || !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
                form.valid || !form.pristine,
              'bg-dl-tan-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
