<div class="relative flex h-full w-full items-center py-dl-2">
  <div class="flex items-center pr-dl-4">
    <!-- Image -->
    <div>
      <img
        *ngIf="friendRequest.imageURL"
        class="h-dl-6 w-dl-6 rounded-full"
        [src]="friendRequest.imageURL | imageFromCDN"
        alt="friendRequest profile image"
      />
      <span
        class="inline-flex h-dl-6 w-dl-6 items-center justify-center rounded-full bg-dl-grey-6 dark:bg-dl-grey-7"
        *ngIf="!friendRequest.imageURL"
      >
        <span
          class="text-dl-6 font-dl-3 leading-none text-dl-grey-9 dark:text-dl-grey-3"
          >{{ initials }}</span
        >
      </span>
    </div>
  </div>
  <!-- Name & Buttons -->
  <div class="flex flex-col items-center">
    <!-- Name -->
    <div
      *ngIf="friendRequest.nameFirst && friendRequest.nameLast"
      class="flex text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
    >
      <span>{{ friendRequest.nameFirst }}</span>
      <span class="mb-dl-2 ml-dl-1">{{ friendRequest.nameLast }}</span>
    </div>
    <!-- Buttons -->
    <div *ngIf="isUpdating()" class="flex w-full flex-col items-center">
      <mat-spinner class="my-app-custom-spinner"></mat-spinner>
    </div>
    <div *ngIf="!isUpdating()" class="flex justify-end">
      <!-- Accept Button-->
      <button
        type="button"
        class="mr-dl-2 block w-dl-8 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out dark:border-dl-pink-7 dark:bg-dl-pink-7 dark:text-dl-grey-1"
        (click)="onAcceptRequest()"
      >
        Accept
      </button>

      <!-- Decline Button-->
      <button
        type="button"
        id="declineRequest"
        class="ml-dl-3 block whitespace-nowrap rounded-dl-1 border-2 border-dl-pink-4 bg-white px-dl-3 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-pink-4 shadow-sm transition-all duration-200 ease-in-out dark:border-dl-pink-7 dark:bg-dl-grey-1 dark:text-dl-pink-7"
        (click)="onDeclineRequest()"
      >
        Decline
      </button>
    </div>
  </div>
</div>
