<div
  class="relative flex w-full transform flex-col items-center overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border-dl-grey-4 dark:bg-dl-grey-1"
  [ngClass]="{
    'h-dl-21': confirmed,
    'h-dl-12': !confirmed
  }"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isSubmitting"></mat-spinner>
  <div class="text-center">
    <h3
      *ngIf="!isSubmitting"
      class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
    >
      Use Recipe
    </h3>
    <h2
      *ngIf="isSubmitting"
      class="leading-dl-4 mt-dl-4 text-dl-6 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
    >
      Processing..
    </h2>
  </div>

  <!-- Ask for Confirmation-->
  <div
    *ngIf="!isSubmitting && userProfile().checkIngredientStock"
    id="confirmation"
    class="relative mt-dl-2 flex flex-row items-center"
  >
    <mat-slide-toggle
      [(ngModel)]="confirmed"
      class="select-slider"
    ></mat-slide-toggle>
    <span class="px-dl-3 py-dl-3 text-dl-4 text-dl-grey-4 dark:text-dl-grey-7"
      >Use this recipe and deduct ingredient inventory from kitchen</span
    >
  </div>
  <div
    *ngIf="!isSubmitting && !userProfile().checkIngredientStock"
    id="confirmation"
    class="relative mt-dl-2 flex flex-row items-center"
  >
    <mat-slide-toggle
      [(ngModel)]="confirmed"
      class="select-slider"
    ></mat-slide-toggle>
    <span class="px-dl-3 py-dl-3 text-dl-4 text-dl-grey-4 dark:text-dl-grey-7"
      >Your Kitchen Inventory will not be checked or used. You can change this
      behavior in
      <span
        (click)="onViewSettings()"
        class="text-dl-5 font-dl-3 text-dl-blue-4 dark:text-dl-blue-7"
      >
        Settings</span
      ></span
    >
  </div>

  <!--FORM FIELDS-->
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isSubmitting === false && confirmed"
    >
      <div class="flex h-full w-full flex-col">
        <!-- FORM FIELDS -->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <div id="form-satisfaction" class="relative flex flex-col">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Satisfaction</label
            >
            <mat-form-field>
              <mat-label>Satisfaction</mat-label>
              <mat-select formControlName="satisfaction">
                <mat-option
                  *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
                  [value]="number"
                >
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div id="form-difficulty" class="relative flex flex-col">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Difficulty</label
            >
            <mat-form-field>
              <mat-label>Difficulty</mat-label>
              <mat-select formControlName="difficulty">
                <mat-option
                  *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                  [value]="number"
                >
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div id="form-note" class="my-dl-4">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Notes</label
            >
            <mat-form-field class="w-full text-dl-4">
              <textarea
                matInput
                formControlName="note"
                rows="6"
                class="border-0 focus:ring-0"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Buttons -->
        <div
          *ngIf="!isSubmitting"
          class="sm:mt-dl-4 sm:flex sm:flex-row-reverse mt-dl-4"
        >
          <button
            type="button"
            class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pink-4 dark:bg-dl-pink-7':
                form.valid && !form.pristine,
              'bg-dl-grey-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="sm:mt-0 sm:w-auto mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 hover:dark:bg-dl-grey-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
    <!---->
    <button
      *ngIf="!isSubmitting && !confirmed"
      type="button"
      class="sm:mt-0 sm:w-auto mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 hover:dark:bg-dl-grey-2"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</div>
