<div
  class="relative flex w-full transform flex-col items-center overflow-y-auto rounded-dl-3 bg-dl-tan-9 px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
  [ngClass]="{
    'h-dl-21': confirmed,
    'h-dl-12': !confirmed
  }"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isSubmitting"></mat-spinner>
  <div class="text-center">
    <h3
      *ngIf="!isSubmitting"
      class="leading-dl-4 text-dl-6 font-dl-3 text-dl-tan-4 dark:text-dl-tan-9"
    >
      Use Recipe
    </h3>
    <h2
      *ngIf="isSubmitting"
      class="leading-dl-4 mt-dl-4 text-dl-6 font-dl-3 text-dl-tan-4 dark:text-dl-tan-9"
    >
      Processing..
    </h2>
  </div>

  <!-- Ask for Confirmation-->
  <div
    *ngIf="!isSubmitting && userProfile().checkIngredientStock"
    id="confirmation"
    class="relative mt-dl-2 flex flex-row items-center"
  >
    <mat-slide-toggle
      [(ngModel)]="confirmed"
      class="select-slider"
    ></mat-slide-toggle>
    <span class="px-dl-3 py-dl-3 text-dl-4 text-dl-tan-4 dark:text-dl-tan-8"
      >Use this recipe and deduct ingredient inventory from kitchen</span
    >
  </div>
  <div
    *ngIf="!isSubmitting && !userProfile().checkIngredientStock"
    id="confirmation"
    class="relative mt-dl-2 flex flex-row items-center"
  >
    <mat-slide-toggle
      [(ngModel)]="confirmed"
      class="select-slider"
    ></mat-slide-toggle>
    <span class="px-dl-3 py-dl-3 text-dl-4 text-dl-tan-4 dark:text-dl-tan-8"
      >Your Kitchen Inventory will not be checked or used. You can change this
      behavior in
      <span
        (click)="onViewSettings()"
        class="text-dl-5 font-dl-3 text-dl-green-4 dark:text-dl-green-9"
      >
        Settings</span
      ></span
    >
  </div>

  <!--FORM FIELDS-->
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isSubmitting === false && confirmed"
    >
      <div class="flex h-full w-full flex-col">
        <!-- FORM FIELDS -->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <div id="form-satisfaction" class="relative flex flex-col">
            <dl-select-input
              label="Satisfaction"
              formControlName="satisfaction"
              [options]="satisfactionOptions"
            ></dl-select-input>
          </div>

          <div id="form-difficulty" class="relative flex flex-col">
            <dl-select-input
              label="Difficulty"
              formControlName="difficulty"
              [options]="satisfactionOptions"
            ></dl-select-input>
          </div>

          <div id="form-note" class="my-dl-4">
            <dl-text-input
              [isTextArea]="true"
              label="Notes"
              formControlName="note"
            ></dl-text-input>
          </div>
        </div>

        <!-- Buttons -->
        <div
          *ngIf="!isSubmitting"
          class="mt-dl-4 sm:mt-dl-4 sm:flex sm:flex-row-reverse"
        >
          <button
            type="button"
            class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pinknew-4 dark:bg-dl-pinknew-7':
                form.valid && !form.pristine,
              'bg-dl-tan-7': !form.valid || form.pristine
            }"
            [disabled]="!form.valid || form.pristine"
            (click)="onSubmit()"
          >
            Submit
          </button>
          <button
            type="button"
            class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 hover:dark:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
    <!---->
    <button
      *ngIf="!isSubmitting && !confirmed"
      type="button"
      class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 hover:dark:bg-dl-tan-2 sm:mt-0 sm:w-auto"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</div>
