<div
  class="sm:my-dl-3 sm:w-full sm:max-w-lg dark:border sm:p-dl-6 relative transform overflow-hidden bg-white px-dl-4 pb-dl-3 pt-dl-2 text-left transition-all dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isUpdating"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isUpdating">
    <div class="relative flex w-dl-13 max-w-full flex-col">
      <div class="sm:ml-dl-1 sm:mt-dl-0 sm:text-left mt-dl-1 text-center">
        <h3
          class="leading-dl-4 text-dl-4 font-dl-3 text-dl-blue-4 dark:text-dl-blue-7"
          id="editToolStockModal"
        >
          Edit Inventory Item
        </h3>
        <div class="mt-dl-2 space-x-1 whitespace-nowrap">
          <span class="text-dl-2 text-dl-grey-5 dark:text-dl-grey-6">Edit</span
          ><span
            class="text-dl-2 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
            >{{ (tool$ | async)!.name }}</span
          ><span class="text-dl-2 text-dl-grey-5 dark:text-dl-grey-6"
            >stock details</span
          >
        </div>
      </div>
      <div class="sm:block absolute right-0 top-0 hidden pr-dl-2 pt-dl-2">
        <button
          type="button"
          class="rounded-dl-2 bg-white text-dl-grey-6 hover:text-dl-grey-5 focus:outline-none dark:bg-dl-grey-1 dark:text-dl-grey-5 dark:hover:text-dl-grey-6"
          (click)="onCancel()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-quantity">
          <label class="text-dl-2 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
            >Quantity</label
          >
          <mat-form-field class="w-full">
            <input
              matInput
              formControlName="quantity"
              class="rounded-2 dark:bg-dl-grey-2"
            />
          </mat-form-field>
        </div>
      </div>
      <!---->

      <div class="sm:mt-dl-4 sm:flex sm:flex-row-reverse mt-dl-3">
        <button
          type="button"
          class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-2 font-dl-3 text-white dark:text-dl-grey-1"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5 dark:bg-dl-blue-7 hover:dark:bg-dl-blue-6':
              form.valid && !form.pristine,
            'bg-dl-grey-7': !form.valid || form.pristine
          }"
          [disabled]="!form.valid || form.pristine"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="sm:mt-0 sm:w-auto mt-dl-3 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-2 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
