<div
  class="relative w-full overflow-y-auto bg-white px-dl-5 py-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="relative flex h-full w-full flex-col items-center">
    <!-- Title -->
    <h3
      class="leading-dl-4 relative mb-dl-7 text-dl-7 font-dl-3 text-dl-grey-4 dark:text-dl-grey-8"
    >
      Add Recipe
    </h3>

    <!-- Vision Add Button -->
    <button
      type="button"
      class="relative mb-dl-2 block h-dl-5 w-dl-14 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out dark:bg-dl-pink-7 dark:text-dl-grey-1"
      (click)="onVisionAddClick()"
    >
      Import From Image
      <span
        class="absolute -top-5 right-2 pl-dl-3 text-dl-5 font-dl-3 italic text-dl-teal-6 dark:text-dl-teal-5"
        >Most Accurate!</span
      >
    </button>
    <p
      class="mb-dl-6 px-dl-4 text-dl-5 font-dl-2 text-dl-grey-2 dark:text-dl-grey-9"
    >
      Use a photo of a physical recipe or a screenshot of a digital recipe.
    </p>

    <!-- Spacer div -->
    <div class="flex-grow"></div>

    <!-- From URL Add Button -->
    <button
      type="button"
      class="mb-dl-2 block h-dl-5 w-dl-14 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out dark:bg-dl-pink-7 dark:text-dl-grey-1"
      (click)="onFromUrlAddClick()"
    >
      Import From URL
    </button>
    <p
      class="mb-dl-6 px-dl-4 text-dl-5 font-dl-2 text-dl-grey-2 dark:text-dl-grey-9"
    >
      Paste a URL from a recipe website and we'll build the recipe for you.
    </p>

    <!-- Spacer div -->
    <div class="flex-grow"></div>

    <!-- Manual Add Button -->
    <button
      type="button"
      class="mb-dl-2 block h-dl-5 w-dl-14 whitespace-nowrap rounded-dl-1 border-2 border-dl-pink-4 bg-white px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-pink-4 shadow-lg transition-all duration-200 ease-in-out dark:border-dl-pink-7 dark:bg-dl-grey-1 dark:text-dl-pink-9"
      (click)="onManualAddClick()"
    >
      Build Manually
    </button>
    <p
      class="mb-dl-4 px-dl-4 text-dl-5 font-dl-2 text-dl-grey-2 dark:text-dl-grey-9"
    >
      Build recipe from scratch. Include general Info, Ingredients, Tools, and
      Steps.
    </p>
  </div>
  <!-- Exit Button -->
  <button
    class="absolute right-3 top-3 rounded-full bg-dl-grey-9 p-dl-2 dark:bg-dl-grey-2"
    (click)="onExitClick()"
    type="button"
  >
    <svg version="1.1" height="23" width="23" viewBox="-1 -10 100 125">
      <path
        [attr.fill]="this.extraStuffService.getFillColor(13)"
        d="M65.1,49.9l26.6-26.6c4.2-4.2,4.2-11,0-15.2h0c-4.2-4.2-11-4.2-15.2,0L49.9,34.7L23.4,8.2c-4.2-4.2-11-4.2-15.2,0v0  c-4.2,4.2-4.2,11,0,15.2l26.6,26.6L8.2,76.5c-4.2,4.2-4.2,11,0,15.2c4.2,4.2,11,4.2,15.2,0l26.6-26.6l26.6,26.6  c4.2,4.2,11,4.2,15.2,0c4.2-4.2,4.2-11,0-15.2L65.1,49.9z"
      />
    </svg>
  </button>
</div>
