<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
				<key>dateExpires</key>
				<string>5/18/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorClipboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPluginGlassfy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Glassfy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GlassfyGlue.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HugotomaziCapacitorNavigationBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C51866ED4C50E36F70D71332B5854E45D7094AF3</string>
						<key>dateExpires</key>
						<string>5/18/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AFV2RTYWGX</string>
						<key>name</key>
						<string>Joshua Brusse Merrell</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AFV2RTYWGX.co.doughly.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:doughly.co</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>AFV2RTYWGX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>495872d0-ee97-4ec0-a29f-3ead0cfb414e</string>
				<key>dateExpires</key>
				<string>5/18/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: co.doughly.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AFV2RTYWGX</string>
				<key>name</key>
				<string>Joshua Brusse Merrell</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
