<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911585064385-5tc1kpa0vjjbbkrnhldirlsra47isbbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911585064385-5tc1kpa0vjjbbkrnhldirlsra47isbbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911585064385-qeuhpoujsqir7ffpsqbl0mqcpuronlt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN5dhjs_HZe-peDanyOIumcZjb3ez-Q2s</string>
	<key>GCM_SENDER_ID</key>
	<string>911585064385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.doughly.app</string>
	<key>PROJECT_ID</key>
	<string>doughly</string>
	<key>STORAGE_BUCKET</key>
	<string>doughly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911585064385:ios:906bac244cb5582b91eb40</string>
</dict>
</plist>