<div
  *ngIf="displayIngredients().length > 0 || searchFilter() !== ''"
  class="relative flex h-dl-21 w-full flex-col items-center overflow-x-hidden rounded-dl-3 px-dl-4 pb-dl-4 pt-dl-4 dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <!-- Search, Add-->
  <div class="mx-dl-7 mb-dl-6 mt-dl-5 flex justify-between">
    <!-- Search Bar -->
    <div class="mt-dl-3 flex items-center">
      <svg
        width="35"
        height="35"
        viewBox="0 0 15 15"
        class="pt-dl-1 text-dl-tan-3 dark:text-dl-tan-8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        #searchInput
        type="text"
        class="ml-dl-2 w-dl-13 rounded-dl-2 border-none pt-dl-2 text-dl-4 text-dl-tan-5 placeholder-dl-tan-4 focus:ring-transparent dark:bg-dl-tan-2 dark:text-dl-tan-6 dark:placeholder-dl-tan-7"
        [placeholder]="'Search by Ingredient Name'"
        (input)="updateSearchFilter(searchInput.value)"
      />
    </div>
  </div>

  <!-- List -->
  <div
    class="relative mb-dl-5 flex flex-grow flex-col items-center overflow-y-auto"
  >
    <div class="flex flex-col items-center pr-dl-3">
      @for (ingredient of displayIngredients(); track ingredient.ingredientID) {
      <div
        class="my-dl-3 flex w-dl-14 flex-col justify-start rounded-lg border px-dl-3 py-dl-1 shadow-md transition-all duration-200 ease-in-out"
        (click)="ingredientCardClick(ingredient)"
        [ngClass]="{
          'border-dl-teal-10 bg-dl-teal-10 dark:border-dl-teal-1 dark:bg-dl-teal-1':
            ingredient.ingredientID === selectedIngredient().ingredientID,
          'border-dl-tan-10 bg-dl-tan-10 dark:border-dl-tan-2 dark:bg-dl-tan-2':
            ingredient.ingredientID !== selectedIngredient().ingredientID
        }"
      >
        <p
          class="font-body text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
        >
          {{ ingredient.name }}
        </p>
        <p
          *ngIf="ingredient.totalStock > 0"
          class="font-body text-dl-4 font-dl-2 text-dl-tan-4 dark:text-dl-tan-7"
        >
          {{ ingredient.totalStock }} {{ ingredient.purchaseUnit }}
        </p>
        <p
          *ngIf="ingredient.totalStock === 0"
          class="font-body text-dl-4 font-dl-2 italic text-dl-tan-4 dark:text-dl-tan-7"
        >
          Out of Stock
        </p>
      </div>
      }
    </div>
  </div>

  <div
    *ngIf="selectedIngredient().ingredientID !== 0"
    class="mt-dl-4 flex w-full flex-col items-center"
  >
    <!-- Measurement -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isLoading === false"
    >
      <div id="form-measurement">
        <dl-text-input
          label="{{ measurementLabel() }}"
          formControlName="measurement"
        ></dl-text-input>
      </div>
    </form>
    <div class="w-full">
      <!-- Add Button -->
      <button
        *ngIf="selectedIngredient().ingredientID !== 0 && isLoading === false"
        id="add-button"
        type="button"
        class="shadow-s font serif h-dl-5 w-full justify-center rounded-dl-1 px-dl-3 py-dl-1 text-dl-5 font-bold italic transition-all duration-200 ease-in-out"
        (click)="onSubmit()"
        [disabled]="!form.valid || form.pristine"
        [ngClass]="{
          ' bg-dl-pinknew-4 text-dl-tan-10 dark:border-dl-pinknew-7 dark:bg-dl-pinknew-7 dark:text-dl-tan-1':
            form.valid && !form.pristine,
          'bg-dl-tan-9 text-dl-tan-4 dark:bg-dl-tan-2 dark:text-dl-tan-7':
            !form.valid || form.pristine,
          invisible: selectedIngredient().ingredientID === 0
        }"
      >
        Add to Shopping List
      </button>
    </div>
  </div>
  <button
    type="button"
    *ngIf="isLoading === false"
    class="font serif mt-dl-3 h-dl-5 w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-1 text-dl-5 font-bold italic text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 dark:bg-dl-tan-1 dark:text-dl-tan-10"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <div
    *ngIf="isLoading === true"
    class="flex h-full w-full items-center justify-center"
  >
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
  </div>
</div>
<div
  class="flex flex-col items-center"
  *ngIf="displayIngredients().length === 0 && searchFilter() === ''"
>
  <p
    class="p-dl-3 font-body text-dl-6 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9"
  >
    No Ingredients Found to Add
  </p>
</div>
