<div class="px-dl-4 sm:px-dl-6 lg:px-dl-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-dl-3 leading-dl-2 text-dl-grey-1">
        {{ title }}
      </h1>
      <p class="mt-dl-3 text-dl-2 text-dl-grey-2">{{ heading_phrase }}</p>
    </div>
    <div class="mt-dl-4 sm:ml-dl-8 sm:mt-dl-0 sm:flex-none">
      <button
        id="add-button"
        type="button"
        (click)="openAddDialog()"
        class="block rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-center text-dl-2 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pink-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
      >
        {{ addButtonTitle }}
      </button>
    </div>
  </div>
  <div class="mt-dl-7 flow-root">
    <div class="-mx-dl-4 -my-dl-2 overflow-x-auto sm:-mx-dl-6 lg:-mx-dl-8">
      <div
        class="inline-block min-w-full py-dl-2 align-middle sm:px-dl-6 lg:px-dl-8"
      >
        <div id="tableFilters" class="min-w-full"></div>
        <table class="min-w-full divide-y divide-dl-grey-8">
          <thead>
            <tr>
              <th
                *ngFor="let column of columns; let i = index"
                scope="col"
                class="d-flex justify-content-between relative py-dl-3 pl-dl-4 text-left text-dl-2 font-dl-3 text-dl-grey-2 sm:pl-dl-3 lg:pr-dl-9"
              >
                <div style="display: flex; align-items: center">
                  {{ column.name }}
                  <ng-container
                    *ngIf="column.sort"
                  >
                    <div class="relative pl-dl-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xml:space="preserve"
                        width="298"
                        height="512"
                        shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision"
                        image-rendering="optimizeQuality"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        class="left-3 h-4 w-4 cursor-pointer fill-current transition-all duration-200"
                        [ngClass]="{
                          'text-dl-grey-4 hover:text-dl-grey-6':
                            column.sortRotateState ===
                            SortRotateStateEnum.default,
                          'text-dl-blue-6 hover:text-dl-blue-8':
                            column.sortRotateState !==
                            SortRotateStateEnum.default
                        }"
                        viewBox="0 0 298 511.93"
                        [@rotateState]="column.sortRotateState"
                        (click)="onSortIconClick(i)"
                      >
                        <path
                          fill-rule="nonzero"
                          d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
                        />
                      </svg>
                      <ng-container
                        *ngIf="
                          column.sortRotateState !== SortRotateStateEnum.default
                        "
                      >
                        <button
                          type="button"
                          class="absolute left-8 top-0 flex rounded-full bg-dl-grey-10 text-dl-2 text-dl-blue-6 focus:outline-none focus:ring-2 focus:ring-dl-blue-6 focus:ring-offset-2"
                        >
                          <span class="sr-only">Sort Order</span>
                          <div>{{ column.sortOrderState + 1 }}</div>
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </th>
              <th scope="col" class="relative">
                <span class="sr-only">Edit</span>
                <ng-container *ngIf="sorts.length">
                  <button
                    type="button"
                    class="shadow-ssm:mt-0 inline-flex w-full whitespace-nowrap bg-dl-grey-10 px-dl-3 text-dl-2 font-dl-3 text-dl-grey-3 hover:text-dl-grey-6 sm:w-auto"
                    (click)="clearAllSorts()"
                  >
                    Clear Sorts
                  </button>
                </ng-container>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr *ngFor="let row of sortedRows$ | async" class="odd:bg-dl-grey-10">
              <td
                *ngFor="let column of columns"
                class="whitespace-nowrap py-dl-4 pl-dl-4 text-dl-2 font-dl-2 text-dl-grey-1 sm:pl-dl-3 lg:pr-dl-9"
              >
                {{ row[column.prop] }}
              </td>
              <td
                class="relative whitespace-nowrap py-dl-4 pl-dl-3 pr-dl-4 text-right text-dl-2 font-dl-2 sm:pr-dl-3"
              >
                <a
                  (click)="openEditDialog(row[IDKey])"
                  class="mr-dl-2 cursor-pointer text-dl-blue-4 transition-all duration-200 ease-in-out hover:text-dl-blue-2"
                  >Edit</a
                >
                <a
                  (click)="openDeleteDialog(row[IDKey])"
                  class="mr-dl-2 cursor-pointer text-dl-red-3 transition-all duration-150 ease-in-out hover:text-dl-red-5"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
