<div class="px-dl-4 sm:px-dl-6 lg:px-dl-8 h-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-dl-3 leading-dl-2 text-dl-grey-1">
        {{ title }}
      </h1>
      <p class="mt-dl-3 text-dl-2 text-dl-grey-2">{{ heading_phrase }}</p>
    </div>
    <div class="mt-dl-4 sm:ml-dl-8 sm:mt-dl-0 sm:flex-none">
      <button
        id="add-button"
        type="button"
        (click)="openAddDialog()"
        class="block rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-center text-dl-2 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pink-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
      >
        {{ addButtonTitle }}
      </button>
    </div>
  </div>
  <div class="mt-dl-7 flow-root h-full">
    <div class="-mx-dl-4 -my-dl-2 overflow-x-auto sm:-mx-dl-6 lg:-mx-dl-8 h-full">
      <div
        class="inline-block min-w-full py-dl-2 align-middle sm:px-dl-6 lg:px-dl-8"
      >
        <dl-table-full-filters
          (filtersChange)="onFiltersChange($event)"
          [columns]="columns"
          [searchPlaceholder]="searchPlaceholder"
          [searchSubject]="searchSubject"
          id="tableFilters"
        >
        </dl-table-full-filters>
        <table class="h-full">
          <thead class="bg-dl-grey-10">
            <tr>
              <th
                *ngFor="let column of columns; let i = index"
                [ngClass]="{ 'rounded-tl-dl-3': i === 0 }"
                [style.min-width]="column.width || 'auto'"
                [style.width.%]="columns.length"
                scope="col"
                class="whitespace-nowrap d-flex justify-content-between relative py-dl-3 pl-dl-4 text-left text-dl-2 font-dl-3 text-dl-grey-2 sm:pl-dl-3 lg:pr-dl-3"
              >
                <div style="display: flex; align-items: center ">
                  {{ column.name }}
                  <ng-container *ngIf="column.sort">
                    <div class="relative pl-dl-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xml:space="preserve"
                        width="298"
                        height="512"
                        shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision"
                        image-rendering="optimizeQuality"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        class="left-3 h-4 w-4 cursor-pointer fill-current transition-all duration-200"
                        [ngClass]="{
                          'text-dl-grey-6 hover:text-dl-grey-8':
                            column.sortRotateState ===
                            SortRotateStateEnum.default,
                          'text-dl-blue-6 hover:text-dl-blue-8':
                            column.sortRotateState !==
                            SortRotateStateEnum.default
                        }"
                        viewBox="0 0 298 511.93"
                        [@rotateState]="column.sortRotateState"
                        (click)="onSortIconClick(i)"
                      >
                        <path
                          fill-rule="nonzero"
                          d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
                        />
                      </svg>
                      <ng-container
                        *ngIf="
                          column.sortRotateState !== SortRotateStateEnum.default
                        "
                      >
                        <button
                          type="button"
                          class="absolute left-8 top-0 flex rounded-full bg-dl-grey-10 text-dl-2 text-dl-blue-6 focus:outline-none focus:ring-2 focus:ring-dl-blue-6 focus:ring-offset-2"
                        >
                          <span class="sr-only">Sort Order</span>
                          <div>{{ column.sortOrderState + 1 }}</div>
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </th>
              <th scope="col" class="relative" class="rounded-tr-dl-3">
                <span class="sr-only">Edit</span>
                <button
                  type="button"
                  class="bg-dl-grey-10 min-w-dl-3 shadow-ssm:mt-0 inline-flex w-full whitespace-nowrap px-dl-3 text-dl-2 font-dl-3 sm:w-auto"
                  [disabled]="!clearAllSortsEnabled"
                  [ngClass]="{
                    ' text-dl-grey-5 hover:text-dl-grey-7':
                      clearAllSortsEnabled,
                    ' text-dl-grey-10': !clearAllSortsEnabled
                  }"
                  (click)="clearAllSorts()"
                >
                  Clear All Sorts
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white h-full">
            <tr
              *ngFor="let row of displayedRows$ | async; let i = index"
              class="even:white"
            >
              <td
                *ngFor="let column of columns"
                class="whitespace-nowrap py-dl-4 pl-dl-4 text-dl-2 font-dl-2 text-dl-grey-1 sm:pl-dl-3 lg:pr-dl-9"
                [style.width]="column.width || 'auto'"
                [ngClass]="{'bg-dl-grey-9': modalActiveForRowID === i}"
              >
                <!-- {{ row[column.prop] }} -->
                <ng-container *ngIf="isDate(row[column.prop]); else notDate">
                  {{ row[column.prop] | date : "shortDate" }}
                </ng-container>
                <ng-template #notDate>
                  {{ row[column.prop] }}
                </ng-template>
              </td>
              <td
                class="relative whitespace-nowrap py-dl-4 pl-dl-3 pr-dl-4 text-right text-dl-2 font-dl-2 sm:pr-dl-3"
              >
                <button
                  (click)="toggleRowItemMenu($event, i)"
                  id="buttonToggleRowItemMenu"
                  class="relative"
                >
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.625 7.5C3.625 8.12132 3.12132 8.625 2.5 8.625C1.87868 8.625 1.375 8.12132 1.375 7.5C1.375 6.87868 1.87868 6.375 2.5 6.375C3.12132 6.375 3.625 6.87868 3.625 7.5ZM8.625 7.5C8.625 8.12132 8.12132 8.625 7.5 8.625C6.87868 8.625 6.375 8.12132 6.375 7.5C6.375 6.87868 6.87868 6.375 7.5 6.375C8.12132 6.375 8.625 6.87868 8.625 7.5ZM12.5 8.625C13.1213 8.625 13.625 8.12132 13.625 7.5C13.625 6.87868 13.1213 6.375 12.5 6.375C11.8787 6.375 11.375 6.87868 11.375 7.5C11.375 8.12132 11.8787 8.625 12.5 8.625Z"
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
                <div
                  #rowItemMenu
                  *ngIf="rowItemMenuOpen.open && rowItemMenuOpen.index === i"
                  class="focus:outling-none absolute right-9 bottom-2 z-10 flex flex-col bg-white shadow-md ring-1 ring-dl-grey-1 ring-opacity-5 ease-out"
                >
                  <button
                    (click)="openEditDialog(row[IDKey], i)"
                    type="button"
                    class="block cursor-pointer px-dl-3 py-dl-2 text-dl-2 text-dl-grey-3 hover:bg-dl-grey-10"
                  >
                    Edit
                  </button>
                  <button
                    (click)="openDeleteDialog(row[IDKey], i)"
                    type="button"
                    class="block cursor-pointer px-dl-3 py-dl-2 text-dl-2 text-dl-grey-3 hover:bg-dl-grey-10"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
