<div
  class="flex w-full flex-col items-center border-x-4 border-dl-yellow-5 bg-white px-dl-3 pb-dl-2"
  [ngClass]="{ 'border-l-4 border-r-4': isDeleting === false }"
>
  <div
    class="flex w-full flex-col items-center justify-center"
    *ngIf="isDeleting"
  >
    <mat-spinner class="my-app-custom-spinner"></mat-spinner>
    <h2
      *ngIf="isDeleting"
      class="leading-dl-4 mt-dl-4 text-dl-6 font-dl-3 text-dl-grey-4"
    >
      Processing..
    </h2>
  </div>
  <div class="flex w-full flex-col items-center" *ngIf="!isDeleting">
    <div class="flex w-full pl-dl-2 pt-dl-2">
      <svg
        class="h-6 w-6 text-dl-yellow-5"
        viewBox="0 0 20 11"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
          clip-rule="evenodd"
        />
      </svg>
      <div class="ml-dl-3 flex flex-col">
        <p class="leading-dl-4 text-dl-6 font-dl-3 text-dl-yellow-2">
          Delete {{ data.ingredientName }} Inventory
        </p>
      </div>
    </div>
    <div class="relative flex w-dl-15 max-w-full flex-col">
      <div class="ml-dl-3 flex flex-col">
        <div class="space-x-1">
          <span class="mt-dl-1 text-dl-4 text-dl-grey-5"
            >Are you sure you want to delete this inventory item?</span
          >
        </div>
      </div>
      <div class="mt-dl-5 flex w-full flex-row-reverse justify-between px-dl-4">
        <button
          type="button"
          class="shadow-sinline-flex ml-dl-4 w-2/5 cursor-pointer justify-center rounded-dl-1 bg-dl-yellow-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white hover:bg-dl-yellow-5 focus:border-dl-yellow-4 focus:outline-1"
          (click)="onSubmit()"
        >
          Delete
        </button>
        <button
          type="button"
          class="inline-flex w-2/5 justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 focus:outline-1"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
