<div
  class="flex h-dl-21 w-full transform flex-col items-center bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:bg-dl-grey-1"
>
  <div class="mb-dl-3 text-center">
    <h3 class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">
      Edit Recipe
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner w-full"
    *ngIf="isUploadingPhoto || isSubmitting"
  ></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isUploadingPhoto === false && isSubmitting === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <!-- Title -->
          <div id="form-stepTitle" class="relative flex flex-col">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Title</label
            >
            <mat-form-field class="text-dl-4">
              <input matInput formControlName="title" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('title')?.hasError('titleExists')"
              >
                This title is already in use
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('title')?.hasError('required')"
              >
                Title is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Description -->
          <div id="form-recipeCategoryID" class="relative flex flex-col">
            <label
              class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
              >Category</label
            >
            <mat-form-field>
              <mat-select formControlName="recipeCategoryID">
                <ng-container *ngFor="let category of categories$ | async">
                  <mat-option [value]="category.recipeCategoryID">
                    {{ category.name }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Heirloom Recipe -->
          <div
            id="form-isHeirloomRecipe"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle
              [(ngModel)]="isHeirloom"
              formControlName="isHeirloomRecipe"
              class="select-slider"
            ></mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 text-dl-5 text-dl-grey-4 dark:text-dl-grey-7"
              >Allow friends to view and use</span
            >
          </div>
          <div
            [ngClass]="{ invisible: !isHeirloom }"
            id="form-isPublicRecipe"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle
              [(ngModel)]="isPublic"
              formControlName="isPublicRecipe"
              class="select-slider"
            ></mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 text-dl-5 text-dl-grey-4 dark:text-dl-grey-7"
              >Make public</span
            >
          </div>
          <div class="mt-dl-2 flex flex-col">
            <div id="form-servings" class="relative flex flex-col">
              <label
                class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
                >Servings</label
              >
              <mat-form-field class="w-full">
                <input matInput formControlName="servings" />
                <mat-error
                  class="text-dl-3"
                  *ngIf="form.get('servings')?.hasError('notPositiveInteger')"
                >
                  Must be a positive integer
                </mat-error>
                <mat-error
                  class="text-dl-3"
                  *ngIf="
                    form.get('servings')?.hasError('notTwoByteInteger') &&
                    !form.get('servings')?.hasError('notPositiveInteger')
                  "
                >
                  Must be less than 32768
                </mat-error>
              </mat-form-field>
            </div>
            <div id="form-lifespanDays" class="relative flex flex-col">
              <label
                class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
                >Lifespan Days</label
              >
              <mat-form-field class="w-full">
                <input matInput formControlName="lifespanDays" />
                <mat-error
                  class="text-dl-3"
                  *ngIf="
                    form.get('lifespanDays')?.hasError('notPositiveInteger')
                  "
                >
                  Must be a positive integer
                </mat-error>
                <mat-error
                  class="text-dl-3"
                  *ngIf="
                    form.get('lifespanDays')?.hasError('notTwoByteInteger') &&
                    !form.get('lifespanDays')?.hasError('notPositiveInteger')
                  "
                >
                  Must be less than 32768
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="mt-dl-2 flex flex-col">
            <div id="form-timePrep" class="relative flex flex-col">
              <label
                class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
                >Prep time in minutes</label
              >
              <mat-form-field class="w-full">
                <input matInput formControlName="timePrep" />
                <mat-error
                  class="text-dl-3"
                  *ngIf="form.get('timePrep')?.hasError('notPositiveInteger')"
                >
                  Must be a positive integer
                </mat-error>
                <mat-error
                  class="text-dl-3"
                  *ngIf="
                    form.get('timePrep')?.hasError('notTwoByteInteger') &&
                    !form.get('timePrep')?.hasError('notPositiveInteger')
                  "
                >
                  Must be less than 32768
                </mat-error>
              </mat-form-field>
            </div>
            <div id="form-timeBake" class="relative flex flex-col">
              <label
                class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
                >Cook time in minutes</label
              >
              <mat-form-field class="w-full">
                <input matInput formControlName="timeBake" />
                <mat-error
                  class="text-dl-3"
                  *ngIf="form.get('timeBake')?.hasError('notPositiveInteger')"
                >
                  Must be a positive integer
                </mat-error>
                <mat-error
                  class="text-dl-3"
                  *ngIf="
                    form.get('timeBake')?.hasError('notTwoByteInteger') &&
                    !form.get('timeBake')?.hasError('notPositiveInteger')
                  "
                >
                  Must be less than 32768
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div id="form-photo-recipe" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:bg-dl-pink-7 dark:text-dl-grey-1"
                (click)="selectImage()"
              >
                Choose New Photo
              </button>
            </div>

            <image-cropper
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="5 / 3"
              (imageCropped)="recipeImageCropped($event)"
              (imageLoaded)="recipeImageLoaded()"
              (cropperReady)="recipeCropperReady()"
              (loadImageFailed)="recipeLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>
        <!---->

        <div class="mt-dl-4">
          <button
            type="button"
            class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pink-4 dark:bg-dl-pink-7':
                (form.valid && !form.pristine) || this.croppedImage,
              'bg-dl-grey-7':
                !form.valid || (form.pristine && !this.croppedImage)
            }"
            [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
            (click)="onSubmit()"
          >
            Submit Changes
          </button>
          <button
            type="button"
            class="sm:mt-0 sm:w-auto mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
