<div
  class="relative h-dl-21 w-full transform overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all"
>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isUploadingPhoto"
  ></mat-spinner>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="isUploadingPhoto === false"
  >
    <div class="flex w-full flex-col">
      <div class="text-center">
        <h3 class="leading-dl-4 text-dl-7 font-dl-3 text-dl-grey-3">
          Edit Recipe
        </h3>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-stepTitle" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Title</label>
          <mat-form-field class="text-dl-4">
            <input matInput formControlName="title" />
            <mat-error
              class="text-dl-3"
              *ngIf="form.get('title')?.hasError('titleExists')"
            >
              This title is already in use
            </mat-error>
            <mat-error
              class="text-dl-3"
              *ngIf="form.get('title')?.hasError('required')"
            >
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div id="form-recipeCategoryID" class="relative flex flex-col">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4">Category</label>
          <mat-form-field>
            <mat-select formControlName="recipeCategoryID">
              <ng-container *ngFor="let category of categories$ | async">
                <mat-option [value]="category.recipeCategoryID">
                  {{ category.name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Heirloom Recipe -->
        <div
          id="form-isHeirloomRecipe"
          class="relative mt-dl-2 flex flex-row items-center"
        >
          <mat-slide-toggle
            [(ngModel)]="isHeirloom"
            formControlName="isHeirloomRecipe"
            class="select-slider"
          ></mat-slide-toggle>
          <span class="px-dl-3 py-dl-3 text-dl-5 text-dl-grey-4"
            >Allow friends to view and use</span
          >
        </div>
        <div
          [ngClass]="{ invisible: !isHeirloom }"
          id="form-isPublicRecipe"
          class="relative mt-dl-2 flex flex-row items-center"
        >
          <mat-slide-toggle
            [(ngModel)]="isPublic"
            formControlName="isPublicRecipe"
            class="select-slider"
          ></mat-slide-toggle>
          <span class="px-dl-3 py-dl-3 text-dl-5 text-dl-grey-4"
            >Make public</span
          >
        </div>
        <div class="mt-dl-2 flex flex-col">
          <div id="form-servings" class="relative flex flex-col">
            <label class="text-dl-5 font-dl-3 text-dl-grey-4">Servings</label>
            <mat-form-field class="w-full">
              <input matInput formControlName="servings" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('servings')?.hasError('notPositiveInteger')"
              >
                Must be a positive integer
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="
                  form.get('servings')?.hasError('notTwoByteInteger') &&
                  !form.get('servings')?.hasError('notPositiveInteger')
                "
              >
                Must be less than 32768
              </mat-error>
            </mat-form-field>
          </div>
          <div id="form-lifespanDays" class="relative flex flex-col">
            <label class="text-dl-5 font-dl-3 text-dl-grey-4"
              >Lifespan Days</label
            >
            <mat-form-field class="w-full">
              <input matInput formControlName="lifespanDays" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('lifespanDays')?.hasError('notPositiveInteger')"
              >
                Must be a positive integer
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="
                  form.get('lifespanDays')?.hasError('notTwoByteInteger') &&
                  !form.get('lifespanDays')?.hasError('notPositiveInteger')
                "
              >
                Must be less than 32768
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-dl-2 flex flex-col">
          <div id="form-timePrep" class="relative flex flex-col">
            <label class="text-dl-5 font-dl-3 text-dl-grey-4"
              >Prep time in minutes</label
            >
            <mat-form-field class="w-full">
              <input matInput formControlName="timePrep" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('timePrep')?.hasError('notPositiveInteger')"
              >
                Must be a positive integer
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="
                  form.get('timePrep')?.hasError('notTwoByteInteger') &&
                  !form.get('timePrep')?.hasError('notPositiveInteger')
                "
              >
                Must be less than 32768
              </mat-error>
            </mat-form-field>
          </div>
          <div id="form-timeBake" class="relative flex flex-col">
            <label class="text-dl-5 font-dl-3 text-dl-grey-4"
              >Bake time in minutes</label
            >
            <mat-form-field class="w-full">
              <input matInput formControlName="timeBake" />
              <mat-error
                class="text-dl-3"
                *ngIf="form.get('timeBake')?.hasError('notPositiveInteger')"
              >
                Must be a positive integer
              </mat-error>
              <mat-error
                class="text-dl-3"
                *ngIf="
                  form.get('timeBake')?.hasError('notTwoByteInteger') &&
                  !form.get('timeBake')?.hasError('notPositiveInteger')
                "
              >
                Must be less than 32768
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="form-photo-recipe" class="mt-dl-1">
          <div class="relative inline-block w-64">
            <input
              type="file"
              class="hidden"
              id="fileInputRecipe"
              (change)="recipeOnFileSelected($event)"
              accept="image/png, image/jpeg"
            />
            <label
              for="fileInputRecipe"
              class="inline-block cursor-pointer rounded bg-dl-blue-4 px-4 py-2 text-dl-5 text-white hover:bg-dl-blue-5"
            >
              Choose New Photo
            </label>
          </div>

          <image-cropper
            [imageChangedEvent]="recipeImageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="5 / 3"
            (imageCropped)="recipeImageCropped($event)"
            (imageLoaded)="recipeImageLoaded()"
            (cropperReady)="recipeCropperReady()"
            (loadImageFailed)="recipeLoadImageFailed()"
          ></image-cropper>
        </div>
      </div>
      <!---->

      <div class="mt-dl-5">
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white sm:ml-dl-4"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5':
              (form.valid && !form.pristine) || this.croppedImage,
            'bg-dl-grey-7': !form.valid || (form.pristine && !this.croppedImage)
          }"
          [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
