<div
  class="flex h-dl-21 w-full transform flex-col items-center rounded-dl-3 bg-dl-tan-9 px-dl-2 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mb-dl-3 text-center">
    <h3 class="font-sans text-dl-5 font-dl-3 text-dl-tan-2 dark:text-dl-tan-9">
      Edit Recipe
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner w-full"
    *ngIf="isUploadingPhoto || isSubmitting"
  ></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto px-dl-2">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isUploadingPhoto === false && isSubmitting === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <!-- Title -->
          <div id="form-stepTitle" class="relative flex flex-col">
            <dl-text-input
              label="Title"
              formControlName="title"
              [hasError]="form.get('title')?.hasError('required') || false"
              errorMessage="Title is required"
            ></dl-text-input>
          </div>

          <!-- Category -->
          <div id="form-recipeCategoryID" class="relative flex flex-col">
            <dl-select-input
              label="Category"
              formControlName="recipeCategoryID"
              [options]="categories()"
              optionDisplayProperty="name"
              optionValueProperty="recipeCategoryID"
            ></dl-select-input>
          </div>

          <!-- Heirloom Recipe -->
          <div
            id="form-isHeirloomRecipe"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle
              [(ngModel)]="isHeirloom"
              formControlName="isHeirloomRecipe"
              class="select-slider"
            ></mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 font-sans text-dl-4 text-dl-tan-3 dark:text-dl-tan-8"
              >Allow friends to view and use</span
            >
          </div>
          <div
            [ngClass]="{ invisible: !isHeirloom }"
            id="form-isPublicRecipe"
            class="relative mt-dl-2 flex flex-row items-center"
          >
            <mat-slide-toggle
              [(ngModel)]="isPublic"
              formControlName="isPublicRecipe"
              class="select-slider"
            ></mat-slide-toggle>
            <span
              class="px-dl-3 py-dl-3 font-sans text-dl-4 text-dl-tan-3 dark:text-dl-tan-8"
              >Make public</span
            >
          </div>
          <div class="mt-dl-2 flex flex-col">
            <div id="form-servings" class="relative flex flex-col">
              <dl-text-input
                label="Servings"
                formControlName="servings"
                [hasError]="
                  form.get('servings')?.hasError('notPositiveInteger') || false
                "
                errorMessage="Must be a positive integer"
              ></dl-text-input>
            </div>

            <div id="form-lifespanDays" class="relative flex flex-col">
              <dl-text-input
                label="Lifespan Days"
                formControlName="lifespanDays"
                [hasError]="
                  form.get('lifespanDays')?.hasError('notPositiveInteger') ||
                  false
                "
                errorMessage="Must be a positive integer"
              ></dl-text-input>
            </div>
          </div>
          <div class="mt-dl-2 flex flex-col">
            <div id="form-timePrep" class="relative flex flex-col">
              <dl-text-input
                label="Prep time in minutes"
                formControlName="timePrep"
                [hasError]="
                  form.get('timePrep')?.hasError('notPositiveInteger') || false
                "
                errorMessage="Must be a positive integer"
              ></dl-text-input>
            </div>
            <div id="form-timeBake" class="relative flex flex-col">
              <dl-text-input
                label="Cook time in minutes"
                formControlName="timeBake"
                [hasError]="
                  form.get('timeBake')?.hasError('notPositiveInteger') || false
                "
                errorMessage="Must be a positive integer"
              ></dl-text-input>
            </div>
          </div>
          <div id="form-photo-recipe" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s inline-flex w-full justify-center rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic text-dl-tan-10 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 sm:ml-dl-4"
                (click)="selectImage()"
              >
                Choose New Photo
              </button>
            </div>

            <image-cropper
              style="
                --cropper-outline-color: 'red';
                --cropper-overlay-color: 'red';
              "
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="5 / 3"
              (imageCropped)="recipeImageCropped($event)"
              (imageLoaded)="recipeImageLoaded()"
              (cropperReady)="recipeCropperReady()"
              (loadImageFailed)="recipeLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>
        <!---->

        <div class="mt-dl-4">
          <button
            type="submit"
            class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
            [class.cursor-pointer]="form.valid && !form.pristine"
            [ngClass]="{
              'cursor-pointer bg-dl-pinknew-4 dark:bg-dl-pinknew-7':
                (form.valid && !form.pristine) || this.croppedImage,
              'bg-dl-tan-7':
                !form.valid || (form.pristine && !this.croppedImage)
            }"
            [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
            (click)="onSubmit()"
          >
            Submit Changes
          </button>
          <button
            type="button"
            class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-1 font-serif text-dl-5 font-extrabold italic text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
