<div
  class="relative max-h-dl-21 w-full transform overflow-hidden overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="mb-dl-7 flex w-full flex-col items-center">
    <!-- Title, Help -->
    <div class="relative flex w-full flex-col items-center">
      <!-- Title -->
      <h3
        *ngIf="!isAdding"
        class="leading-dl-4 mb-dl-4 text-dl-7 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
      >
        Recipe Vision
      </h3>

      <!-- Help -->
      <svg
        *ngIf="!isAdding"
        class="absolute right-2 top-1"
        viewBox="0 0 36 45"
        height="36px"
        width="36px"
        (click)="onClickHelp()"
      >
        <path
          [attr.fill]="this.extraStuffService.getFillColor(5)"
          d="M32.74643,11.79066a16.00049,16.00049,0,1,0-8.5377,20.95552A16.01936,16.01936,0,0,0,32.74643,11.79066ZM23.202,30.3551a13.40561,13.40561,0,1,1,7.15339-17.55767A13.42294,13.42294,0,0,1,23.202,30.3551Z"
        />
        <path
          [attr.fill]="this.extraStuffService.getFillColor(5)"
          d="M17.55577,8.32059A5.58325,5.58325,0,0,0,13.08949,10.528a1.29746,1.29746,0,0,0,2.06084,1.57688,3.027,3.027,0,1,1,2.40544,4.86451,1.29712,1.29712,0,0,0-1.29732,1.29732v2.59463a1.29732,1.29732,0,0,0,2.59463,0v-1.4485A5.622,5.622,0,0,0,17.55577,8.32059Z"
        />
        <circle
          [attr.fill]="this.extraStuffService.getFillColor(5)"
          cx="17.55582"
          cy="25.08439"
          r="1.29732"
        />
      </svg>
    </div>
    <p
      *ngIf="!isAdding"
      class="px-dl-4 text-dl-5 font-dl-2 text-dl-grey-2 dark:text-dl-grey-9"
    >
      Choose a Recipe Source Image that shows the recipe you want to add. It
      should clearly show all details, ingredients, and instructions.
      Optionally, choose a photo of the completed dish.
    </p>
    <mat-spinner class="my-app-custom-spinner" *ngIf="isAdding"></mat-spinner>
    <!-- <p
      *ngIf="isAdding && profile().onboardingState !== 12"
      class="px-dl-4 text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
    >
      You may navigate away while waiting
    </p> -->
    <p
      *ngIf="isAdding && profile().onboardingState === 12"
      class="px-dl-4 text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9"
    >
      This should take one minute or less
    </p>
    <p
      *ngIf="statusMessage() && isAdding"
      class="px-dl-4 text-dl-6 font-dl-2 text-dl-grey-1 dark:text-dl-grey-10"
    >
      {{ statusMessage() }}
    </p>
  </div>
  <div *ngIf="!isAdding" class="relative flex w-full flex-col">
    <div class="text-center">
      <!-- Source Image Selection -->
      <div
        id="photo-recipe"
        class="mb-dl-3 mt-dl-1 w-full flex-col items-center"
      >
        <div class="relative flex w-full flex-col items-center">
          <button
            type="button"
            class="mb-dl-5 inline-block w-full cursor-pointer rounded px-4 py-2 text-dl-5"
            [ngClass]="{
              'border-2 border-dl-pink-4 bg-white text-dl-pink-4 dark:border-dl-pink-7  dark:bg-dl-grey-1 dark:text-dl-pink-7':
                sourceImagePresent,
              'bg-dl-pink-4 text-white dark:bg-dl-pink-7 dark:text-dl-grey-1':
                !sourceImagePresent
            }"
            (click)="selectSourceImage()"
          >
            {{
              sourceImagePresent
                ? "Change Source Image"
                : "Choose Recipe Source Image"
            }}
          </button>
          <img
            *ngIf="sourceImagePresent && sourceImageSelectedFileUrl"
            [src]="sourceImageSelectedFileUrl | imageFromCDN"
            class="mb-dl-4 max-w-dl-14"
            alt="Selected recipe source image"
          />
        </div>
      </div>

      <!-- Photo Selection -->
      <div class="mt-dl-1 w-full">
        <div class="relative flex w-full flex-col items-center">
          <button
            type="button"
            class="inline-block w-full cursor-pointer rounded px-4 py-2 text-dl-5"
            [ngClass]="{
              'border-2 border-dl-pink-4 bg-white text-dl-pink-4 dark:border-dl-pink-7  dark:bg-dl-grey-1 dark:text-dl-pink-7':
                imagePresent,
              'bg-dl-pink-4 text-white dark:bg-dl-pink-7 dark:text-dl-grey-1':
                !imagePresent
            }"
            (click)="selectImage()"
          >
            {{ imagePresent ? "Change Recipe Photo" : "Choose Recipe Photo" }}
          </button>
        </div>

        <image-cropper
          style="--cropper-outline-color: 'red'; --cropper-overlay-color: 'red'"
          [imageBase64]="recipeImageBase64"
          [maintainAspectRatio]="true"
          [aspectRatio]="5 / 3"
          (imageCropped)="recipeImageCropped($event)"
          (imageLoaded)="recipeImageLoaded()"
          (cropperReady)="recipeCropperReady()"
          (loadImageFailed)="recipeLoadImageFailed()"
        ></image-cropper>
      </div>

      <!-- Submit, Cancel Buttons -->
      <div class="mt-dl-6">
        <button
          type="button"
          class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
          [class.cursor-pointer]="sourceImagePresent"
          [ngClass]="{
            'cursor-pointer bg-dl-pink-4 hover:bg-dl-pink-5 dark:bg-dl-pink-7 hover:dark:bg-dl-pink-6':
              sourceImagePresent,
            'bg-dl-grey-7': !sourceImagePresent
          }"
          [disabled]="!sourceImagePresent"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="sm:mt-0 sm:w-auto mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
