<div
  class="relative h-dl-21 w-full transform overflow-hidden overflow-y-auto bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all"
>
  <div class="flex w-full flex-col items-center">
    <!-- Title -->
    <h3 class="leading-dl-4 text-dl-7 font-dl-3 text-dl-grey-4">
      Recipe Vision
    </h3>
    <mat-spinner class="my-app-custom-spinner" *ngIf="isAdding"></mat-spinner>
    <p
      *ngIf="statusMessage() && isAdding"
      class="px-dl-4 text-dl-5 font-dl-2 text-dl-grey-2"
    >
      {{ statusMessage() }}
    </p>
  </div>
  <div *ngIf="!isAdding" class="relative flex w-full flex-col">
    <div class="text-center">
      <!-- Image Selection -->
      <div id="photo-recipe" class="mt-dl-1 w-full flex-col items-center">
        <div class="relative flex w-full flex-col items-center">
          <input
            type="file"
            class="hidden"
            id="fileInputRecipe"
            (change)="recipeOnFileSelected($event)"
            accept="image/png, image/jpeg"
          />
          <img
            *ngIf="selectedFileUrl"
            [src]="selectedFileUrl"
            class="max-w-dl-14 mb-dl-4"
            alt="Selected recipe image"
          />
          <label
            for="fileInputRecipe"
            class="inline-block w-full cursor-pointer rounded px-4 py-2 text-dl-5"
            [ngClass]="{
              'border-2 border-dl-blue-4 bg-white text-dl-blue-4': imagePresent,
              'bg-dl-blue-4 text-white': !imagePresent
            }"
          >
            {{ imagePresent ? "Change Image" : "Choose Recipe Image" }}
          </label>
        </div>
      </div>

      <!-- Submit, Cancel Buttons -->
      <div class="mt-dl-6">
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white sm:ml-dl-4"
          [class.cursor-pointer]="imagePresent"
          [ngClass]="{
            'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5': imagePresent,
            'bg-dl-grey-7': !imagePresent
          }"
          [disabled]="!imagePresent"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
