<div
  class="bg-dl-white relative flex h-full w-full flex-col items-center overflow-y-auto overflow-x-hidden dark:bg-dl-tan-1"
>
  <div class="flex w-full max-w-dl-22 flex-col bg-dl-tan-9 dark:bg-dl-tan-1">
    <!-- Header -->
    <div
      class="sticky top-0 z-30 flex h-dl-7 w-full items-center justify-between bg-dl-tan-9 px-dl-2 dark:bg-dl-tan-1 sm:h-dl-8"
    >
      <!-- Logo -->
      <img
        class="h-14 w-auto pl-dl-2 pt-dl-1"
        src="/assets/icons/logo-blue-light.svg"
        alt="doughleap logo"
      />
      <button
        type="button"
        (click)="onTesterSignup()"
        (mouseover)="mouseOver('buttonHeader')"
        (mouseleave)="mouseLeave('buttonHeader')"
        class="mr-dl-2 h-dl-5 w-dl-10 whitespace-nowrap rounded-dl-2 border-2 border-dl-green-4 bg-dl-tan-9 px-dl-3 py-dl-2 text-center text-dl-6 font-dl-3 text-dl-green-2 hover:bg-dl-green-10"
        id="user-menu-button"
      >
        Tester Signup!
      </button>
    </div>
    <div class="flex w-full flex-col">
      <!-- Hero Image and Text -->
      <div
        class="mb-dl-8 mt-dl-8 flex h-dl-18 w-full justify-around sm:h-dl-20"
      >
        <div
          class="relative w-full bg-dl-pinknew-9 sm:mr-dl-10 sm:w-9/12 sm:rounded-3xl"
        >
          <h1
            class="absolute left-8 top-8 w-full text-dl-8 font-dl-3 leading-tight tracking-wide sm:left-6 sm:top-12 sm:w-dl-15 sm:text-dl-9"
          >
            Your recipes, loved
          </h1>
          <p
            class="absolute left-8 top-1/3 w-9/12 text-dl-7 font-dl-2 leading-tight tracking-normal sm:left-6 sm:w-dl-14 sm:leading-normal"
          >
            Create, share, and more. Join other home chefs in making the most of
            your family recipes on Doughly.
          </p>
          <button
            type="button"
            (click)="getDoughlyClick()"
            (mouseover)="mouseOver('buttonOne')"
            (mouseleave)="mouseLeave('buttonOne')"
            class="button-transition absolute z-20 h-dl-5 w-dl-9 whitespace-nowrap rounded-full border-dl-tan-2 bg-dl-pinknew-4 px-dl-3 py-dl-2 text-center text-dl-5 font-dl-3 text-dl-tan-10 shadow-sm hover:bg-dl-pinknew-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pinknew-6 dark:border-dl-tan-9 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 hover:dark:bg-dl-pinknew-6"
            id="user-menu-button"
            [class.button-offset]="!buttonOneHover()"
          >
            Get Doughly
          </button>
          <div
            class="z-15 button-background absolute h-dl-5 w-dl-9 rounded-full border-0 bg-dl-green-3 dark:bg-dl-green-8"
          ></div>
          <img
            src="assets/photos/grandmother-cooking-with-daughter.svg"
            alt="Hero Image"
            class="sm:scale-80 absolute -bottom-20 right-0 translate-y-2/3 scale-75 rounded-2xl xsm:translate-y-1/3 sm:-right-28 sm:top-8 sm:-translate-x-0 sm:translate-y-0 sm:rounded-3xl md:scale-100"
          />
        </div>
      </div>
      <!-- Spacer Div -->
      <div class="my-dl-6 h-dl-4"></div>

      <!-- Recipe Screenshots -->
      <div
        class="mb-dl-11 mt-dl-13 h-dl-18 xsm:mb-dl-12 xsm:mt-dl-10 sm:mt-dl-5"
      >
        <div
          class="relative h-dl-17 w-full bg-dl-green-9 sm:ml-dl-11 sm:w-9/12 sm:rounded-3xl"
        >
          <h1
            class="xsw:w-dl-17 xsw:w-full absolute left-8 top-8 w-dl-16 text-dl-8 font-dl-3 leading-tight tracking-wide sm:left-6 sm:top-12"
          >
            Build your collection, fast
          </h1>
          <p
            class="xsw:top-1/3 absolute left-8 top-40 w-7/12 text-dl-7 font-dl-2 leading-tight tracking-normal sm:left-6 sm:w-dl-14"
          >
            Select from hundreds of public recipes, build from scratch, or
            import from photos of your recipe cards.
          </p>
          <img
            src="assets/photos/tilted-recipe-screenshots.svg"
            alt="Tilted Recipe Screenshots"
            class="scale-80 absolute bottom-0 right-0 translate-y-2/3 xsm:bottom-5 md:scale-100"
          />
        </div>
      </div>

      <!-- Add URL Recipe Video -->
      <div
        class="relative mb-dl-12 mt-dl-12 flex h-dl-22 w-full items-center justify-between pl-dl-8 xsm:mt-dl-12"
      >
        <!-- Text -->
        <div class="flex h-dl-12 w-full flex-col justify-between">
          <h2
            class="xsw:w-dl-17 xsw:w-full absolute top-0 w-dl-16 text-left text-dl-8 font-dl-3 leading-tight tracking-wide xsm:w-dl-17"
          >
            Crazy Smart Importing
          </h2>
          <p
            class="absolute top-28 w-dl-16 text-left text-dl-7 font-dl-2 leading-normal tracking-normal xsm:top-20 xsm:w-dl-17 sm:w-dl-14"
          >
            Generate a recipe from any website in seconds. Goodbye ads, hello
            cooking.
          </p>
        </div>
        <img
          src="assets/photos/steaming-pot.svg"
          alt="Steaming Pot"
          class="absolute scale-0 rounded-3xl sm:bottom-20 sm:left-0 sm:translate-y-1/3 sm:scale-75"
        />
        <!-- Create URL Recipe Video -->
        <video
          #video1
          loop
          width="320"
          height="240"
          class="absolute -top-36 right-1/2 translate-x-1/2 translate-y-1/2 scale-75 xsm:-top-48 sm:-top-36 sm:right-6 sm:translate-x-0 sm:translate-y-1/3 sm:scale-90 md:right-20 md:scale-100"
        >
          <source [src]="videoSource" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <!-- <script>
          document.getElementById("video1").play();
        </script> -->
      </div>

      <!-- Social -->
      <div
        class="relative mb-dl-9 h-dl-22 w-full bg-gradient-to-b from-dl-pinknew-9 to-dl-tan-9 xsm:mb-dl-11 sm:ml-dl-10 sm:w-9/12 sm:rounded-3xl"
      >
        <!-- Text -->
        <div class="flex h-dl-12 w-full flex-col justify-between">
          <h2
            class="absolute top-5 w-full text-center text-dl-8 font-dl-3 leading-tight tracking-wider"
          >
            Recipes connect us
          </h2>
          <p
            class="absolute top-24 w-full px-dl-8 text-center text-dl-6 font-dl-2 leading-normal tracking-normal xsm:text-dl-7"
          >
            Keep heirlooms in the family, or make public what you are proud of.
            See what others are cooking.
          </p>
        </div>

        <!-- Friend List Image -->
        <img
          src="assets/photos/friends-list.png"
          alt="Friends List"
          class="absolute top-48 mb-dl-5 scale-75 rounded-3xl"
        />
      </div>

      <!-- Other Features -->
      <div class="mb-dl-17 w-full xsm:mb-dl-0 xsm:mt-dl-10 sm:mt-dl-5">
        <div
          class="mb-dl-16 relative flex w-full flex-col items-center bg-gradient-to-t from-dl-green-8 to-dl-tan-9 pb-dl-8 pt-dl-10 sm:mb-dl-7 sm:rounded-3xl"
        >
          <h1
            class="absolute right-8 top-8 w-dl-16 text-right text-dl-7 font-dl-3 leading-tight tracking-wide xsm:w-full xsm:text-dl-8"
          >
            Hungry for more?
          </h1>
          <div
            class="flex h-dl-16 w-10/12 items-center justify-between sm:h-dl-18 sm:w-9/12"
          >
            <img
              src="assets/photos/ingredients-page-screenshot.svg"
              alt="Ingredients Page"
              class="h-dl-16 sm:h-dl-18"
            />
            <div
              class="bg-teal-4 pl-dl-4 text-right text-dl-5 font-dl-3 italic leading-normal tracking-normal text-dl-tan-2 xsm:text-dl-6 sm:text-dl-7"
            >
              Fill your pantry. Record tool and ingredient quantities.
              Optionally, get notified when running low or upon upcoming
              expirations.
            </div>
          </div>
          <div
            class="flex h-dl-16 w-10/12 items-center justify-between sm:h-dl-18 sm:w-9/12"
          >
            <div
              class="bg-teal-4 pr-dl-4 text-left text-dl-5 font-dl-3 italic leading-normal tracking-normal text-dl-tan-1 xsm:text-dl-6 sm:text-dl-7"
            >
              Draft shopping lists from your planned recipes. Optionally, have
              the system check your kitchen stock first.
            </div>
            <img
              src="assets/photos/shopping-draft-screenshot.svg"
              alt="Shopping List Draft"
              class="h-dl-16 sm:h-dl-18"
            />
          </div>
          <div
            class="flex h-dl-16 w-10/12 items-center justify-between sm:h-dl-18 sm:w-9/12"
          >
            <img
              src="assets/photos/shared-list-screenshot.svg"
              alt="Shared Shopping List"
              class="h-dl-16 sm:h-dl-18"
            />
            <div
              class="bg-teal-4 text-d pl-dl-4 text-right text-dl-5 font-dl-3 italic leading-normal tracking-normal text-dl-tan-1 xsm:text-dl-6 sm:text-dl-7"
            >
              Invite friends to grocery shop for you. Get notified when they
              complete items from your list.
            </div>
          </div>
          <div class="h-dl-9"></div>
          <div>
            <h3
              class="right-8 w-full text-right text-dl-7 font-dl-3 italic leading-tight tracking-wider text-dl-tan-1 xsm:w-full xsm:text-dl-8"
            >
              Bring your recipes home
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
