<div class="relative flex h-full w-full flex-col items-center px-dl-4">
  <!-- Search, Add-->
  <div class="mx-dl-7 mb-dl-6 flex items-center">
    <!-- Search Bar -->
    <div class="mt-dl-3 flex items-center">
      <svg
        width="35"
        height="35"
        viewBox="0 0 15 15"
        class="pt-dl-1 text-dl-grey-3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        #searchInput
        type="text"
        class="ml-dl-2 w-dl-13 border-none text-dl-5 text-dl-grey-4 placeholder-dl-grey-4 focus:ring-transparent"
        [placeholder]="
          !searchFilter() ? 'Filter by First or Last Name...' : searchFilter()
        "
        (input)="updateSearchFilter(searchInput.value)"
      />
    </div>
  </div>

  <!-- Friend Requests -->
  <div
    *ngIf="requests().length > 0"
    class="mb-dl-3 flex w-full flex-col items-center"
  >
    <div>
      <span
        class="ml-dl-2 text-dl-6 font-dl-2 text-dl-pink-5"
        (click)="onRequestsClick()"
        >{{ requests().length }} friend request</span
      ><span
        class="text-dl-6 font-dl-2 text-dl-pink-5"
        *ngIf="requests().length > 1"
        >s</span
      >
    </div>
  </div>

  <!-- Friend List -->
  <div class="relative flex flex-grow flex-col items-center overflow-y-auto">
    <dl-friend-card
      (click)="onFriendClick(friend)"
      *ngFor="let friend of filteredFriends(); let i = index"
      class="w-dl-16 border-dl-grey-9 py-dl-3"
      [ngClass]="{
        'border-b-2': i !== filteredFriends().length - 1
      }"
      [friend]="friend"
    ></dl-friend-card>
  </div>
  <span *ngIf="friends().length > 0" class="text-dl-5 font-dl-2 text-dl-grey-2"
    >{{ friends().length }} total</span
  >
  <!-- Add Button -->
  <div class="w-full">
    <button
      id="test-button"
      type="button"
      class="my-dl-2 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 border bg-dl-pink-4 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-white shadow-lg transition-all duration-200 ease-in-out"
      (click)="onAddFriend()"
    >
      Search New Friends
    </button>
  </div>
</div>
