<div class="flex h-full w-full flex-col items-center bg-dl-tan-9 pt-dl-4 dark:bg-dl-tan-1">
  <div
    *ngIf="isLoadingGlobal()"
    class="flex h-full w-full flex-col items-center justify-center px-dl-6"
  >
    <p
      class="font-sans ml-dl-3 text-dl-6 font-dl-2 italic text-dl-tan-2 dark:text-dl-tan-9"
    >
      Cooking up something great
    </p>
    <!-- <mat-spinner class="my-app-custom-spinner"></mat-spinner> -->
    <ng-lottie
      containerClass=""
      height="250px"
      width="250px"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="loopComplete()"
      [options]="animationOptions"
    />
  </div>
</div>
