<div
  class="max-h-dl-17 w-dl-14 transform overflow-y-auto rounded-dl-3 bg-white px-dl-5 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <mat-spinner class="my-app-custom-spinner" *ngIf="isUpdating"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isUpdating">
    <div class="flex w-full flex-col">
      <div class="mt-dl-2 space-x-1 whitespace-nowrap text-center">
        <span class="text-dl-6 text-dl-grey-5 dark:text-dl-grey-6">Edit</span
        ><span class="text-dl-6 font-dl-3 text-dl-grey-2 dark:text-dl-grey-9">{{
          ingredient()?.name
        }}</span
        ><span class="text-dl-6 text-dl-grey-5 dark:text-dl-grey-6">stock</span>
      </div>

      <!--FORM FIELDS-->
      <div class="mt-dl-6">
        <div id="form-purchasedDate">
          <label class="text-dl-5 font-dl-3 text-dl-grey-4 dark:text-dl-grey-7"
            >Purchased Date</label
          >
          <mat-form-field class="w-full">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="purchasedDate"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              class="text-dl-5"
              *ngIf="form.get('purchasedDate')?.hasError('dateInvalid')"
            >
              Date must be after selected employee's hire date.
            </mat-error>
          </mat-form-field>
        </div>

        <div id="form-measurement">
          <dl-text-input
            label="{{ measurementLabel() }}"
            formControlName="measurement"
          ></dl-text-input>
        </div>
      </div>
      <!---->

      <div class="sm:mt-dl-4 sm:flex sm:flex-row-reverse mt-dl-3">
        <button
          type="button"
          class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-pink-4 dark:bg-dl-pink-7':
              form.valid && !form.pristine,
            'bg-dl-grey-7': !form.valid || form.pristine
          }"
          [disabled]="!form.valid || form.pristine"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="sm:mt-0 sm:w-auto mt-dl-3 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
