<div
  class="relative transform overflow-hidden bg-white px-dl-4 pb-dl-4 pt-dl-5 text-left transition-all sm:my-dl-7 sm:w-full sm:max-w-lg sm:p-dl-6"
>
  <mat-spinner *ngIf="submittingChanges"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!submittingChanges">
    <div class="mt-dl-3 text-center sm:ml-dl-4 sm:mt-dl-0 sm:text-left">
      <h3
        class="leading-dl-4 text-base font-dl-3 text-dl-grey-2"
        id="editIngredientStockModal"
      >
        Edit Inventory Item
      </h3>
      <div class="mt-dl-2">
        <p class="text-dl-2 text-dl-grey-5">
          Edit details of this Inventory item
        </p>
      </div>
    </div>
    <div class="absolute right-0 top-0 hidden pr-dl-4 pt-dl-4 sm:block">
      <button
        type="button"
        class="rounded-dl-2 bg-white text-dl-grey-6 hover:text-dl-grey-5 focus:outline-none"
        (click)="onCancel()"
      >
        <span class="sr-only">Close</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <mat-form-field>
      <mat-label>Purchased By</mat-label>
      <mat-select formControlName="purchasedBy">
        <mat-option
          *ngFor="let employee of employees$ | async"
          [value]="employee.employeeID"
        >
          {{ employee.nameFirst }} {{ employee.nameLast }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Purchased Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="purchasedDate"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >Measurement in
        <ng-container *ngIf="ingredient$ | async as ingredient">{{
          ingredient.purchaseUnit
        }}s</ng-container></mat-label
      >
      <input matInput formControlName="measurement" />
    </mat-form-field>

    <div class="mt-dl-5 sm:mt-dl-4 sm:flex sm:flex-row-reverse">
      <button
        type="button"
        class="mt-dl-3 inline-flex w-full justify-center rounded-dl-2 bg-white px-dl-3 py-dl-2 text-dl-2 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 sm:mt-0 sm:w-auto"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="shadow-s inline-flex w-full justify-center rounded-dl-2 px-dl-3 py-dl-2 text-dl-2 font-dl-3 text-white sm:ml-dl-3 sm:w-auto"
        [class.cursor-pointer]="form.valid && !form.pristine"
        [ngClass]="{
          'cursor-pointer bg-dl-blue-4 hover:bg-dl-blue-5':
            form.valid && !form.pristine,
          'bg-dl-grey-7': !form.valid || form.pristine
        }"
        [disabled]="!form.valid || form.pristine"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
