<div class="relative h-full w-full">
  <!-- List View Header -->
  <div class="mb-dl-6 flex h-dl-4 w-full justify-around">
    <span
      (click)="setListView('byCategory')"
      class="inline-flex items-center px-1 pt-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 font-dl-3 text-dl-grey-2':
          listView() === 'byCategory',
        'text-dl-5 font-dl-2 text-dl-grey-4': listView() !== 'byCategory'
      }"
    >
      By Category
    </span>
    <span
      (click)="setListView('all')"
      class="inline-flex items-center py-1 font-dl-2 transition-all duration-200 ease-in-out"
      [ngClass]="{
        'border-b-2 border-dl-blue-6 text-dl-6 font-dl-3 text-dl-grey-2':
          listView() === 'all',
        'text-dl-5 font-dl-2 text-dl-grey-4': listView() !== 'all'
      }"
    >
      All
    </span>
  </div>

  <!-- Search, Add-->
  <div class="mx-dl-7 mb-dl-6 flex justify-between">
    <!-- Search Bar -->
    <div class="mt-dl-3 flex items-center">
      <svg
        width="35"
        height="35"
        viewBox="0 0 15 15"
        class="pt-dl-1 text-dl-grey-3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        #searchInput
        type="text"
        class="ml-dl-2 w-dl-13 border-none pt-dl-2 text-dl-4 text-dl-grey-4 placeholder-dl-grey-4 focus:ring-transparent"
        [placeholder]="
          !searchFilter()
            ? listView() === 'byCategory'
              ? 'Search by name'
              : 'Search by title or category'
            : searchFilter()
        "
        (input)="updateSearchFilter(searchInput.value)"
      />
    </div>
    <!-- Add Button -->
    <button
      id="add-button"
      type="button"
      class="mt-dl-5 block h-dl-4 whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-center text-dl-4 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pink-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
      (click)="onAddClick()"
      [ngClass]="{ invisible: listView() !== 'all' }"
    >
      Add Recipe
    </button>
  </div>

  <!-- List -->
  <div class="relative mb-dl-3 flex flex-col items-center">
    <div
      *ngIf="listView() === 'byCategory'"
      class="flex h-dl-21 flex-col items-center"
      #scrollContainer
      (scroll)="checkScroll($event.target)"
    >
      <dl-recipe-category-card
        *ngFor="let category of displayCategories()"
        (click)="categoryCardClick(category)"
        class="recipe-card m-dl-3 h-dl-7 w-dl-17 rounded-lg shadow-md"
        [category]="category"
      ></dl-recipe-category-card>
    </div>
    <div
      *ngIf="listView() === 'all'"
      class="flex h-dl-21 flex-col items-center"
      #scrollContainer
      (scroll)="checkScroll($event.target)"
    >
      <dl-recipe-card
        *ngFor="let recipe of filteredRecipes()"
        (click)="recipeCardClick(recipe)"
        [recipe]="recipe"
        [isUserRecipe]="true"
        [isSelected]="false"
      ></dl-recipe-card>
    </div>
    <span class="absolute -bottom-10 text-dl-5 font-dl-2 text-dl-grey-2"
      >{{
        listView() === "byCategory"
          ? displayCategories().length
          : recipes().length
      }}
      total</span
    >
  </div>
</div>
