<div
  class="flex h-full w-full transform flex-col bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-grey-4 dark:bg-dl-grey-1"
>
  <div class="sm:ml-dl-1 sm:mt-dl-0 sm:text-left mt-dl-1 text-center">
    <h3
      class="leading-dl-4 text-dl-6 font-dl-3 text-dl-grey-3 dark:text-dl-grey-8"
      id="editIngredientModal"
    >
      Edit Profile Photo
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isUploadingPhoto"
  ></mat-spinner>

  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isUploadingPhoto === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 flex-grow overflow-y-auto">
          <div id="form-photo-profile" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:border-dl-grey-1 dark:bg-dl-pink-7 dark:text-dl-grey-1"
                (click)="selectImage()"
              >
                Choose New Photo
              </button>
            </div>

            <image-cropper
              style="
                --cropper-outline-color: 'red';
                --cropper-overlay-color: 'red';
              "
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              (imageCropped)="profileImageCropped($event)"
              (imageLoaded)="profileImageLoaded()"
              (cropperReady)="profileCropperReady()"
              (loadImageFailed)="profileLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>

        <!-- spacer div-->
        <div class="flex flex-grow"></div>
        <!---->
        <button
          type="button"
          class="shadow-s sm:ml-dl-4 inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-grey-1"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-pink-4 hover:bg-dl-pink-5 dark:bg-dl-pink-7 hover:dark:bg-dl-pink-6':
              (form.valid && !form.pristine) || this.croppedImage,
            'bg-dl-grey-7': !form.valid || (form.pristine && !this.croppedImage)
          }"
          [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="sm:mt-0 sm:w-auto mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-grey-1 shadow-sm ring-1 ring-inset ring-dl-grey-7 hover:bg-dl-grey-10 dark:bg-dl-grey-1 dark:text-dl-grey-10 dark:hover:bg-dl-grey-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
