<div
  class="flex h-full w-full transform flex-col items-center rounded-dl-3 bg-dl-tan-9 px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mt-dl-1 text-center sm:ml-dl-1 sm:mt-dl-0 sm:text-left">
    <h3
      class="leading-dl-4 font-sans text-dl-6 font-dl-3 text-dl-tan-3 dark:text-dl-tan-8"
      id="editIngredientModal"
    >
      Edit Profile Photo
    </h3>
  </div>
  <mat-spinner
    class="my-app-custom-spinner"
    *ngIf="isUploadingPhoto"
  ></mat-spinner>
  <h2
    *ngIf="isUploadingPhoto"
    class="leading-dl-4 mt-dl-3 font-body text-dl-5 font-dl-2 italic text-dl-tan-3 dark:text-dl-tan-8"
  >
    You may leave while waiting
  </h2>

  <div class="w-full flex-grow overflow-y-auto">
    <form
      class="h-full"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="isUploadingPhoto === false"
    >
      <div class="flex h-full w-full flex-col">
        <!--FORM FIELDS-->
        <div class="mt-dl-1 max-h-dl-17 flex-grow overflow-y-auto">
          <div id="form-photo-profile" class="mt-dl-1">
            <div class="relative inline-block w-full">
              <button
                type="button"
                class="shadow-s inline-flex w-full justify-center rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-2 font-serif text-dl-5 font-dl-3 text-dl-tan-10 dark:border-dl-tan-1 dark:bg-dl-pinknew-7 dark:text-dl-tan-1 sm:ml-dl-4"
                (click)="selectImage()"
              >
                Choose New Photo
              </button>
            </div>

            <image-cropper
              style="
                --cropper-outline-color: 'red';
                --cropper-overlay-color: 'red';
              "
              [imageBase64]="recipeImageBase64"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              (imageCropped)="profileImageCropped($event)"
              (imageLoaded)="profileImageLoaded()"
              (cropperReady)="profileCropperReady()"
              (loadImageFailed)="profileLoadImageFailed()"
            ></image-cropper>
          </div>
        </div>

        <!-- spacer div-->
        <div class="flex flex-grow"></div>
        <!---->
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 font-serif text-dl-5 font-dl-3 text-dl-tan-10 dark:text-dl-tan-1 sm:ml-dl-4"
          [class.cursor-pointer]="form.valid && !form.pristine"
          [ngClass]="{
            'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
              (form.valid && !form.pristine) || this.croppedImage,
            'bg-dl-tan-7': !form.valid || (form.pristine && !this.croppedImage)
          }"
          [disabled]="!form.valid || (form.pristine && !this.croppedImage)"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-dl-tan-10 px-dl-3 py-dl-2 font-serif text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 dark:hover:bg-dl-tan-2 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
