<div class="relative flex h-full w-full flex-col items-center px-dl-4 pt-dl-6">
  <div
    *ngIf="!isLoading() && view() === 'benefits'"
    class="flex h-full w-full flex-col items-center overflow-y-auto"
  >
    <dl-benefits-chart
      [view]="'your-premium'"
      class="mt-dl-2 w-full overflow-y-auto [@media(max-width:767px)]:scrollbar-hide"
    ></dl-benefits-chart>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <button
      *ngIf="allowExtraTokenPurchase()"
      type="button"
      class="mb-dl-3 mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onAddTokens()"
    >
      ADD MORE TOKENS
    </button>
    <span
      (click)="onConfirm()"
      class="mx-dl-7 mb-dl-4 items-center text-center text-dl-4 font-dl-3 text-dl-grey-8 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.changeSubscription }}</span
    >
  </div>
  <div
    *ngIf="!isLoading() && view() === 'chooseMapping'"
    class="flex h-full flex-col"
  >
    <!-- Prompt User to Select Recipes to Keep-->
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center text-dl-7 font-dl-3 text-dl-grey-10 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.beforeCanceling1 }}</span
    >
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <!-- Buttons -->
    <button
      type="button"
      class="mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onSelectRecipes()"
    >
      SELECT FREE TIER RECIPES
    </button>
    <button
      type="button"
      class="mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onSelectSubscriptions()"
    >
      SELECT FREE TIER SUBSCRIPTIONS
    </button>
    <button
      type="button"
      class="mb-dl-4 mt-dl-4 block h-dl-5 w-full whitespace-nowrap rounded-dl-2 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 shadow-lg transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      BACK TO ACCOUNT
    </button>
    <span
      (click)="onConfirm()"
      class="mx-dl-7 mb-dl-3 items-center text-center text-dl-3 font-dl-3 text-dl-grey-9 transition-all duration-100 ease-in-out"
      >{{ stringsService.productStrings.manageSubscription }}</span
    >
  </div>
  <!-- TOKEN OPTIONS -->
  <div
    *ngIf="view() === 'options' && productSKUs().length > 0 && !isLoading()"
    class="flex h-full w-full flex-col items-center"
  >
    <span
      class="mx-dl-7 mb-dl-7 items-center text-center text-dl-7 font-dl-3 text-dl-grey-10 transition-all duration-100 ease-in-out"
      >Choose a plan</span
    >
    <div class="flex w-full flex-col items-center">
      <dl-product-sku-card
        class="mb-dl-6 flex w-full flex-col items-center"
        *ngFor="let sku of productSKUs()"
        (click)="skuClick(sku)"
        [sku]="sku"
        [isSelected]="selectedIdentifier() === sku.skuId"
      ></dl-product-sku-card>
    </div>
    <!-- Spacer Div -->
    <dl class="flex flex-grow"></dl>
    <span
      class="inline-flex items-center text-dl-4 font-dl-2 text-dl-grey-10 transition-all duration-100 ease-in-out"
      >One time purchase</span
    >
    <!-- Buttons -->
    <button
      type="button"
      class="mb-dl-5 mt-dl-3 block h-dl-5 w-full whitespace-nowrap rounded-dl-1 bg-dl-grey-10 px-dl-1 py-dl-1 text-center text-dl-5 font-dl-3 text-dl-grey-1 transition-all duration-200 ease-in-out"
      (click)="onConfirm()"
    >
      UPGRADE NOW
    </button>
  </div>
</div>
