<div class="w-full">
  <div class="mx-dl-5 mt-dl-6 flex justify-between">
    <h1 class="ml-dl-6 text-dl-7 font-dl-2 leading-dl-2 text-dl-grey-2">
      Recipes
    </h1>
    <div class="mr-dl-3 flex max-w-7xl flex-col justify-around bg-white">
      <p class="text-dl-4 font-dl-2 text-dl-grey-6">
        Total Recipies: {{ recipeRows.length }}
      </p>
      <p class="text-dl-4 font-dl-2 text-dl-grey-6">
        Ready to Make: {{ readyToMake }}
      </p>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex w-full">
      <!-- Recipes Info Section -->
    </div>

    <!-- View Selection, Add Button -->
    <div class="mt-dl-5 flex w-full justify-around">
      <div class="ml-dl-5 flex">
        <h1
          class="mr-dl-2 mt-dl-6 border-b-2 text-dl-5 font-dl-3 leading-dl-2"
          [ngClass]="{
            'border-dl-blue-6 text-dl-grey-1': (view$ | async) === 'categories',
            'border-transparent text-dl-grey-5 ':
              (view$ | async) !== 'categories'
          }"
          (click)="categoriesClick()"
        >
          Categories
        </h1>
        <h1
          class="ml-dl-2 mt-dl-6 border-b-2 text-dl-5 font-dl-3 leading-dl-2"
          [ngClass]="{
            'border-dl-blue-6 text-dl-grey-1': (view$ | async) === 'list',
            'border-transparent text-dl-grey-5 ': (view$ | async) !== 'list'
          }"
          (click)="updateView('list')"
        >
          List
        </h1>
      </div>
      <div class="mr-dl-6 mt-dl-4 pt-dl-2">
        <button
          id="test-button"
          type="button"
          class="block whitespace-nowrap rounded-dl-1 bg-dl-pink-4 px-dl-3 py-dl-2 text-center text-dl-4 font-dl-3 text-white shadow-sm transition-all duration-200 ease-in-out hover:bg-dl-pink-5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dl-pink-6"
          (click)="openAddDialog()"
        >
          {{ addButtonLabel }}
        </button>
      </div>
    </div>
    <!-- List View -->
    <div
      class="relative mt-dl-4 w-11/12 flex-grow"
      *ngIf="(view$ | async) === 'list'"
    >
      <div class="flex flex-col">
        <!-- Search Bar-->
        <div class="ml-dl-9 mt-dl-6 flex">
          <svg
            width="35"
            height="35"
            viewBox="0 0 15 15"
            class="pt-dl-1 text-dl-grey-3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
          <input
            #searchInput
            type="text"
            class="h-dl- ml-dl-2 w-dl-13 border-none pt-dl-2 text-dl-4 text-dl-grey-4 placeholder-dl-grey-4 focus:ring-transparent sm:w-dl-12"
            [placeholder]="
              searchFilter === ''
                ? 'Search by Recipe or Category Name...'
                : searchFilter
            "
            [(ngModel)]="searchFilter"
            (input)="updateSearchFilter(searchInput.value)"
          />
        </div>

        <!--Table-->
        <table class="w-full flex flex-col">
          <thead class="bg-dl-grey-10 flex">
            <tr class="flex w-full">
              <th
                *ngFor="let column of columns; let i = index"
                [ngClass]="getClass(column, i)"
                scope="col"
                class="whitespace-nowrap d-flex justify-content-between relative py-dl-3 pl-dl-4 text-left text-dl-2 font-dl-3 text-dl-grey-2 sm:pl-dl-3 lg:pr-dl-3 flex-grow"
              >
                <div style="display: flex; align-items: center">
                  {{ column.name }}
                  <ng-container *ngIf="column.sort">
                    <div class="relative pl-dl-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xml:space="preserve"
                        width="298"
                        height="512"
                        shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision"
                        image-rendering="optimizeQuality"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        class="left-3 h-4 w-4 cursor-pointer fill-current transition-all duration-200"
                        [ngClass]="{
                          'text-dl-grey-6 hover:text-dl-grey-8':
                            column.sortRotateState ===
                            SortRotateStateEnum.default,
                          'text-dl-blue-6 hover:text-dl-blue-8':
                            column.sortRotateState !==
                            SortRotateStateEnum.default
                        }"
                        viewBox="0 0 298 511.93"
                        [@rotateState]="column.sortRotateState"
                        (click)="onSortIconClick(i)"
                      >
                        <path
                          fill-rule="nonzero"
                          d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
                        />
                      </svg>
                      <ng-container
                        *ngIf="column.sortRotateState !== SortRotateStateEnum.default"
                      >
                        <button
                          type="button"
                          class="absolute left-8 top-0 flex rounded-full bg-dl-grey-10 text-dl-2 text-dl-blue-6 focus:outline-none focus:ring-2 focus:ring-dl-blue-6 focus:ring-offset-2"
                        >
                          <span class="sr-only">Sort Order</span>
                          <div>{{ column.sortOrderState! + 1 }}</div>
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </th>
              <th scope="col" class="relative" class="rounded-tr-dl-3">
                <span class="sr-only">Edit</span>
                <button
                  type="button"
                  class="bg-dl-grey-10 min-w-dl-3 shadow-ssm:mt-0 inline-flex w-full whitespace-nowrap pt-dl-3 px-dl-3 text-dl-2 font-dl-3 sm:w-auto"
                  [disabled]="!clearAllSortsEnabled"
                  [ngClass]="{
                    ' text-dl-grey-5 hover:text-dl-grey-7':
                      clearAllSortsEnabled,
                    ' text-dl-grey-10': !clearAllSortsEnabled
                  }"
                  (click)="clearAllSorts()"
                >
                  Clear All Sorts
                </button>
              </th>
            </tr>
          </thead>
        </table>
        <div *ngFor="let row of displayedRecipeRows$ | async; let i = index" class=" my-dl-3 flex recipe-card m-4 h-dl-7 w-dl-15 rounded-lg shadow-md">
          <div
            *ngFor="let column of columns"
            class="whitespace-nowrap py-dl-4 pl-dl-4 text-dl-2 font-dl-2 text-dl-grey-1 sm:pl-dl-3 lg:pr-dl-9"
            [ngClass]="getClass(column, i)"
          >
            {{ row[column.prop] }}
          </div>
        </div>
      </div>
    </div>

    <!-- Categories View -->
    <div
      class="relative mt-dl-4 flex-grow"
      *ngIf="(view$ | async) === 'categories'"
    >
      <div
        class="absolute left-1/2 top-1 -translate-x-1/2 rotate-180 transform"
        *ngIf="showUpArrow"
      >
        <svg
          class="throb-icon text-dl-blue-6 transition-transform duration-300"
          width="45"
          height="45"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <!--Empty Div to give space for arrow icon-->
      <div class="mb-dl-5 h-dl-2"></div>

      <!-- Categories -->
      <div
        #categoryContainer
        class="recipe-container max-h-dl-18 overflow-auto scroll-smooth"
        (scroll)="checkScroll($event.target)"
      >
        <div
          class="recipe-card m-4 h-dl-7 w-dl-15 rounded-lg p-4 shadow-md"
          *ngFor="let category of recipeCategories$ | async; let i = index"
          [ngClass]="{ 'bg-dl-grey-9': modalActiveForRowID === i }"
          (click)="categoryCardClick(category.name)"
          (touchstart)="categoryCardTouchStart(i)"
          (touchend)="categoryCardTouchEnd(i)"
        >
          <div class="flex h-full">
            <div
              class="relative flex h-full w-full items-center justify-between"
            >
              <p class="text-dl-6 font-dl-3 text-dl-grey-2">
                {{ category.name }}
              </p>

              <!-- Edit/Delete Menu-->
              <button
                (click)="toggleCategoryMenu($event, i)"
                id="buttonToggleCategoryMenu"
                class="relative pr-dl-3"
              >
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.625 7.5C3.625 8.12132 3.12132 8.625 2.5 8.625C1.87868 8.625 1.375 8.12132 1.375 7.5C1.375 6.87868 1.87868 6.375 2.5 6.375C3.12132 6.375 3.625 6.87868 3.625 7.5ZM8.625 7.5C8.625 8.12132 8.12132 8.625 7.5 8.625C6.87868 8.625 6.375 8.12132 6.375 7.5C6.375 6.87868 6.87868 6.375 7.5 6.375C8.12132 6.375 8.625 6.87868 8.625 7.5ZM12.5 8.625C13.1213 8.625 13.625 8.12132 13.625 7.5C13.625 6.87868 13.1213 6.375 12.5 6.375C11.8787 6.375 11.375 6.87868 11.375 7.5C11.375 8.12132 11.8787 8.625 12.5 8.625Z"
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
              <div
                #categoryMenu
                *ngIf="categoryMenuOpen.open && categoryMenuOpen.index === i"
                class="focus:outling-none absolute right-4 top-12 z-10 flex flex-col bg-white shadow-md ring-1 ring-dl-grey-1 ring-opacity-5 ease-out"
              >
                <!-- <button
                  (click)="openEditDialog(category.recipeCategoryID, i)"
                  type="button"
                  class="block cursor-pointer px-dl-3 py-dl-2 text-dl-4 text-dl-grey-3 hover:bg-dl-grey-10"
                >
                  Edit
                </button> -->
                <button
                  (click)="
                    openDeleteDialog($event, category.recipeCategoryID, i)
                  "
                  type="button"
                  class="block cursor-pointer px-dl-3 py-dl-2 text-dl-4 text-dl-grey-3 hover:bg-dl-grey-10"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Empty Div to give space for arrow icon-->
      <div class="mt-dl-2 h-dl-3"></div>

      <div
        class="absolute bottom-0 left-1/2 -translate-x-1/2 transform"
        *ngIf="showDownArrow"
      >
        <svg
          class="throb-icon text-dl-blue-6 transition-transform duration-300"
          width="45"
          height="45"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
