<div
  class="flex h-dl-21 w-full transform flex-col items-center rounded-dl-3 bg-white px-dl-4 pb-dl-4 pt-dl-4 text-left transition-all dark:border dark:border-dl-tan-4 dark:bg-dl-tan-1"
>
  <div class="mb-dl-3 text-center">
    <div class="mt-dl-2 space-x-1 whitespace-nowrap">
      <span class="text-dl-6 font-dl-2 text-dl-tan-5 dark:text-dl-tan-8"
        >Messages</span
      >
    </div>
  </div>
  <mat-spinner *ngIf="isUpdating()" class="my-app-custom-spinner"></mat-spinner>
  <div class="w-full flex-grow overflow-y-auto">
    <div class="flex h-full w-full flex-col">
      <!--Messages-->
      <div class="mt-dl-1 flex flex-grow flex-col overflow-y-auto">
        <div
          *ngFor="let message of sortedMessages(); let i = index"
          class="flex w-full flex-col items-center transition-all duration-200 ease-in-out"
          (click)="onMessageSelect(message, i)"
        >
          <div
            class="relative my-dl-2 flex w-full flex-col items-start rounded-dl-3 py-dl-1 pl-dl-3 shadow-md dark:bg-dl-tan-2"
            [ngClass]="{
              'bg-dl-pinknew-10 dark:bg-dl-pinknew-1':
                selectedMessageIndex() === i
            }"
          >
            <div class="flex w-full justify-between">
              <p
                class="px-dl-2 text-dl-5 font-dl-3 text-dl-tan-1 dark:text-dl-tan-10"
              >
                {{ message.messageData.title }}
              </p>
              <p
                class="px-dl-4 text-dl-4 font-dl-2 text-dl-tan-1 dark:text-dl-tan-10"
              >
                {{ message.displayDate }}
              </p>
            </div>
            <p
              class="w-full pl-dl-2 pr-dl-4 text-dl-5 font-dl-2 text-dl-tan-3 dark:text-dl-tan-8"
              [ngClass]="{
                'truncate': selectedMessageIndex() !== i,
              }"
            >
              {{ message.messageData.message }}
            </p>
            <div
              *ngIf="message.messageData.status === 'notAcked'"
              class="absolute right-2 top-6 z-20 h-dl-2.5 w-dl-2.5 rounded-full bg-dl-pinknew-6 dark:bg-dl-pinknew-5"
            ></div>
          </div>
          <div
            *ngIf="selectedMessageIndex() === i"
            class="mb-dl-2 flex w-full justify-between px-dl-2 transition-all duration-200 ease-in-out"
          >
            <button
              (click)="onView(message, i)"
              class="shadow-s inline-flex w-dl-7 items-center justify-center rounded-dl-1 bg-dl-pinknew-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:bg-dl-pinknew-7 dark:text-dl-tan-1 sm:ml-dl-4"
            >
              View
            </button>
            <button
              (click)="onAck(message, i)"
              *ngIf="message.messageData.status === 'notAcked'"
              class="shadow-s inline-flex w-dl-7 items-center justify-center rounded-dl-1 border-2 border-dl-pinknew-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-pinknew-3 dark:border-dl-pinknew-7 dark:text-dl-pinknew-8 sm:ml-dl-4"
            >
              Seen
            </button>
            <button
              (click)="onDelete(message, i)"
              class="shadow-s inline-flex w-dl-7 items-center justify-center rounded-dl-1 border-2 border-dl-pinknew-4 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-pinknew-3 dark:border-dl-pinknew-7 dark:text-dl-pinknew-8 sm:ml-dl-4"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <!---->

      <div class="mt-dl-2">
        <button
          type="button"
          class="shadow-s inline-flex w-full justify-center rounded-dl-1 px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-white dark:text-dl-tan-1 sm:ml-dl-4"
          [ngClass]="{
            'cursor-pointer bg-dl-pinknew-4 hover:bg-dl-pinknew-5 dark:bg-dl-pinknew-7 hover:dark:bg-dl-pinknew-6':
              messages() && messages().length > 0,
            'bg-dl-tan-7': !messages() || !messages().length
          }"
          [disabled]="!messages() || !messages().length"
          (click)="onDeleteAll()"
        >
          Delete All
        </button>
        <button
          type="button"
          class="mt-dl-4 inline-flex w-full justify-center rounded-dl-1 bg-white px-dl-3 py-dl-2 text-dl-5 font-dl-3 text-dl-tan-1 shadow-sm ring-1 ring-inset ring-dl-tan-7 hover:bg-dl-tan-10 dark:bg-dl-tan-1 dark:text-dl-tan-10 hover:dark:bg-dl-tan-2 sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
